In [62]:
import os
import sys
import pandas as pd
from IPython.display import display, HTML
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h2>Loading dataset</h2>

In [2]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-11-02 10:23:01 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-11-02 10:23:01 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-11-02 10:23:01 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-11-02 10:23:01 [INFO]: Loaded successfully!

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [3]:
train_X = physionet2012_dataset['train_X']

In [4]:
female_gender_distribution_training = train_X[train_X['Gender'] == 0.0]
female_gender_missing_rate = female_gender_distribution_training.isna().sum()
female_gender_missing_rate

RecordID          0
level_1           0
Time              0
ALP            3236
ALT            3231
AST            3233
Age               0
Albumin        3260
BUN            2986
Bilirubin      3240
Cholesterol    3378
Creatinine     2986
DiasABP        2804
FiO2           2753
GCS            2170
Gender            0
Glucose        3026
HCO3           3014
HCT            2936
HR             1646
Height            0
ICUType           0
K              3020
Lactate        3015
MAP            2824
MechVent       2769
Mg             3104
NIDiasABP      2062
NIMAP          2076
NISysABP       2060
Na             3024
PaCO2          2687
PaO2           2701
Platelets      2933
RespRate       2851
SaO2           3278
SysABP         2804
Temp           2098
TroponinI      3382
TroponinT      3312
Urine          2294
WBC            2972
Weight            0
pH             2680
dtype: int64

In [5]:
male_gender_distribution_training = train_X[train_X['Gender'] == 1.0]
male_gender_missing_rate = male_gender_distribution_training.isna().sum()
male_gender_missing_rate

RecordID          0
level_1           0
Time              0
ALP            4087
ALT            4084
AST            4082
Age               0
Albumin        4109
BUN            3770
Bilirubin      4088
Cholesterol    4242
Creatinine     3769
DiasABP        3458
FiO2           3500
GCS            2771
Gender            0
Glucose        3843
HCO3           3826
HCT            3702
HR             2174
Height            0
ICUType           0
K              3831
Lactate        3775
MAP            3479
MechVent       3540
Mg             3940
NIDiasABP      2711
NIMAP          2717
NISysABP       2710
Na             3835
PaCO2          3181
PaO2           3197
Platelets      3685
RespRate       3658
SaO2           4108
SysABP         3456
Temp           2658
TroponinI      4254
TroponinT      4146
Urine          3001
WBC            3739
Weight            0
pH             3170
dtype: int64

In [6]:
ICUType_1_training = train_X[train_X['ICUType'] == 1.0]
ICUType_1_training_missing = ICUType_1_training.isna().sum()
ICUType_1_training_missing

RecordID          0
level_1           0
Time              0
ALP            1029
ALT            1026
AST            1026
Age               0
Albumin        1041
BUN             942
Bilirubin      1034
Cholesterol    1080
Creatinine      942
DiasABP         825
FiO2            973
GCS             628
Gender            0
Glucose         949
HCO3            948
HCT             940
HR              454
Height            0
ICUType           0
K               943
Lactate        1054
MAP             828
MechVent        989
Mg             1014
NIDiasABP       641
NIMAP           641
NISysABP        640
Na              947
PaCO2           975
PaO2            976
Platelets       942
RespRate        831
SaO2           1014
SysABP          825
Temp            660
TroponinI      1101
TroponinT      1034
Urine           762
WBC             945
Weight            0
pH              974
dtype: int64

In [7]:
ICUType_2_training = train_X[train_X['ICUType'] == 2.0]
ICUType_2_training_missing = ICUType_2_training.isna().sum()
ICUType_2_training_missing

RecordID          0
level_1           0
Time              0
ALP            1625
ALT            1623
AST            1623
Age               0
Albumin        1626
BUN            1556
Bilirubin      1624
Cholesterol    1636
Creatinine     1555
DiasABP        1336
FiO2           1429
GCS            1375
Gender            0
Glucose        1584
HCO3           1562
HCT            1486
HR             1226
Height            0
ICUType           0
K              1583
Lactate        1537
MAP            1336
MechVent       1397
Mg             1593
NIDiasABP      1496
NIMAP          1496
NISysABP       1496
Na             1585
PaCO2           656
PaO2            671
Platelets      1458
RespRate       1590
SaO2           1583
SysABP         1336
Temp           1304
TroponinI      1638
TroponinT      1630
Urine          1322
WBC            1511
Weight            0
pH              653
dtype: int64

In [8]:
ICUType_3_training = train_X[train_X['ICUType'] == 3.0]
ICUType_3_training_missing = ICUType_3_training.isna().sum()
ICUType_3_training_missing

RecordID          0
level_1           0
Time              0
ALP            2573
ALT            2571
AST            2571
Age               0
Albumin        2596
BUN            2406
Bilirubin      2573
Cholesterol    2725
Creatinine     2406
DiasABP        2525
FiO2           2244
GCS            1675
Gender            0
Glucose        2409
HCO3           2409
HCT            2405
HR             1218
Height            0
ICUType           0
K              2405
Lactate        2397
MAP            2542
MechVent       2284
Mg             2471
NIDiasABP      1341
NIMAP          1356
NISysABP       1339
Na             2407
PaCO2          2474
PaO2           2478
Platelets      2423
RespRate       2240
SaO2           2691
SysABP         2523
Temp           1634
TroponinI      2717
TroponinT      2652
Urine          1877
WBC            2426
Weight            0
pH             2464
dtype: int64

In [9]:
ICUType_4_training = train_X[train_X['ICUType'] == 4.0]
ICUType_4_training_missing = ICUType_4_training.isna().sum()
ICUType_4_training_missing

RecordID          0
level_1           0
Time              0
ALP            2107
ALT            2106
AST            2106
Age               0
Albumin        2117
BUN            1861
Bilirubin      2108
Cholesterol    2190
Creatinine     1861
DiasABP        1585
FiO2           1617
GCS            1269
Gender            0
Glucose        1936
HCO3           1930
HCT            1817
HR              927
Height            0
ICUType           0
K              1929
Lactate        1812
MAP            1606
MechVent       1649
Mg             1975
NIDiasABP      1302
NIMAP          1307
NISysABP       1302
Na             1929
PaCO2          1772
PaO2           1782
Platelets      1805
RespRate       1856
SaO2           2109
SysABP         1585
Temp           1166
TroponinI      2191
TroponinT      2152
Urine          1344
WBC            1839
Weight            0
pH             1768
dtype: int64

In [10]:
more_than_or_equal_to_65_train = train_X[train_X["Age"] >= 65]
more_than_or_equal_to_65_train_missing = more_than_or_equal_to_65_train.isna().sum()
more_than_or_equal_to_65_train_missing

RecordID            0
level_1             0
Time                0
ALP            188985
ALT            188912
AST            188903
Age                 0
Albumin        189415
BUN            177385
Bilirubin      188883
Cholesterol    191257
Creatinine     177302
DiasABP         81188
FiO2           160055
GCS            128075
Gender         187420
Glucose        178363
HCO3           177706
HCT            172627
HR               7564
Height              0
ICUType        187420
K              176789
Lactate        183735
MAP             81696
MechVent       162038
Mg             177578
NIDiasABP      105747
NIMAP          106760
NISysABP       105670
Na             177857
PaCO2          168099
PaO2           168144
Platelets      177094
RespRate       141058
SaO2           182402
SysABP          81182
Temp           113061
TroponinI      191138
TroponinT      188839
Urine           47419
WBC            178384
Weight          84728
pH             166979
dtype: int64

In [11]:
less_than_65_train = train_X[train_X["Age"] < 65]
less_than_65_train_missing = less_than_65_train.isna().sum()
less_than_65_train_missing

RecordID            0
level_1             0
Time                0
ALP            151673
ALT            151585
AST            151591
Age                 0
Albumin        152645
BUN            142693
Bilirubin      151542
Cholesterol    154757
Creatinine     142634
DiasABP         66900
FiO2           129144
GCS             99724
Gender         151567
Glucose        143183
HCO3           142926
HCT            139309
HR               6897
Height              0
ICUType        151567
K              142006
Lactate        147889
MAP             67535
MechVent       129555
Mg             143024
NIDiasABP       85618
NIMAP           86764
NISysABP        85561
Na             142711
PaCO2          136259
PaO2           136282
Platelets      142632
RespRate       115851
SaO2           149482
SysABP          66892
Temp            97014
TroponinI      154781
TroponinT      153867
Urine           44044
WBC            143657
Weight          67670
pH             135425
dtype: int64

In [12]:
filtered_train_X = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]

In [13]:
def classify_BMI(BMI):
    if BMI < 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [14]:
filtered_train_X_metros = filtered_train_X.copy()
filtered_train_X_metros["Height"] = filtered_train_X["Height"]/100
filtered_train_X_metros["Height"]

288       1.626
289       1.626
290       1.626
291       1.626
293       1.626
          ...
575037    1.600
575038    1.600
575039    1.600
575088    1.727
575184    1.727
Name: Height, Length: 100944, dtype: float64

In [15]:
bmi_data_train = filtered_train_X_metros
bmi_data_train["BMI"] = filtered_train_X_metros["Weight"] / (filtered_train_X_metros["Height"]**2)
bmi_data_train["Classificacao"] = bmi_data_train["BMI"].apply(classify_BMI)
bmi_data_train.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
288,132548,0,0.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,36.3,NaN,NaN,NaN,NaN,87.0,NaN,32.906233,Obesidade grau 1
289,132548,1,1.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,205.000000,35.8,NaN,NaN,120.0,NaN,87.0,NaN,32.906233,Obesidade grau 1
290,132548,2,2.0,NaN,NaN,NaN,68.0,NaN,32.0,NaN,...,212.142857,NaN,NaN,NaN,60.0,6.2,87.0,NaN,32.906233,Obesidade grau 1
291,132548,3,3.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,201.250000,NaN,NaN,NaN,140.0,NaN,87.0,NaN,32.906233,Obesidade grau 1
293,132548,5,5.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,175.000000,36.6,NaN,NaN,190.0,NaN,87.0,NaN,32.906233,Obesidade grau 1

In [16]:
classificacao_baixo_peso = bmi_data_train[bmi_data_train["Classificacao"] == "Baixo peso"]
classificacao_baixo_peso_missing = classificacao_baixo_peso.isna().sum()
classificacao_baixo_peso_missing

RecordID            0
level_1             0
Time                0
ALP              2118
ALT              2119
AST              2119
Age                 0
Albumin          2133
BUN              1993
Bilirubin        2117
Cholesterol      2145
Creatinine       1993
DiasABP           815
FiO2             1787
GCS              1442
Gender           2039
Glucose          1998
HCO3             1998
HCT              1956
HR                 58
Height              0
ICUType          2039
K                1992
Lactate          2040
MAP               820
MechVent         1763
Mg               2003
NIDiasABP        1231
NIMAP            1270
NISysABP         1231
Na               2000
PaCO2            1902
PaO2             1900
Platelets        2000
RespRate         1622
SaO2             2071
SysABP            814
Temp             1352
TroponinI        2145
TroponinT        2124
Urine             719
WBC              2017
Weight              0
pH               1891
BMI                 0
Classificacao       0
dtype: int64

In [17]:
classificacao_peso_normal = bmi_data_train[bmi_data_train["Classificacao"] == "Peso normal"]
classificacao_peso_normal_missing = classificacao_peso_normal.isna().sum()
classificacao_peso_normal_missing

RecordID             0
level_1              0
Time                 0
ALP              22684
ALT              22673
AST              22674
Age                  0
Albumin          22776
BUN              21344
Bilirubin        22659
Cholesterol      23092
Creatinine       21339
DiasABP           8956
FiO2             19271
GCS              15347
Gender           21969
Glucose          21441
HCO3             21394
HCT              20855
HR                 625
Height               0
ICUType          21969
K                21248
Lactate          22080
MAP               9069
MechVent         19408
Mg               21359
NIDiasABP        13019
NIMAP            13091
NISysABP         13013
Na               21400
PaCO2            20250
PaO2             20249
Platelets        21329
RespRate         18481
SaO2             22017
SysABP            8956
Temp             13387
TroponinI        23071
TroponinT        22880
Urine             6301
WBC              21493
Weight               0
pH               20083
BMI                  0
Classificacao        0
dtype: int64

In [18]:
classificacao_sobrepeso = bmi_data_train[bmi_data_train["Classificacao"] == "Sobrepeso"]
classificacao_sobrepeso_missing = classificacao_sobrepeso.isna().sum()
classificacao_sobrepeso_missing

RecordID             0
level_1              0
Time                 0
ALP              31689
ALT              31673
AST              31671
Age                  0
Albumin          31837
BUN              29948
Bilirubin        31663
Cholesterol      32140
Creatinine       29929
DiasABP           9928
FiO2             26805
GCS              21999
Gender           30858
Glucose          30116
HCO3             30017
HCT              29108
HR                 733
Height               0
ICUType          30858
K                29867
Lactate          30983
MAP              10012
MechVent         26968
Mg               29851
NIDiasABP        19961
NIMAP            20057
NISysABP         19948
Na               30071
PaCO2            27976
PaO2             27987
Platelets        29842
RespRate         27296
SaO2             30159
SysABP            9926
Temp             17073
TroponinI        32143
TroponinT        31890
Urine             6940
WBC              30053
Weight               0
pH               27585
BMI                  0
Classificacao        0
dtype: int64

In [19]:
classificacao_obesidade_1 = bmi_data_train[bmi_data_train["Classificacao"] == "Obesidade grau 1"]
classificacao_obesidade_1_missing = classificacao_obesidade_1.isna().sum()
classificacao_obesidade_1_missing

RecordID             0
level_1              0
Time                 0
ALP              21327
ALT              21323
AST              21323
Age                  0
Albumin          21399
BUN              20197
Bilirubin        21313
Cholesterol      21634
Creatinine       20193
DiasABP           5817
FiO2             18003
GCS              15043
Gender           20957
Glucose          20355
HCO3             20269
HCT              19713
HR                 386
Height               0
ICUType          20957
K                20162
Lactate          20791
MAP               5882
MechVent         18173
Mg               20147
NIDiasABP        14443
NIMAP            14494
NISysABP         14440
Na               20293
PaCO2            18643
PaO2             18645
Platelets        20168
RespRate         18886
SaO2             20171
SysABP            5816
Temp             10565
TroponinI        21610
TroponinT        21464
Urine             4156
WBC              20305
Weight               0
pH               18425
BMI                  0
Classificacao        0
dtype: int64

In [20]:
classificacao_obesidade_2 = bmi_data_train[bmi_data_train["Classificacao"] == "Obesidade grau 2"]
classificacao_obesidade_2_missing = classificacao_obesidade_2.isna().sum()
classificacao_obesidade_2_missing

RecordID             0
level_1              0
Time                 0
ALP              10066
ALT              10068
AST              10066
Age                  0
Albumin          10099
BUN               9501
Bilirubin        10066
Cholesterol      10195
Creatinine        9498
DiasABP           2759
FiO2              8350
GCS               7072
Gender            9922
Glucose           9541
HCO3              9537
HCT               9301
HR                 157
Height               0
ICUType           9922
K                 9470
Lactate           9725
MAP               2755
MechVent          8495
Mg                9475
NIDiasABP         6902
NIMAP             6962
NISysABP          6899
Na                9538
PaCO2             8740
PaO2              8742
Platelets         9510
RespRate          8835
SaO2              9512
SysABP            2759
Temp              4981
TroponinI        10194
TroponinT        10096
Urine             1924
WBC               9555
Weight               0
pH                8628
BMI                  0
Classificacao        0
dtype: int64

In [21]:
classificacao_obesidade_3 = bmi_data_train[bmi_data_train["Classificacao"] == "Obesidade grau 3"]
classificacao_obesidade_3_missing = classificacao_obesidade_3.isna().sum()
classificacao_obesidade_3_missing

RecordID            0
level_1             0
Time                0
ALP              9730
ALT              9721
AST              9723
Age                 0
Albumin          9778
BUN              9222
Bilirubin        9716
Cholesterol      9890
Creatinine       9219
DiasABP          3231
FiO2             7984
GCS              6999
Gender           9611
Glucose          9268
HCO3             9243
HCT              9044
HR                148
Height              0
ICUType          9611
K                9192
Lactate          9418
MAP              3255
MechVent         8063
Mg               9196
NIDiasABP        6291
NIMAP            6332
NISysABP         6285
Na               9240
PaCO2            8500
PaO2             8498
Platelets        9279
RespRate         8294
SaO2             9286
SysABP           3230
Temp             5265
TroponinI        9885
TroponinT        9815
Urine            2046
WBC              9332
Weight              0
pH               8430
BMI                 0
Classificacao       0
dtype: int64

In [22]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [23]:
df_missing = pd.DataFrame(columns=df_columns)
df_missing_transpose = df_missing.T
df_missing_transpose["Female"] = female_gender_missing_rate
df_missing_transpose["Male"] = male_gender_missing_rate
df_missing_transpose["ICUType 1"] = ICUType_1_training_missing
df_missing_transpose["ICUType 2"] = ICUType_2_training_missing
df_missing_transpose["ICUType 3"] = ICUType_3_training_missing
df_missing_transpose["ICUType 4"] = ICUType_4_training_missing
df_missing_transpose["Age 65+"] = more_than_or_equal_to_65_train_missing
df_missing_transpose["Age 65-"] = less_than_65_train_missing
df_missing_transpose["Low Weight"] = classificacao_baixo_peso_missing
df_missing_transpose["Normal Weight"] = classificacao_peso_normal_missing
df_missing_transpose["Overweight"] = classificacao_sobrepeso_missing
df_missing_transpose["Obesity Grade 1"] = classificacao_obesidade_1_missing
df_missing_transpose["Obesity Grade 2"] = classificacao_obesidade_2_missing
df_missing_transpose["Obesity Grade 3"] = classificacao_obesidade_3_missing
display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Original Missing Rate per Variable by demographics - Train</h2>"))
df_missing_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,0,0,0,0,0,0,0,0,0,0,0,0,0,0
level_1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Time,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ALP,3236,4087,1029,1625,2573,2107,188985,151673,2118,22684,31689,21327,10066,9730
ALT,3231,4084,1026,1623,2571,2106,188912,151585,2119,22673,31673,21323,10068,9721
AST,3233,4082,1026,1623,2571,2106,188903,151591,2119,22674,31671,21323,10066,9723
Age,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Albumin,3260,4109,1041,1626,2596,2117,189415,152645,2133,22776,31837,21399,10099,9778
BUN,2986,3770,942,1556,2406,1861,177385,142693,1993,21344,29948,20197,9501,9222
Bilirubin,3240,4088,1034,1624,2573,2108,188883,151542,2117,22659,31663,21313,10066,9716
Cholesterol,3378,4242,1080,1636,2725,2190,191257,154757,2145,23092,32140,21634,10195,9890
Creatinine,2986,3769,942,1555,2406,1861,177302,142634,1993,21339,29929,20193,9498,9219
DiasABP,2804,3458,825,1336,2525,1585,81188,66900,815,8956,9928,5817,2759,3231
FiO2,2753,3500,973,1429,2244,1617,160055,129144,1787,19271,26805,18003,8350,7984
GCS,2170,2771,628,1375,1675,1269,128075,99724,1442,15347,21999,15043,7072,6999
Gender,0,0,0,0,0,0,187420,151567,2039,21969,30858,20957,9922,9611
Glucose,3026,3843,949,1584,2409,1936,178363,143183,1998,21441,30116,20355,9541,9268
HCO3,3014,3826,948,1562,2409,1930,177706,142926,1998,21394,30017,20269,9537,9243
HCT,2936,3702,940,1486,2405,1817,172627,139309,1956,20855,29108,19713,9301,9044
HR,1646,2174,454,1226,1218,927,7564,6897,58,625,733,386,157,148
Height,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ICUType,0,0,0,0,0,0,187420,151567,2039,21969,30858,20957,9922,9611
K,3020,3831,943,1583,2405,1929,176789,142006,1992,21248,29867,20162,9470,9192
Lactate,3015,3775,1054,1537,2397,1812,183735,147889,2040,22080,30983,20791,9725,9418
MAP,2824,3479,828,1336,2542,1606,81696,67535,820,9069,10012,5882,2755,3255
MechVent,2769,3540,989,1397,2284,1649,162038,129555,1763,19408,26968,18173,8495,8063
Mg,3104,3940,1014,1593,2471,1975,177578,143024,2003,21359,29851,20147,9475,9196
NIDiasABP,2062,2711,641,1496,1341,1302,105747,85618,1231,13019,19961,14443,6902,6291
NIMAP,2076,2717,641,1496,1356,1307,106760,86764,1270,13091,20057,14494,6962,6332
NISysABP,2060,2710,640,1496,1339,1302,105670,85561,1231,13013,19948,14440,6899,6285
Na,3024,3835,947,1585,2407,1929,177857,142711,2000,21400,30071,20293,9538,9240
PaCO2,2687,3181,975,656,2474,1772,168099,136259,1902,20250,27976,18643,8740,8500
PaO2,2701,3197,976,671,2478,1782,168144,136282,1900,20249,27987,18645,8742,8498
Platelets,2933,3685,942,1458,2423,1805,177094,142632,2000,21329,29842,20168,9510,9279
RespRate,2851,3658,831,1590,2240,1856,141058,115851,1622,18481,27296,18886,8835,8294
SaO2,3278,4108,1014,1583,2691,2109,182402,149482,2071,22017,30159,20171,9512,9286
SysABP,2804,3456,825,1336,2523,1585,81182,66892,814,8956,9926,5816,2759,3230
Temp,2098,2658,660,1304,1634,1166,113061,97014,1352,13387,17073,10565,4981,5265
TroponinI,3382,4254,1101,1638,2717,2191,191138,154781,2145,23071,32143,21610,10194,9885
TroponinT,3312,4146,1034,1630,2652,2152,188839,153867,2124,22880,31890,21464,10096,9815
Urine,2294,3001,762,1322,1877,1344,47419,44044,719,6301,6940,4156,1924,2046
WBC,2972,3739,945,1511,2426,1839,178384,143657,2017,21493,30053,20305,9555,9332
Weight,0,0,0,0,0,0,84728,67670,0,0,0,0,0,0
pH,2680,3170,974,653,2464,1768,166979,135425,1891,20083,27585,18425,8628,8430

<h3>Validation data</h3>

In [24]:
validation_X = physionet2012_dataset['val_X']

In [25]:
female_gender_distribution_validation = validation_X[validation_X['Gender'] == 0.0]
female_gender_missing_rate_validation = female_gender_distribution_validation.isna().sum()
female_gender_missing_rate_validation

RecordID         0
level_1          0
Time             0
ALP            780
ALT            778
AST            778
Age              0
Albumin        779
BUN            709
Bilirubin      779
Cholesterol    803
Creatinine     709
DiasABP        674
FiO2           649
GCS            518
Gender           0
Glucose        720
HCO3           717
HCT            711
HR             398
Height           0
ICUType          0
K              716
Lactate        696
MAP            679
MechVent       663
Mg             749
NIDiasABP      497
NIMAP          497
NISysABP       496
Na             718
PaCO2          652
PaO2           653
Platelets      713
RespRate       690
SaO2           783
SysABP         674
Temp           484
TroponinI      802
TroponinT      795
Urine          549
WBC            719
Weight           0
pH             650
dtype: int64

In [26]:
male_gender_distribution_validation = validation_X[validation_X['Gender'] == 1.0]
male_gender_missing_rate_validation = male_gender_distribution_validation.isna().sum()
male_gender_missing_rate_validation

RecordID          0
level_1           0
Time              0
ALP            1059
ALT            1056
AST            1056
Age               0
Albumin        1061
BUN             992
Bilirubin      1056
Cholesterol    1106
Creatinine      992
DiasABP         908
FiO2            894
GCS             748
Gender            0
Glucose        1007
HCO3           1005
HCT             973
HR              577
Height            0
ICUType           0
K              1005
Lactate         983
MAP             913
MechVent        908
Mg             1023
NIDiasABP       714
NIMAP           718
NISysABP        714
Na             1005
PaCO2           828
PaO2            832
Platelets       973
RespRate        969
SaO2           1065
SysABP          908
Temp            712
TroponinI      1107
TroponinT      1089
Urine           787
WBC             986
Weight            0
pH              824
dtype: int64

In [27]:
ICUType_1_validation = validation_X[validation_X['ICUType'] == 1.0]
ICUType_1_validation_missing = ICUType_1_validation.isna().sum()
ICUType_1_validation_missing

RecordID         0
level_1          0
Time             0
ALP            288
ALT            287
AST            287
Age              0
Albumin        288
BUN            266
Bilirubin      286
Cholesterol    293
Creatinine     266
DiasABP        229
FiO2           260
GCS            178
Gender           0
Glucose        266
HCO3           266
HCT            266
HR             134
Height           0
ICUType          0
K              265
Lactate        289
MAP            230
MechVent       266
Mg             278
NIDiasABP      188
NIMAP          188
NISysABP       188
Na             266
PaCO2          270
PaO2           270
Platelets      267
RespRate       235
SaO2           281
SysABP         229
Temp           183
TroponinI      298
TroponinT      288
Urine          203
WBC            269
Weight           0
pH             269
dtype: int64

In [28]:
ICUType_2_validation = validation_X[validation_X['ICUType'] == 2.0]
ICUType_2_validation_missing = ICUType_2_validation.isna().sum()
ICUType_2_validation_missing

RecordID         0
level_1          0
Time             0
ALP            401
ALT            401
AST            401
Age              0
Albumin        403
BUN            394
Bilirubin      401
Cholesterol    409
Creatinine     394
DiasABP        351
FiO2           361
GCS            351
Gender           0
Glucose        398
HCO3           394
HCT            378
HR             319
Height           0
ICUType          0
K              398
Lactate        387
MAP            352
MechVent       352
Mg             395
NIDiasABP      370
NIMAP          369
NISysABP       370
Na             398
PaCO2          170
PaO2           174
Platelets      376
RespRate       399
SaO2           392
SysABP         351
Temp           341
TroponinI      410
TroponinT      409
Urine          348
WBC            382
Weight           0
pH             168
dtype: int64

In [29]:
ICUType_3_validation = validation_X[validation_X['ICUType'] == 3.0]
ICUType_3_validation_missing = ICUType_3_validation.isna().sum()
ICUType_3_validation_missing

RecordID         0
level_1          0
Time             0
ALP            644
ALT            641
AST            641
Age              0
Albumin        644
BUN            595
Bilirubin      643
Cholesterol    683
Creatinine     595
DiasABP        630
FiO2           549
GCS            424
Gender           0
Glucose        596
HCO3           596
HCT            601
HR             303
Height           0
ICUType          0
K              593
Lactate        583
MAP            634
MechVent       576
Mg             621
NIDiasABP      338
NIMAP          343
NISysABP       337
Na             594
PaCO2          610
PaO2           610
Platelets      605
RespRate       578
SaO2           674
SysABP         630
Temp           415
TroponinI      679
TroponinT      669
Urine          483
WBC            607
Weight           0
pH             607
dtype: int64

In [30]:
ICUType_4_validation = validation_X[validation_X['ICUType'] == 4.0]
ICUType_4_validation_missing = ICUType_4_validation.isna().sum()
ICUType_4_validation_missing

RecordID         0
level_1          0
Time             0
ALP            507
ALT            506
AST            506
Age              0
Albumin        506
BUN            447
Bilirubin      506
Cholesterol    525
Creatinine     447
DiasABP        373
FiO2           373
GCS            314
Gender           0
Glucose        468
HCO3           467
HCT            440
HR             219
Height           0
ICUType          0
K              466
Lactate        421
MAP            377
MechVent       377
Mg             479
NIDiasABP      315
NIMAP          315
NISysABP       315
Na             466
PaCO2          431
PaO2           432
Platelets      439
RespRate       448
SaO2           502
SysABP         373
Temp           258
TroponinI      523
TroponinT      519
Urine          302
WBC            448
Weight           0
pH             431
dtype: int64

In [31]:
more_than_or_equal_to_65_validation = validation_X[validation_X["Age"] >= 65]
more_than_or_equal_to_65_validation_missing = more_than_or_equal_to_65_validation.isna().sum()
more_than_or_equal_to_65_validation_missing

RecordID           0
level_1            0
Time               0
ALP            46077
ALT            46066
AST            46069
Age                0
Albumin        46192
BUN            43224
Bilirubin      46028
Cholesterol    46680
Creatinine     43211
DiasABP        18118
FiO2           38483
GCS            31784
Gender         45741
Glucose        43510
HCO3           43306
HCT            42026
HR              1969
Height             0
ICUType        45741
K              43094
Lactate        44760
MAP            18267
MechVent       38890
Mg             43323
NIDiasABP      27325
NIMAP          27528
NISysABP       27310
Na             43329
PaCO2          40667
PaO2           40672
Platelets      43098
RespRate       35962
SaO2           44442
SysABP         18115
Temp           27546
TroponinI      46654
TroponinT      46081
Urine          11746
WBC            43436
Weight         18740
pH             40391
dtype: int64

In [32]:
less_than_65_validation = validation_X[validation_X["Age"] < 65]
less_than_65_validation_missing = less_than_65_validation.isna().sum()
less_than_65_validation_missing

RecordID           0
level_1            0
Time               0
ALP            39206
ALT            39174
AST            39177
Age                0
Albumin        39417
BUN            36904
Bilirubin      39169
Cholesterol    39979
Creatinine     36898
DiasABP        17032
FiO2           33385
GCS            26123
Gender         39158
Glucose        37043
HCO3           36971
HCT            35946
HR              1772
Height             0
ICUType        39158
K              36728
Lactate        38134
MAP            17120
MechVent       33580
Mg             36986
NIDiasABP      22294
NIMAP          22620
NISysABP       22265
Na             36931
PaCO2          35218
PaO2           35236
Platelets      36833
RespRate       30203
SaO2           38535
SysABP         17029
Temp           24693
TroponinI      39995
TroponinT      39724
Urine          11639
WBC            37139
Weight         17754
pH             35018
dtype: int64

In [33]:
filtered_validation_X = validation_X[(validation_X['Height'] != -1) & (validation_X['Weight'] != -1) & (validation_X['Height'].notna()) & (validation_X['Weight'].notna())]

In [34]:
filtered_validation_X_metros = filtered_validation_X.copy()
filtered_validation_X_metros["Height"] = filtered_validation_X["Height"]/100
filtered_validation_X_metros["Height"]

240       1.803
720       1.676
738       1.676
739       1.676
740       1.676
          ...
575321    1.727
575322    1.727
575323    1.727
575325    1.727
575327    1.727
Name: Height, Length: 27735, dtype: float64

In [35]:
bmi_data_validation = filtered_validation_X_metros
bmi_data_validation["BMI"] = filtered_validation_X_metros["Weight"] / (filtered_validation_X_metros["Height"]**2)
bmi_data_validation["Classificacao"] = bmi_data_validation["BMI"].apply(classify_BMI)
bmi_data_validation.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
240,132547,0,0.0,NaN,NaN,NaN,64.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,114.0,NaN,35.068194,Obesidade grau 2
720,132575,0,0.0,NaN,NaN,NaN,78.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.5,63.0,7.34,22.428102,Peso normal
738,132575,18,18.0,NaN,NaN,NaN,78.0,NaN,NaN,NaN,...,122.0,37.4,NaN,NaN,38.0,NaN,72.4,NaN,25.774517,Sobrepeso
739,132575,19,19.0,NaN,NaN,NaN,78.0,NaN,NaN,NaN,...,121.0,37.3,NaN,NaN,45.0,NaN,72.4,NaN,25.774517,Sobrepeso
740,132575,20,20.0,NaN,NaN,NaN,78.0,NaN,NaN,NaN,...,97.5,37.3,NaN,NaN,30.0,NaN,72.4,NaN,25.774517,Sobrepeso

In [36]:
classificacao_baixo_peso_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Baixo peso"]
classificacao_baixo_peso_missing_validation = classificacao_baixo_peso_validation.isna().sum()
classificacao_baixo_peso_missing_validation

RecordID           0
level_1            0
Time               0
ALP              699
ALT              699
AST              699
Age                0
Albumin          701
BUN              654
Bilirubin        699
Cholesterol      717
Creatinine       653
DiasABP          184
FiO2             544
GCS              479
Gender           689
Glucose          657
HCO3             655
HCT              645
HR                19
Height             0
ICUType          689
K                654
Lactate          652
MAP              183
MechVent         565
Mg               656
NIDiasABP        490
NIMAP            490
NISysABP         490
Na               650
PaCO2            590
PaO2             591
Platelets        661
RespRate         556
SaO2             686
SysABP           184
Temp             470
TroponinI        718
TroponinT        714
Urine            200
WBC              663
Weight             0
pH               590
BMI                0
Classificacao      0
dtype: int64

In [37]:
classificacao_peso_normal_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Peso normal"]
classificacao_peso_normal_missing_validation = classificacao_peso_normal_validation.isna().sum()
classificacao_peso_normal_missing_validation

RecordID            0
level_1             0
Time                0
ALP              6056
ALT              6052
AST              6052
Age                 0
Albumin          6065
BUN              5708
Bilirubin        6050
Cholesterol      6142
Creatinine       5707
DiasABP          2251
FiO2             5064
GCS              4210
Gender           5863
Glucose          5745
HCO3             5720
HCT              5567
HR                162
Height              0
ICUType          5863
K                5694
Lactate          5853
MAP              2283
MechVent         5099
Mg               5728
NIDiasABP        3686
NIMAP            3714
NISysABP         3683
Na               5718
PaCO2            5384
PaO2             5388
Platelets        5705
RespRate         5052
SaO2             5881
SysABP           2251
Temp             3474
TroponinI        6139
TroponinT        6074
Urine            1685
WBC              5748
Weight              0
pH               5336
BMI                 0
Classificacao       0
dtype: int64

In [38]:
classificacao_sobrepeso_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Sobrepeso"]
classificacao_sobrepeso_missing_validation = classificacao_sobrepeso_validation.isna().sum()
classificacao_sobrepeso_missing_validation

RecordID            0
level_1             0
Time                0
ALP              9115
ALT              9113
AST              9113
Age                 0
Albumin          9150
BUN              8611
Bilirubin        9100
Cholesterol      9250
Creatinine       8608
DiasABP          3131
FiO2             7792
GCS              6528
Gender           8901
Glucose          8650
HCO3             8632
HCT              8387
HR                206
Height              0
ICUType          8901
K                8595
Lactate          8927
MAP              3151
MechVent         7896
Mg               8605
NIDiasABP        5582
NIMAP            5665
NISysABP         5577
Na               8636
PaCO2            8112
PaO2             8111
Platelets        8597
RespRate         7379
SaO2             8641
SysABP           3130
Temp             4999
TroponinI        9240
TroponinT        9179
Urine            2220
WBC              8659
Weight              0
pH               8040
BMI                 0
Classificacao       0
dtype: int64

In [39]:
classificacao_obesidade_grau_1_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Obesidade grau 1"]
classificacao_obesidade_grau_1_missing_validation = classificacao_obesidade_grau_1_validation.isna().sum()
classificacao_obesidade_grau_1_missing_validation

RecordID            0
level_1             0
Time                0
ALP              6015
ALT              6014
AST              6015
Age                 0
Albumin          6041
BUN              5675
Bilirubin        6015
Cholesterol      6107
Creatinine       5673
DiasABP          1676
FiO2             5056
GCS              4322
Gender           5916
Glucose          5712
HCO3             5684
HCT              5508
HR                100
Height              0
ICUType          5916
K                5658
Lactate          5856
MAP              1684
MechVent         5015
Mg               5652
NIDiasABP        4060
NIMAP            4087
NISysABP         4057
Na               5677
PaCO2            5231
PaO2             5232
Platelets        5672
RespRate         5316
SaO2             5700
SysABP           1676
Temp             2942
TroponinI        6099
TroponinT        6052
Urine            1129
WBC              5714
Weight              0
pH               5158
BMI                 0
Classificacao       0
dtype: int64

In [40]:
classificacao_obesidade_grau_2_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Obesidade grau 2"]
classificacao_obesidade_grau_2_missing_validation = classificacao_obesidade_grau_2_validation.isna().sum()
classificacao_obesidade_grau_2_missing_validation

RecordID            0
level_1             0
Time                0
ALP              2457
ALT              2456
AST              2456
Age                 0
Albumin          2477
BUN              2322
Bilirubin        2456
Cholesterol      2503
Creatinine       2322
DiasABP           724
FiO2             2081
GCS              1804
Gender           2423
Glucose          2340
HCO3             2333
HCT              2240
HR                 42
Height              0
ICUType          2423
K                2320
Lactate          2366
MAP               732
MechVent         2066
Mg               2327
NIDiasABP        1541
NIMAP            1568
NISysABP         1541
Na               2334
PaCO2            2152
PaO2             2153
Platelets        2312
RespRate         2202
SaO2             2335
SysABP            724
Temp             1295
TroponinI        2504
TroponinT        2477
Urine             537
WBC              2336
Weight              0
pH               2132
BMI                 0
Classificacao       0
dtype: int64

In [41]:
classificacao_obesidade_grau_3_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Obesidade grau 3"]
classificacao_obesidade_grau_3_missing_validation = classificacao_obesidade_grau_3_validation.isna().sum()
classificacao_obesidade_grau_3_missing_validation

RecordID            0
level_1             0
Time                0
ALP              2470
ALT              2470
AST              2470
Age                 0
Albumin          2481
BUN              2337
Bilirubin        2466
Cholesterol      2508
Creatinine       2340
DiasABP           771
FiO2             2004
GCS              1800
Gender           2446
Glucose          2355
HCO3             2343
HCT              2281
HR                 33
Height              0
ICUType          2446
K                2330
Lactate          2389
MAP               755
MechVent         2033
Mg               2328
NIDiasABP        1680
NIMAP            1690
NISysABP         1680
Na               2344
PaCO2            2118
PaO2             2118
Platelets        2337
RespRate         2189
SaO2             2330
SysABP            771
Temp             1246
TroponinI        2506
TroponinT        2486
Urine             612
WBC              2359
Weight              0
pH               2098
BMI                 0
Classificacao       0
dtype: int64

In [42]:
df_missing_validation = pd.DataFrame(columns=df_columns)
df_missing_transpose_validation = df_missing_validation.T
df_missing_transpose_validation["Female"] = female_gender_missing_rate_validation
df_missing_transpose_validation["Male"] = male_gender_missing_rate_validation
df_missing_transpose_validation["ICUType 1"] = ICUType_1_validation_missing
df_missing_transpose_validation["ICUType 2"] = ICUType_2_validation_missing
df_missing_transpose_validation["ICUType 3"] = ICUType_3_validation_missing
df_missing_transpose_validation["ICUType 4"] = ICUType_4_validation_missing
df_missing_transpose_validation["Age 65+"] = more_than_or_equal_to_65_validation_missing
df_missing_transpose_validation["Age 65-"] = less_than_65_validation_missing
df_missing_transpose_validation["Low Weight"] = classificacao_baixo_peso_missing_validation
df_missing_transpose_validation["Normal Weight"] = classificacao_peso_normal_missing_validation
df_missing_transpose_validation["Overweight"] = classificacao_sobrepeso_missing_validation
df_missing_transpose_validation["Obesity Grade 1"] = classificacao_obesidade_grau_1_missing_validation
df_missing_transpose_validation["Obesity Grade 2"] = classificacao_obesidade_grau_2_missing_validation
df_missing_transpose_validation["Obesity Grade 3"] = classificacao_obesidade_grau_3_missing_validation
display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Original Missing Rate per Variable by demographcs - Validation</h2>"))
df_missing_transpose_validation

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,0,0,0,0,0,0,0,0,0,0,0,0,0,0
level_1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Time,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ALP,780,1059,288,401,644,507,46077,39206,699,6056,9115,6015,2457,2470
ALT,778,1056,287,401,641,506,46066,39174,699,6052,9113,6014,2456,2470
AST,778,1056,287,401,641,506,46069,39177,699,6052,9113,6015,2456,2470
Age,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Albumin,779,1061,288,403,644,506,46192,39417,701,6065,9150,6041,2477,2481
BUN,709,992,266,394,595,447,43224,36904,654,5708,8611,5675,2322,2337
Bilirubin,779,1056,286,401,643,506,46028,39169,699,6050,9100,6015,2456,2466
Cholesterol,803,1106,293,409,683,525,46680,39979,717,6142,9250,6107,2503,2508
Creatinine,709,992,266,394,595,447,43211,36898,653,5707,8608,5673,2322,2340
DiasABP,674,908,229,351,630,373,18118,17032,184,2251,3131,1676,724,771
FiO2,649,894,260,361,549,373,38483,33385,544,5064,7792,5056,2081,2004
GCS,518,748,178,351,424,314,31784,26123,479,4210,6528,4322,1804,1800
Gender,0,0,0,0,0,0,45741,39158,689,5863,8901,5916,2423,2446
Glucose,720,1007,266,398,596,468,43510,37043,657,5745,8650,5712,2340,2355
HCO3,717,1005,266,394,596,467,43306,36971,655,5720,8632,5684,2333,2343
HCT,711,973,266,378,601,440,42026,35946,645,5567,8387,5508,2240,2281
HR,398,577,134,319,303,219,1969,1772,19,162,206,100,42,33
Height,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ICUType,0,0,0,0,0,0,45741,39158,689,5863,8901,5916,2423,2446
K,716,1005,265,398,593,466,43094,36728,654,5694,8595,5658,2320,2330
Lactate,696,983,289,387,583,421,44760,38134,652,5853,8927,5856,2366,2389
MAP,679,913,230,352,634,377,18267,17120,183,2283,3151,1684,732,755
MechVent,663,908,266,352,576,377,38890,33580,565,5099,7896,5015,2066,2033
Mg,749,1023,278,395,621,479,43323,36986,656,5728,8605,5652,2327,2328
NIDiasABP,497,714,188,370,338,315,27325,22294,490,3686,5582,4060,1541,1680
NIMAP,497,718,188,369,343,315,27528,22620,490,3714,5665,4087,1568,1690
NISysABP,496,714,188,370,337,315,27310,22265,490,3683,5577,4057,1541,1680
Na,718,1005,266,398,594,466,43329,36931,650,5718,8636,5677,2334,2344
PaCO2,652,828,270,170,610,431,40667,35218,590,5384,8112,5231,2152,2118
PaO2,653,832,270,174,610,432,40672,35236,591,5388,8111,5232,2153,2118
Platelets,713,973,267,376,605,439,43098,36833,661,5705,8597,5672,2312,2337
RespRate,690,969,235,399,578,448,35962,30203,556,5052,7379,5316,2202,2189
SaO2,783,1065,281,392,674,502,44442,38535,686,5881,8641,5700,2335,2330
SysABP,674,908,229,351,630,373,18115,17029,184,2251,3130,1676,724,771
Temp,484,712,183,341,415,258,27546,24693,470,3474,4999,2942,1295,1246
TroponinI,802,1107,298,410,679,523,46654,39995,718,6139,9240,6099,2504,2506
TroponinT,795,1089,288,409,669,519,46081,39724,714,6074,9179,6052,2477,2486
Urine,549,787,203,348,483,302,11746,11639,200,1685,2220,1129,537,612
WBC,719,986,269,382,607,448,43436,37139,663,5748,8659,5714,2336,2359
Weight,0,0,0,0,0,0,18740,17754,0,0,0,0,0,0
pH,650,824,269,168,607,431,40391,35018,590,5336,8040,5158,2132,2098

<h3>Test data</h3>

In [43]:
test_X = physionet2012_dataset['test_X']

In [44]:
female_gender_distribution_test = test_X[test_X['Gender'] == 0.0]
female_gender_missing_rate_test = female_gender_distribution_test.isna().sum()
female_gender_missing_rate_test

RecordID          0
level_1           0
Time              0
ALP            1017
ALT            1014
AST            1015
Age               0
Albumin        1026
BUN             919
Bilirubin      1015
Cholesterol    1051
Creatinine      919
DiasABP         859
FiO2            855
GCS             649
Gender            0
Glucose         935
HCO3            935
HCT             910
HR              487
Height            0
ICUType           0
K               933
Lactate         930
MAP             865
MechVent        878
Mg              952
NIDiasABP       623
NIMAP           627
NISysABP        623
Na              935
PaCO2           864
PaO2            869
Platelets       912
RespRate        857
SaO2           1029
SysABP          859
Temp            642
TroponinI      1055
TroponinT      1039
Urine           691
WBC             918
Weight            0
pH              864
dtype: int64

In [45]:
male_gender_distribution_test = test_X[test_X['Gender'] == 1.0]
male_gender_missing_rate_test = male_gender_distribution_test.isna().sum()
male_gender_missing_rate_test

RecordID          0
level_1           0
Time              0
ALP            1261
ALT            1260
AST            1259
Age               0
Albumin        1273
BUN            1171
Bilirubin      1263
Cholesterol    1335
Creatinine     1171
DiasABP        1063
FiO2           1095
GCS             887
Gender            0
Glucose        1187
HCO3           1185
HCT            1159
HR              690
Height            0
ICUType           0
K              1183
Lactate        1187
MAP            1078
MechVent       1095
Mg             1218
NIDiasABP       868
NIMAP           872
NISysABP        868
Na             1185
PaCO2          1037
PaO2           1042
Platelets      1155
RespRate       1158
SaO2           1303
SysABP         1063
Temp            857
TroponinI      1332
TroponinT      1300
Urine           930
WBC            1171
Weight            0
pH             1035
dtype: int64

In [46]:
ICUType_1_test = test_X[test_X['ICUType'] == 1.0]
ICUType_1_test_missing = ICUType_1_test.isna().sum()
ICUType_1_test_missing

RecordID         0
level_1          0
Time             0
ALP            335
ALT            335
AST            335
Age              0
Albumin        337
BUN            304
Bilirubin      336
Cholesterol    349
Creatinine     304
DiasABP        281
FiO2           305
GCS            200
Gender           0
Glucose        307
HCO3           305
HCT            304
HR             155
Height           0
ICUType          0
K              304
Lactate        332
MAP            283
MechVent       310
Mg             324
NIDiasABP      204
NIMAP          205
NISysABP       204
Na             304
PaCO2          325
PaO2           325
Platelets      303
RespRate       271
SaO2           339
SysABP         281
Temp           213
TroponinI      352
TroponinT      340
Urine          248
WBC            305
Weight           0
pH             324
dtype: int64

In [47]:
ICUType_2_test = test_X[test_X['ICUType'] == 2.0]
ICUType_2_test_missing = ICUType_2_test.isna().sum()
ICUType_2_test_missing

RecordID         0
level_1          0
Time             0
ALP            471
ALT            471
AST            471
Age              0
Albumin        473
BUN            454
Bilirubin      471
Cholesterol    477
Creatinine     454
DiasABP        387
FiO2           424
GCS            399
Gender           0
Glucose        458
HCO3           458
HCT            435
HR             355
Height           0
ICUType          0
K              458
Lactate        446
MAP            390
MechVent       414
Mg             463
NIDiasABP      432
NIMAP          432
NISysABP       432
Na             460
PaCO2          213
PaO2           218
Platelets      430
RespRate       461
SaO2           459
SysABP         387
Temp           379
TroponinI      476
TroponinT      473
Urine          388
WBC            442
Weight           0
pH             213
dtype: int64

In [48]:
ICUType_3_test = test_X[test_X['ICUType'] == 3.0]
ICUType_3_test_missing = ICUType_3_test.isna().sum()
ICUType_3_test_missing

RecordID         0
level_1          0
Time             0
ALP            815
ALT            812
AST            812
Age              0
Albumin        819
BUN            754
Bilirubin      813
Cholesterol    872
Creatinine     753
DiasABP        794
FiO2           712
GCS            539
Gender           0
Glucose        755
HCO3           756
HCT            751
HR             393
Height           0
ICUType          0
K              753
Lactate        766
MAP            803
MechVent       730
Mg             769
NIDiasABP      431
NIMAP          434
NISysABP       431
Na             755
PaCO2          803
PaO2           807
Platelets      758
RespRate       712
SaO2           868
SysABP         794
Temp           549
TroponinI      871
TroponinT      847
Urine          600
WBC            756
Weight           0
pH             802
dtype: int64

In [49]:
ICUType_4_test = test_X[test_X['ICUType'] == 4.0]
ICUType_4_test_missing = ICUType_4_test.isna().sum()
ICUType_4_test_missing

RecordID         0
level_1          0
Time             0
ALP            657
ALT            656
AST            656
Age              0
Albumin        670
BUN            578
Bilirubin      658
Cholesterol    688
Creatinine     579
DiasABP        460
FiO2           509
GCS            398
Gender           0
Glucose        602
HCO3           601
HCT            579
HR             274
Height           0
ICUType          0
K              601
Lactate        573
MAP            467
MechVent       519
Mg             614
NIDiasABP      424
NIMAP          428
NISysABP       424
Na             601
PaCO2          560
PaO2           561
Platelets      576
RespRate       571
SaO2           666
SysABP         460
Temp           358
TroponinI      688
TroponinT      679
Urine          385
WBC            586
Weight           0
pH             560
dtype: int64

In [50]:
more_than_or_equal_to_65_test = test_X[test_X["Age"] >= 65]
more_than_or_equal_to_65_test_missing = more_than_or_equal_to_65_test.isna().sum()
more_than_or_equal_to_65_test_missing

RecordID           0
level_1            0
Time               0
ALP            58018
ALT            58003
AST            58001
Age                0
Albumin        58166
BUN            54452
Bilirubin      57990
Cholesterol    58736
Creatinine     54438
DiasABP        25433
FiO2           49360
GCS            39469
Gender         57547
Glucose        54765
HCO3           54560
HCT            52938
HR              2387
Height             0
ICUType        57547
K              54252
Lactate        56466
MAP            25603
MechVent       49910
Mg             54495
NIDiasABP      31479
NIMAP          31803
NISysABP       31456
Na             54591
PaCO2          51743
PaO2           51756
Platelets      54359
RespRate       43010
SaO2           56102
SysABP         25431
Temp           35240
TroponinI      58654
TroponinT      57985
Urine          14731
WBC            54729
Weight         25806
pH             51397
dtype: int64

In [51]:
less_than_65_test = test_X[test_X["Age"] < 65]
less_than_65_test_missing = less_than_65_test.isna().sum()
less_than_65_test_missing

RecordID           0
level_1            0
Time               0
ALP            48372
ALT            48321
AST            48319
Age                0
Albumin        48682
BUN            45428
Bilirubin      48351
Cholesterol    49353
Creatinine     45414
DiasABP        21287
FiO2           40999
GCS            32150
Gender         48335
Glucose        45623
HCO3           45502
HCT            44231
HR              2151
Height             0
ICUType        48335
K              45225
Lactate        47078
MAP            21516
MechVent       41062
Mg             45515
NIDiasABP      27222
NIMAP          27544
NISysABP       27207
Na             45460
PaCO2          43351
PaO2           43367
Platelets      45335
RespRate       37230
SaO2           47670
SysABP         21286
Temp           30569
TroponinI      49360
TroponinT      49013
Urine          13599
WBC            45669
Weight         22990
pH             43099
dtype: int64

In [52]:
filtered_test_X = test_X[(test_X['Height'] != -1) & (test_X['Weight'] != -1) & (test_X['Height'].notna()) & (test_X['Weight'].notna())]

In [53]:
filtered_test_X_metros = filtered_test_X.copy()
filtered_test_X_metros["Height"] = filtered_test_X["Height"]/100
filtered_test_X_metros["Height"]

48        1.753
67        1.753
68        1.753
69        1.753
70        1.753
          ...
574841    1.651
574842    1.651
574843    1.651
574844    1.651
574845    1.651
Name: Height, Length: 30120, dtype: float64

In [54]:
bmi_data_test = filtered_test_X_metros
bmi_data_test["BMI"] = filtered_test_X_metros["Weight"] / (filtered_test_X_metros["Height"]**2)
bmi_data_test["Classificacao"] = bmi_data_test["BMI"].apply(classify_BMI)
bmi_data_test.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45,24.731460,Peso normal
67,132540,19,19.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,122.0,37.5,NaN,NaN,50.0,NaN,80.6,NaN,26.228364,Sobrepeso
68,132540,20,20.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,107.0,37.4,NaN,NaN,380.0,NaN,80.6,NaN,26.228364,Sobrepeso
69,132540,21,21.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,121.0,37.5,NaN,NaN,170.0,NaN,80.6,NaN,26.228364,Sobrepeso
70,132540,22,22.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,128.0,37.5,NaN,NaN,130.0,NaN,80.6,NaN,26.228364,Sobrepeso

In [55]:
classificacao_baixo_peso_test = bmi_data_test[bmi_data_test["Classificacao"] == "Baixo peso"]
classificacao_baixo_peso_missing_test = classificacao_baixo_peso_test.isna().sum()
classificacao_baixo_peso_missing_test

RecordID           0
level_1            0
Time               0
ALP              884
ALT              884
AST              884
Age                0
Albumin          888
BUN              820
Bilirubin        884
Cholesterol      895
Creatinine       819
DiasABP          389
FiO2             729
GCS              584
Gender           857
Glucose          822
HCO3             819
HCT              816
HR                15
Height             0
ICUType          857
K                814
Lactate          853
MAP              373
MechVent         733
Mg               823
NIDiasABP        458
NIMAP            458
NISysABP         457
Na               821
PaCO2            791
PaO2             791
Platelets        824
RespRate         770
SaO2             869
SysABP           389
Temp             557
TroponinI        888
TroponinT        882
Urine            205
WBC              828
Weight             0
pH               788
BMI                0
Classificacao      0
dtype: int64

In [56]:
classificacao_peso_normal_test = bmi_data_test[bmi_data_test["Classificacao"] == "Peso normal"]
classificacao_peso_normal_missing_test = classificacao_peso_normal_test.isna().sum()
classificacao_peso_normal_missing_test

RecordID            0
level_1             0
Time                0
ALP              7093
ALT              7093
AST              7092
Age                 0
Albumin          7118
BUN              6685
Bilirubin        7094
Cholesterol      7193
Creatinine       6686
DiasABP          3074
FiO2             6062
GCS              4843
Gender           6836
Glucose          6717
HCO3             6707
HCT              6504
HR                185
Height              0
ICUType          6836
K                6644
Lactate          6907
MAP              3123
MechVent         6073
Mg               6687
NIDiasABP        3786
NIMAP            3818
NISysABP         3783
Na               6694
PaCO2            6370
PaO2             6372
Platelets        6674
RespRate         5409
SaO2             6898
SysABP           3074
Temp             4253
TroponinI        7183
TroponinT        7123
Urine            1977
WBC              6711
Weight              0
pH               6323
BMI                 0
Classificacao       0
dtype: int64

In [57]:
classificacao_sobrepeso_test = bmi_data_test[bmi_data_test["Classificacao"] == "Sobrepeso"]
classificacao_sobrepeso_missing_test = classificacao_sobrepeso_test.isna().sum()
classificacao_sobrepeso_missing_test

RecordID            0
level_1             0
Time                0
ALP              9240
ALT              9238
AST              9238
Age                 0
Albumin          9304
BUN              8749
Bilirubin        9238
Cholesterol      9404
Creatinine       8750
DiasABP          2968
FiO2             8052
GCS              6418
Gender           9015
Glucose          8799
HCO3             8772
HCT              8484
HR                212
Height              0
ICUType          9015
K                8733
Lactate          9046
MAP              2933
MechVent         8039
Mg               8741
NIDiasABP        6091
NIMAP            6152
NISysABP         6086
Na               8778
PaCO2            8256
PaO2             8255
Platelets        8708
RespRate         7493
SaO2             8895
SysABP           2968
Temp             4671
TroponinI        9396
TroponinT        9333
Urine            2312
WBC              8774
Weight              0
pH               8133
BMI                 0
Classificacao       0
dtype: int64

In [58]:
classificacao_obesidade_grau_1_test = bmi_data_test[bmi_data_test["Classificacao"] == "Obesidade grau 1"]
classificacao_obesidade_grau_1_missing_test = classificacao_obesidade_grau_1_test.isna().sum()
classificacao_obesidade_grau_1_missing_test

RecordID            0
level_1             0
Time                0
ALP              6212
ALT              6212
AST              6213
Age                 0
Albumin          6243
BUN              5880
Bilirubin        6211
Cholesterol      6296
Creatinine       5878
DiasABP          1906
FiO2             5143
GCS              4392
Gender           6089
Glucose          5920
HCO3             5895
HCT              5714
HR                115
Height              0
ICUType          6089
K                5867
Lactate          6069
MAP              1919
MechVent         5228
Mg               5826
NIDiasABP        3823
NIMAP            3865
NISysABP         3823
Na               5898
PaCO2            5415
PaO2             5417
Platelets        5882
RespRate         5347
SaO2             5890
SysABP           1906
Temp             3320
TroponinI        6285
TroponinT        6239
Urine            1155
WBC              5912
Weight              0
pH               5330
BMI                 0
Classificacao       0
dtype: int64

In [59]:
classificacao_obesidade_grau_2_test = bmi_data_test[bmi_data_test["Classificacao"] == "Obesidade grau 2"]
classificacao_obesidade_grau_2_missing_test = classificacao_obesidade_grau_2_test.isna().sum()
classificacao_obesidade_grau_2_missing_test

RecordID            0
level_1             0
Time                0
ALP              3152
ALT              3151
AST              3153
Age                 0
Albumin          3167
BUN              2974
Bilirubin        3150
Cholesterol      3203
Creatinine       2975
DiasABP           916
FiO2             2679
GCS              2236
Gender           3105
Glucose          3010
HCO3             2984
HCT              2900
HR                 61
Height              0
ICUType          3105
K                2987
Lactate          3049
MAP               917
MechVent         2714
Mg               2982
NIDiasABP        2037
NIMAP            2048
NISysABP         2037
Na               2999
PaCO2            2757
PaO2             2756
Platelets        2978
RespRate         2675
SaO2             2962
SysABP            915
Temp             1475
TroponinI        3203
TroponinT        3181
Urine             530
WBC              2996
Weight              0
pH               2729
BMI                 0
Classificacao       0
dtype: int64

In [60]:
classificacao_obesidade_grau_3_test = bmi_data_test[bmi_data_test["Classificacao"] == "Obesidade grau 3"]
classificacao_obesidade_grau_3_missing_test = classificacao_obesidade_grau_3_test.isna().sum()
classificacao_obesidade_grau_3_missing_test

RecordID            0
level_1             0
Time                0
ALP              2455
ALT              2455
AST              2455
Age                 0
Albumin          2468
BUN              2334
Bilirubin        2457
Cholesterol      2492
Creatinine       2333
DiasABP           508
FiO2             1996
GCS              1755
Gender           2425
Glucose          2355
HCO3             2339
HCT              2276
HR                 36
Height              0
ICUType          2425
K                2344
Lactate          2375
MAP               505
MechVent         2005
Mg               2326
NIDiasABP        1902
NIMAP            1910
NISysABP         1899
Na               2344
PaCO2            2066
PaO2             2062
Platelets        2317
RespRate         2257
SaO2             2269
SysABP            508
Temp             1162
TroponinI        2497
TroponinT        2467
Urine             379
WBC              2330
Weight              0
pH               2042
BMI                 0
Classificacao       0
dtype: int64

In [61]:
df_missing_test = pd.DataFrame(columns=df_columns)
df_missing_transpose_test = df_missing_test.T
df_missing_transpose_test ["Female"] = female_gender_missing_rate_test
df_missing_transpose_test ["Male"] = male_gender_missing_rate_test
df_missing_transpose_test ["ICUType 2"] = ICUType_2_test_missing
df_missing_transpose_test ["ICUType 3"] = ICUType_3_test_missing
df_missing_transpose_test ["ICUType 4"] = ICUType_4_test_missing
df_missing_transpose_test["Age 65+"] = more_than_or_equal_to_65_test_missing
df_missing_transpose_test["Age 65-"] = less_than_65_test_missing
df_missing_transpose_test ["Low Weight"] = classificacao_baixo_peso_missing_test
df_missing_transpose_test ["Normal Weight"] = classificacao_peso_normal_missing_test
df_missing_transpose_test ["Overweight"] = classificacao_sobrepeso_missing_test
df_missing_transpose_test ["Obesity Grade 1"] = classificacao_obesidade_grau_1_missing_test
df_missing_transpose_test ["Obesity Grade 2"] = classificacao_obesidade_grau_2_missing_test
df_missing_transpose_test ["Obesity Grade 3"] = classificacao_obesidade_grau_3_missing_test
display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>original Missing rate per Variable by demographics - Test</h2>"))
df_missing_transpose_test

,Female,Male,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,0,0,0,0,0,0,0,0,0,0,0,0,0
level_1,0,0,0,0,0,0,0,0,0,0,0,0,0
Time,0,0,0,0,0,0,0,0,0,0,0,0,0
ALP,1017,1261,471,815,657,58018,48372,884,7093,9240,6212,3152,2455
ALT,1014,1260,471,812,656,58003,48321,884,7093,9238,6212,3151,2455
AST,1015,1259,471,812,656,58001,48319,884,7092,9238,6213,3153,2455
Age,0,0,0,0,0,0,0,0,0,0,0,0,0
Albumin,1026,1273,473,819,670,58166,48682,888,7118,9304,6243,3167,2468
BUN,919,1171,454,754,578,54452,45428,820,6685,8749,5880,2974,2334
Bilirubin,1015,1263,471,813,658,57990,48351,884,7094,9238,6211,3150,2457
Cholesterol,1051,1335,477,872,688,58736,49353,895,7193,9404,6296,3203,2492
Creatinine,919,1171,454,753,579,54438,45414,819,6686,8750,5878,2975,2333
DiasABP,859,1063,387,794,460,25433,21287,389,3074,2968,1906,916,508
FiO2,855,1095,424,712,509,49360,40999,729,6062,8052,5143,2679,1996
GCS,649,887,399,539,398,39469,32150,584,4843,6418,4392,2236,1755
Gender,0,0,0,0,0,57547,48335,857,6836,9015,6089,3105,2425
Glucose,935,1187,458,755,602,54765,45623,822,6717,8799,5920,3010,2355
HCO3,935,1185,458,756,601,54560,45502,819,6707,8772,5895,2984,2339
HCT,910,1159,435,751,579,52938,44231,816,6504,8484,5714,2900,2276
HR,487,690,355,393,274,2387,2151,15,185,212,115,61,36
Height,0,0,0,0,0,0,0,0,0,0,0,0,0
ICUType,0,0,0,0,0,57547,48335,857,6836,9015,6089,3105,2425
K,933,1183,458,753,601,54252,45225,814,6644,8733,5867,2987,2344
Lactate,930,1187,446,766,573,56466,47078,853,6907,9046,6069,3049,2375
MAP,865,1078,390,803,467,25603,21516,373,3123,2933,1919,917,505
MechVent,878,1095,414,730,519,49910,41062,733,6073,8039,5228,2714,2005
Mg,952,1218,463,769,614,54495,45515,823,6687,8741,5826,2982,2326
NIDiasABP,623,868,432,431,424,31479,27222,458,3786,6091,3823,2037,1902
NIMAP,627,872,432,434,428,31803,27544,458,3818,6152,3865,2048,1910
NISysABP,623,868,432,431,424,31456,27207,457,3783,6086,3823,2037,1899
Na,935,1185,460,755,601,54591,45460,821,6694,8778,5898,2999,2344
PaCO2,864,1037,213,803,560,51743,43351,791,6370,8256,5415,2757,2066
PaO2,869,1042,218,807,561,51756,43367,791,6372,8255,5417,2756,2062
Platelets,912,1155,430,758,576,54359,45335,824,6674,8708,5882,2978,2317
RespRate,857,1158,461,712,571,43010,37230,770,5409,7493,5347,2675,2257
SaO2,1029,1303,459,868,666,56102,47670,869,6898,8895,5890,2962,2269
SysABP,859,1063,387,794,460,25431,21286,389,3074,2968,1906,915,508
Temp,642,857,379,549,358,35240,30569,557,4253,4671,3320,1475,1162
TroponinI,1055,1332,476,871,688,58654,49360,888,7183,9396,6285,3203,2497
TroponinT,1039,1300,473,847,679,57985,49013,882,7123,9333,6239,3181,2467
Urine,691,930,388,600,385,14731,13599,205,1977,2312,1155,530,379
WBC,918,1171,442,756,586,54729,45669,828,6711,8774,5912,2996,2330
Weight,0,0,0,0,0,25806,22990,0,0,0,0,0,0
pH,864,1035,213,802,560,51397,43099,788,6323,8133,5330,2729,2042