In [70]:
import os
import sys
import pandas as pd
from IPython.display import display, HTML
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h2>Loading dataset</h2>

In [71]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-11-03 16:17:43 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-11-03 16:17:43 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-11-03 16:17:43 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-11-03 16:17:43 [INFO]: Loaded successfully!

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [72]:
train_X = physionet2012_dataset['train_X']

In [73]:
female_gender_distribution_training = train_X[train_X['Gender'] == 0.0]
female_gender_missing_rate = female_gender_distribution_training.isna().sum()
female_gender_missing_rate

RecordID          0
level_1           0
Time              0
ALP            3216
ALT            3208
AST            3210
Age               0
Albumin        3231
BUN            2947
Bilirubin      3217
Cholesterol    3338
Creatinine     2947
DiasABP        2779
FiO2           2741
GCS            2140
Gender            0
Glucose        2991
HCO3           2981
HCT            2912
HR             1622
Height            0
ICUType           0
K              2983
Lactate        2955
MAP            2797
MechVent       2770
Mg             3073
NIDiasABP      2032
NIMAP          2042
NISysABP       2030
Na             2988
PaCO2          2647
PaO2           2653
Platelets      2909
RespRate       2799
SaO2           3244
SysABP         2779
Temp           2063
TroponinI      3349
TroponinT      3283
Urine          2272
WBC            2941
Weight            0
pH             2640
dtype: int64

In [74]:
male_gender_distribution_training = train_X[train_X['Gender'] == 1.0]
male_gender_missing_rate = male_gender_distribution_training.isna().sum()
male_gender_missing_rate

RecordID          0
level_1           0
Time              0
ALP            4102
ALT            4097
AST            4094
Age               0
Albumin        4127
BUN            3788
Bilirubin      4103
Cholesterol    4284
Creatinine     3787
DiasABP        3481
FiO2           3568
GCS            2809
Gender            0
Glucose        3848
HCO3           3837
HCT            3724
HR             2218
Height            0
ICUType           0
K              3838
Lactate        3807
MAP            3498
MechVent       3595
Mg             3943
NIDiasABP      2764
NIMAP          2771
NISysABP       2764
Na             3841
PaCO2          3235
PaO2           3248
Platelets      3712
RespRate       3715
SaO2           4147
SysABP         3479
Temp           2721
TroponinI      4289
TroponinT      4181
Urine          3013
WBC            3766
Weight            0
pH             3222
dtype: int64

In [75]:
ICUType_1_training = train_X[train_X['ICUType'] == 1.0]
ICUType_1_training_missing = ICUType_1_training.isna().sum()
ICUType_1_training_missing

RecordID          0
level_1           0
Time              0
ALP            1059
ALT            1056
AST            1055
Age               0
Albumin        1065
BUN             977
Bilirubin      1063
Cholesterol    1103
Creatinine      977
DiasABP         856
FiO2           1005
GCS             630
Gender            0
Glucose         982
HCO3            981
HCT             972
HR              491
Height            0
ICUType           0
K               976
Lactate        1078
MAP             859
MechVent       1020
Mg             1041
NIDiasABP       670
NIMAP           671
NISysABP        670
Na              979
PaCO2           998
PaO2            998
Platelets       973
RespRate        859
SaO2           1041
SysABP          856
Temp            675
TroponinI      1128
TroponinT      1064
Urine           763
WBC             977
Weight            0
pH              995
dtype: int64

In [76]:
ICUType_2_training = train_X[train_X['ICUType'] == 2.0]
ICUType_2_training_missing = ICUType_2_training.isna().sum()
ICUType_2_training_missing

RecordID          0
level_1           0
Time              0
ALP            1605
ALT            1604
AST            1604
Age               0
Albumin        1606
BUN            1537
Bilirubin      1605
Cholesterol    1621
Creatinine     1536
DiasABP        1332
FiO2           1437
GCS            1363
Gender            0
Glucose        1559
HCO3           1542
HCT            1470
HR             1226
Height            0
ICUType           0
K              1559
Lactate        1514
MAP            1333
MechVent       1404
Mg             1571
NIDiasABP      1478
NIMAP          1478
NISysABP       1478
Na             1561
PaCO2           652
PaO2            663
Platelets      1444
RespRate       1575
SaO2           1561
SysABP         1332
Temp           1311
TroponinI      1622
TroponinT      1613
Urine          1324
WBC            1493
Weight            0
pH              648
dtype: int64

In [77]:
ICUType_3_training = train_X[train_X['ICUType'] == 3.0]
ICUType_3_training_missing = ICUType_3_training.isna().sum()
ICUType_3_training_missing

RecordID          0
level_1           0
Time              0
ALP            2595
ALT            2588
AST            2588
Age               0
Albumin        2609
BUN            2401
Bilirubin      2592
Cholesterol    2756
Creatinine     2400
DiasABP        2548
FiO2           2280
GCS            1711
Gender            0
Glucose        2405
HCO3           2406
HCT            2409
HR             1245
Height            0
ICUType           0
K              2399
Lactate        2405
MAP            2564
MechVent       2335
Mg             2471
NIDiasABP      1376
NIMAP          1387
NISysABP       1374
Na             2401
PaCO2          2500
PaO2           2500
Platelets      2427
RespRate       2279
SaO2           2726
SysABP         2546
Temp           1688
TroponinI      2748
TroponinT      2680
Urine          1920
WBC            2428
Weight            0
pH             2490
dtype: int64

In [78]:
ICUType_4_training = train_X[train_X['ICUType'] == 4.0]
ICUType_4_training_missing = ICUType_4_training.isna().sum()
ICUType_4_training_missing

RecordID          0
level_1           0
Time              0
ALP            2067
ALT            2065
AST            2065
Age               0
Albumin        2086
BUN            1826
Bilirubin      2068
Cholesterol    2150
Creatinine     1827
DiasABP        1530
FiO2           1594
GCS            1249
Gender            0
Glucose        1899
HCO3           1895
HCT            1792
HR              880
Height            0
ICUType           0
K              1893
Lactate        1772
MAP            1545
MechVent       1613
Mg             1939
NIDiasABP      1276
NIMAP          1281
NISysABP       1276
Na             1894
PaCO2          1739
PaO2           1747
Platelets      1784
RespRate       1806
SaO2           2071
SysABP         1530
Temp           1115
TroponinI      2148
TroponinT      2114
Urine          1285
WBC            1816
Weight            0
pH             1736
dtype: int64

In [79]:
more_than_or_equal_to_65_train = train_X[train_X['Age'] >= 65].groupby('RecordID').first().reset_index()
more_than_or_equal_to_65_train = more_than_or_equal_to_65_train[more_than_or_equal_to_65_train["Gender"] != -1.0]
more_than_or_equal_to_65_train_missing = more_than_or_equal_to_65_train.isna().sum()
more_than_or_equal_to_65_train_missing

RecordID          0
level_1           0
Time              0
ALP            2565
ALT            2529
AST            2524
Age               0
Albumin        2561
BUN              48
Bilirubin      2519
Cholesterol    3803
Creatinine       48
DiasABP        1209
FiO2           1338
GCS              60
Gender            0
Glucose          88
HCO3             54
HCT              52
HR               59
Height            0
ICUType           0
K                79
Lactate        1904
MAP            1213
MechVent       1565
Mg               73
NIDiasABP       536
NIMAP           544
NISysABP        527
Na               55
PaCO2          1012
PaO2           1013
Platelets        52
RespRate       2997
SaO2           2154
SysABP         1209
Temp             60
TroponinI      3925
TroponinT      3019
Urine           101
WBC              57
Weight            0
pH              993
dtype: int64

In [80]:
less_than_65_train = train_X[train_X['Age'] < 65].groupby('RecordID').first().reset_index()
less_than_65_train = less_than_65_train[less_than_65_train["Gender"] != -1.0]
less_than_65_train_missing = less_than_65_train.isna().sum()
less_than_65_train_missing

RecordID          0
level_1           0
Time              0
ALP            1856
ALT            1810
AST            1812
Age               0
Albumin        1983
BUN              65
Bilirubin      1829
Cholesterol    3249
Creatinine       65
DiasABP        1090
FiO2           1154
GCS              58
Gender            0
Glucose          86
HCO3             71
HCT              61
HR               58
Height            0
ICUType           0
K                76
Lactate        1558
MAP            1101
MechVent       1259
Mg              100
NIDiasABP       422
NIMAP           427
NISysABP        415
Na               72
PaCO2           862
PaO2            862
Platelets        66
RespRate       2530
SaO2           2084
SysABP         1090
Temp             58
TroponinI      3390
TroponinT      2971
Urine            99
WBC              69
Weight            0
pH              845
dtype: int64

In [81]:
filtered_train_X = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]

In [82]:
filtered_train_X = filtered_train_X.groupby("RecordID").first().reset_index()

In [83]:
def classify_BMI(BMI):
    if BMI < 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [84]:
filtered_train_X_metros = filtered_train_X.copy()
filtered_train_X_metros["Height"] = filtered_train_X["Height"]/100
filtered_train_X_metros["Height"]

0       1.753
1       1.626
2       1.626
3       1.575
4       1.702
        ...
4003    1.829
4004    1.473
4005    1.524
4006    1.727
4007    1.727
Name: Height, Length: 4008, dtype: float64

In [85]:
bmi_data_train = filtered_train_X_metros
bmi_data_train["BMI"] = filtered_train_X_metros["Weight"] / (filtered_train_X_metros["Height"]**2)
bmi_data_train["Classificacao"] = bmi_data_train["BMI"].apply(classify_BMI)
bmi_data_train.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
0,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,21.0,NaN,...,122.00,37.5,NaN,NaN,50.0,13.3,76.0,7.45,24.731460,Peso normal
1,132548,0,0.0,NaN,NaN,NaN,68.0,NaN,32.0,NaN,...,205.00,36.3,0.7,NaN,120.0,6.2,87.0,NaN,32.906233,Obesidade grau 1
2,132551,0,0.0,47.0,46.0,82.0,78.0,1.9,81.0,0.3,...,102.75,38.0,3.5,NaN,120.0,16.1,48.4,7.40,18.306456,Baixo peso
3,132567,0,0.0,NaN,NaN,NaN,71.0,NaN,9.0,NaN,...,111.50,35.6,NaN,NaN,15.0,9.0,56.0,7.44,22.574956,Peso normal
4,132570,0,0.0,19.0,15.0,20.0,84.0,NaN,83.0,0.1,...,NaN,36.6,NaN,NaN,600.0,8.8,102.6,NaN,35.418344,Obesidade grau 2

In [86]:
classificacao_baixo_peso = bmi_data_train[bmi_data_train["Classificacao"] == "Baixo peso"].groupby("RecordID").first().reset_index()
classificacao_baixo_peso = classificacao_baixo_peso[classificacao_baixo_peso["Gender"] != -1.0]
classificacao_baixo_peso_missing = classificacao_baixo_peso.isna().sum()
classificacao_baixo_peso_missing

RecordID           0
level_1            0
Time               0
ALP               84
ALT               84
AST               84
Age                0
Albumin           86
BUN               44
Bilirubin         83
Cholesterol      104
Creatinine        44
DiasABP           44
FiO2              53
GCS               30
Gender             0
Glucose           47
HCO3              44
HCT               44
HR                21
Height             0
ICUType            0
K                 46
Lactate           68
MAP               44
MechVent          57
Mg                44
NIDiasABP         38
NIMAP             39
NISysABP          38
Na                43
PaCO2             44
PaO2              44
Platelets         44
RespRate          98
SaO2              74
SysABP            44
Temp              26
TroponinI        106
TroponinT         96
Urine             34
WBC               45
Weight             0
pH                43
BMI                0
Classificacao      0
dtype: int64

In [87]:
classificacao_peso_normal = bmi_data_train[bmi_data_train["Classificacao"] == "Peso normal"].groupby("RecordID").first().reset_index()
classificacao_peso_normal = classificacao_peso_normal[classificacao_peso_normal["Gender"] != -1.0]
classificacao_peso_normal_missing = classificacao_peso_normal.isna().sum()
classificacao_peso_normal_missing

RecordID            0
level_1             0
Time                0
ALP               900
ALT               896
AST               895
Age                 0
Albumin           910
BUN               389
Bilirubin         900
Cholesterol      1123
Creatinine        389
DiasABP           402
FiO2              562
GCS               215
Gender              0
Glucose           419
HCO3              402
HCT               367
HR                174
Height              0
ICUType             0
K                 408
Lactate           751
MAP               404
MechVent          563
Mg                417
NIDiasABP         403
NIMAP             403
NISysABP          401
Na                405
PaCO2             420
PaO2              423
Platelets         373
RespRate          995
SaO2              747
SysABP            402
Temp              219
TroponinI        1117
TroponinT        1025
Urine             265
WBC               383
Weight              0
pH                409
BMI                 0
Classificacao       0
dtype: int64

In [88]:
classificacao_sobrepeso = bmi_data_train[bmi_data_train["Classificacao"] == "Sobrepeso"].groupby("RecordID").first().reset_index()
classificacao_sobrepeso = classificacao_sobrepeso[classificacao_sobrepeso["Gender"] != -1.0]
classificacao_sobrepeso_missing = classificacao_sobrepeso.isna().sum()
classificacao_sobrepeso_missing

RecordID            0
level_1             0
Time                0
ALP              1025
ALT              1019
AST              1019
Age                 0
Albumin          1072
BUN               407
Bilirubin        1013
Cholesterol      1288
Creatinine        404
DiasABP           399
FiO2              620
GCS               235
Gender              0
Glucose           470
HCO3              423
HCT               379
HR                169
Height              0
ICUType             0
K                 447
Lactate           868
MAP               403
MechVent          613
Mg                427
NIDiasABP         451
NIMAP             456
NISysABP          448
Na                430
PaCO2             430
PaO2              434
Platelets         389
RespRate         1148
SaO2              767
SysABP            399
Temp              220
TroponinI        1322
TroponinT        1207
Urine             241
WBC               407
Weight              0
pH                416
BMI                 0
Classificacao       0
dtype: int64

In [89]:
classificacao_obesidade_1 = bmi_data_train[bmi_data_train["Classificacao"] == "Obesidade grau 1"].groupby("RecordID").first().reset_index()
classificacao_obesidade_1 = classificacao_obesidade_1[classificacao_obesidade_1["Gender"] != -1.0]
classificacao_obesidade_1_missing = classificacao_obesidade_1.isna().sum()
classificacao_obesidade_1_missing

RecordID           0
level_1            0
Time               0
ALP              537
ALT              533
AST              533
Age                0
Albumin          553
BUN              221
Bilirubin        535
Cholesterol      693
Creatinine       221
DiasABP          213
FiO2             341
GCS              132
Gender             0
Glucose          246
HCO3             225
HCT              198
HR               100
Height             0
ICUType            0
K                240
Lactate          473
MAP              216
MechVent         348
Mg               238
NIDiasABP        255
NIMAP            256
NISysABP         254
Na               233
PaCO2            222
PaO2             222
Platelets        208
RespRate         611
SaO2             431
SysABP           213
Temp             120
TroponinI        701
TroponinT        627
Urine            129
WBC              214
Weight             0
pH               213
BMI                0
Classificacao      0
dtype: int64

In [90]:
classificacao_obesidade_2 = bmi_data_train[bmi_data_train["Classificacao"] == "Obesidade grau 2"].groupby("RecordID").first().reset_index()
classificacao_obesidade_2 = classificacao_obesidade_2[classificacao_obesidade_2["Gender"] != -1.0]
classificacao_obesidade_2_missing = classificacao_obesidade_2.isna().sum()
classificacao_obesidade_2_missing

RecordID           0
level_1            0
Time               0
ALP              234
ALT              235
AST              235
Age                0
Albumin          250
BUN               95
Bilirubin        234
Cholesterol      299
Creatinine        94
DiasABP          102
FiO2             132
GCS               54
Gender             0
Glucose          114
HCO3             100
HCT               89
HR                45
Height             0
ICUType            0
K                108
Lactate          188
MAP              102
MechVent         142
Mg               106
NIDiasABP        109
NIMAP            110
NISysABP         108
Na               104
PaCO2            106
PaO2             106
Platelets         88
RespRate         266
SaO2             186
SysABP           102
Temp              55
TroponinI        307
TroponinT        270
Urine             63
WBC               95
Weight             0
pH               105
BMI                0
Classificacao      0
dtype: int64

In [91]:
classificacao_obesidade_3 = bmi_data_train[bmi_data_train["Classificacao"] == "Obesidade grau 3"].groupby("RecordID").first().reset_index()
classificacao_obesidade_3 = classificacao_obesidade_3[classificacao_obesidade_3["Gender"] != -1.0]
classificacao_obesidade_3_missing = classificacao_obesidade_3.isna().sum()
classificacao_obesidade_3_missing

RecordID           0
level_1            0
Time               0
ALP              185
ALT              184
AST              184
Age                0
Albumin          195
BUN               74
Bilirubin        187
Cholesterol      250
Creatinine        74
DiasABP           89
FiO2             111
GCS               37
Gender             0
Glucose           83
HCO3              74
HCT               68
HR                28
Height             0
ICUType            0
K                 78
Lactate          165
MAP               90
MechVent         117
Mg                79
NIDiasABP         85
NIMAP             85
NISysABP          85
Na                76
PaCO2             84
PaO2              84
Platelets         69
RespRate         221
SaO2             159
SysABP            89
Temp              39
TroponinI        259
TroponinT        224
Urine             43
WBC               70
Weight             0
pH                83
BMI                0
Classificacao      0
dtype: int64

In [92]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [93]:
df_missing = pd.DataFrame(columns=df_columns)
df_missing_transpose = df_missing.T
df_missing_transpose["Female"] = female_gender_missing_rate
df_missing_transpose["Male"] = male_gender_missing_rate
df_missing_transpose["ICUType 1"] = ICUType_1_training_missing
df_missing_transpose["ICUType 2"] = ICUType_2_training_missing
df_missing_transpose["ICUType 3"] = ICUType_3_training_missing
df_missing_transpose["ICUType 4"] = ICUType_4_training_missing
df_missing_transpose["Age 65+"] = more_than_or_equal_to_65_train_missing
df_missing_transpose["Age 65-"] = less_than_65_train_missing
df_missing_transpose["Low Weight"] = classificacao_baixo_peso_missing
df_missing_transpose["Normal Weight"] = classificacao_peso_normal_missing
df_missing_transpose["Overweight"] = classificacao_sobrepeso_missing
df_missing_transpose["Obesity Grade 1"] = classificacao_obesidade_1_missing
df_missing_transpose["Obesity Grade 2"] = classificacao_obesidade_2_missing
df_missing_transpose["Obesity Grade 3"] = classificacao_obesidade_3_missing
display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Original Missing Rate per Variable by demographics - Train</h2>"))
df_missing_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,0,0,0,0,0,0,0,0,0,0,0,0,0,0
level_1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Time,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ALP,3216,4102,1059,1605,2595,2067,2565,1856,84,900,1025,537,234,185
ALT,3208,4097,1056,1604,2588,2065,2529,1810,84,896,1019,533,235,184
AST,3210,4094,1055,1604,2588,2065,2524,1812,84,895,1019,533,235,184
Age,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Albumin,3231,4127,1065,1606,2609,2086,2561,1983,86,910,1072,553,250,195
BUN,2947,3788,977,1537,2401,1826,48,65,44,389,407,221,95,74
Bilirubin,3217,4103,1063,1605,2592,2068,2519,1829,83,900,1013,535,234,187
Cholesterol,3338,4284,1103,1621,2756,2150,3803,3249,104,1123,1288,693,299,250
Creatinine,2947,3787,977,1536,2400,1827,48,65,44,389,404,221,94,74
DiasABP,2779,3481,856,1332,2548,1530,1209,1090,44,402,399,213,102,89
FiO2,2741,3568,1005,1437,2280,1594,1338,1154,53,562,620,341,132,111
GCS,2140,2809,630,1363,1711,1249,60,58,30,215,235,132,54,37
Gender,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Glucose,2991,3848,982,1559,2405,1899,88,86,47,419,470,246,114,83
HCO3,2981,3837,981,1542,2406,1895,54,71,44,402,423,225,100,74
HCT,2912,3724,972,1470,2409,1792,52,61,44,367,379,198,89,68
HR,1622,2218,491,1226,1245,880,59,58,21,174,169,100,45,28
Height,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ICUType,0,0,0,0,0,0,0,0,0,0,0,0,0,0
K,2983,3838,976,1559,2399,1893,79,76,46,408,447,240,108,78
Lactate,2955,3807,1078,1514,2405,1772,1904,1558,68,751,868,473,188,165
MAP,2797,3498,859,1333,2564,1545,1213,1101,44,404,403,216,102,90
MechVent,2770,3595,1020,1404,2335,1613,1565,1259,57,563,613,348,142,117
Mg,3073,3943,1041,1571,2471,1939,73,100,44,417,427,238,106,79
NIDiasABP,2032,2764,670,1478,1376,1276,536,422,38,403,451,255,109,85
NIMAP,2042,2771,671,1478,1387,1281,544,427,39,403,456,256,110,85
NISysABP,2030,2764,670,1478,1374,1276,527,415,38,401,448,254,108,85
Na,2988,3841,979,1561,2401,1894,55,72,43,405,430,233,104,76
PaCO2,2647,3235,998,652,2500,1739,1012,862,44,420,430,222,106,84
PaO2,2653,3248,998,663,2500,1747,1013,862,44,423,434,222,106,84
Platelets,2909,3712,973,1444,2427,1784,52,66,44,373,389,208,88,69
RespRate,2799,3715,859,1575,2279,1806,2997,2530,98,995,1148,611,266,221
SaO2,3244,4147,1041,1561,2726,2071,2154,2084,74,747,767,431,186,159
SysABP,2779,3479,856,1332,2546,1530,1209,1090,44,402,399,213,102,89
Temp,2063,2721,675,1311,1688,1115,60,58,26,219,220,120,55,39
TroponinI,3349,4289,1128,1622,2748,2148,3925,3390,106,1117,1322,701,307,259
TroponinT,3283,4181,1064,1613,2680,2114,3019,2971,96,1025,1207,627,270,224
Urine,2272,3013,763,1324,1920,1285,101,99,34,265,241,129,63,43
WBC,2941,3766,977,1493,2428,1816,57,69,45,383,407,214,95,70
Weight,0,0,0,0,0,0,0,0,0,0,0,0,0,0
pH,2640,3222,995,648,2490,1736,993,845,43,409,416,213,105,83

<h3>Validation data</h3>

In [94]:
validation_X = physionet2012_dataset['val_X']

In [95]:
female_gender_distribution_validation = validation_X[validation_X['Gender'] == 0.0]
female_gender_missing_rate_validation = female_gender_distribution_validation.isna().sum()
female_gender_missing_rate_validation

RecordID         0
level_1          0
Time             0
ALP            838
ALT            836
AST            836
Age              0
Albumin        842
BUN            768
Bilirubin      838
Cholesterol    864
Creatinine     768
DiasABP        701
FiO2           701
GCS            549
Gender           0
Glucose        777
HCO3           774
HCT            763
HR             417
Height           0
ICUType          0
K              775
Lactate        769
MAP            706
MechVent       707
Mg             797
NIDiasABP      532
NIMAP          535
NISysABP       532
Na             776
PaCO2          715
PaO2           720
Platelets      758
RespRate       725
SaO2           845
SysABP         701
Temp           525
TroponinI      865
TroponinT      848
Urine          570
WBC            769
Weight           0
pH             715
dtype: int64

In [96]:
male_gender_distribution_validation = validation_X[validation_X['Gender'] == 1.0]
male_gender_missing_rate_validation = male_gender_distribution_validation.isna().sum()
male_gender_missing_rate_validation

RecordID          0
level_1           0
Time              0
ALP             999
ALT             998
AST             998
Age               0
Albumin        1002
BUN             939
Bilirubin       999
Cholesterol    1044
Creatinine      939
DiasABP         856
FiO2            841
GCS             692
Gender            0
Glucose         953
HCO3            948
HCT             914
HR              525
Height            0
ICUType           0
K               949
Lactate         934
MAP             863
MechVent        856
Mg              977
NIDiasABP       654
NIMAP           658
NISysABP        654
Na              950
PaCO2           801
PaO2            805
Platelets       910
RespRate        879
SaO2           1012
SysABP          856
Temp            653
TroponinI      1045
TroponinT      1017
Urine           733
WBC             920
Weight            0
pH              801
dtype: int64

In [97]:
ICUType_1_validation = validation_X[validation_X['ICUType'] == 1.0]
ICUType_1_validation_missing = ICUType_1_validation.isna().sum()
ICUType_1_validation_missing

RecordID         0
level_1          0
Time             0
ALP            269
ALT            268
AST            268
Age              0
Albumin        271
BUN            242
Bilirubin      269
Cholesterol    279
Creatinine     242
DiasABP        228
FiO2           250
GCS            164
Gender           0
Glucose        244
HCO3           243
HCT            240
HR             116
Height           0
ICUType          0
K              242
Lactate        269
MAP            228
MechVent       251
Mg             263
NIDiasABP      163
NIMAP          163
NISysABP       163
Na             243
PaCO2          256
PaO2           256
Platelets      238
RespRate       208
SaO2           270
SysABP         228
Temp           168
TroponinI      281
TroponinT      262
Urine          200
WBC            240
Weight           0
pH             256
dtype: int64

In [98]:
ICUType_2_validation = validation_X[validation_X['ICUType'] == 2.0]
ICUType_2_validation_missing = ICUType_2_validation.isna().sum()
ICUType_2_validation_missing

RecordID         0
level_1          0
Time             0
ALP            396
ALT            395
AST            395
Age              0
Albumin        397
BUN            385
Bilirubin      395
Cholesterol    400
Creatinine     385
DiasABP        333
FiO2           353
GCS            338
Gender           0
Glucose        391
HCO3           386
HCT            363
HR             297
Height           0
ICUType          0
K              391
Lactate        377
MAP            333
MechVent       346
Mg             392
NIDiasABP      358
NIMAP          357
NISysABP       358
Na             391
PaCO2          187
PaO2           192
Platelets      361
RespRate       383
SaO2           387
SysABP         333
Temp           318
TroponinI      400
TroponinT      400
Urine          325
WBC            367
Weight           0
pH             187
dtype: int64

In [99]:
ICUType_3_validation = validation_X[validation_X['ICUType'] == 3.0]
ICUType_3_validation_missing = ICUType_3_validation.isna().sum()
ICUType_3_validation_missing

RecordID         0
level_1          0
Time             0
ALP            628
ALT            627
AST            627
Age              0
Albumin        630
BUN            592
Bilirubin      628
Cholesterol    663
Creatinine     592
DiasABP        602
FiO2           532
GCS            418
Gender           0
Glucose        591
HCO3           591
HCT            590
HR             292
Height           0
ICUType          0
K              589
Lactate        585
MAP            608
MechVent       548
Mg             605
NIDiasABP      317
NIMAP          323
NISysABP       317
Na             591
PaCO2          611
PaO2           614
Platelets      593
RespRate       538
SaO2           657
SysABP         602
Temp           398
TroponinI      662
TroponinT      646
Urine          446
WBC            594
Weight           0
pH             611
dtype: int64

In [100]:
ICUType_4_validation = validation_X[validation_X['ICUType'] == 4.0]
ICUType_4_validation_missing = ICUType_4_validation.isna().sum()
ICUType_4_validation_missing

RecordID         0
level_1          0
Time             0
ALP            546
ALT            546
AST            546
Age              0
Albumin        548
BUN            490
Bilirubin      547
Cholesterol    568
Creatinine     490
DiasABP        396
FiO2           409
GCS            323
Gender           0
Glucose        506
HCO3           504
HCT            486
HR             239
Height           0
ICUType          0
K              504
Lactate        474
MAP            402
MechVent       420
Mg             516
NIDiasABP      350
NIMAP          352
NISysABP       350
Na             503
PaCO2          463
PaO2           464
Platelets      478
RespRate       477
SaO2           545
SysABP         396
Temp           296
TroponinI      569
TroponinT      559
Urine          334
WBC            490
Weight           0
pH             463
dtype: int64

In [101]:
more_than_or_equal_to_65_validation = validation_X[validation_X["Age"] >= 65]
more_than_or_equal_to_65_validation_missing = more_than_or_equal_to_65_validation.isna().sum()
more_than_or_equal_to_65_validation_missing

RecordID           0
level_1            0
Time               0
ALP            46545
ALT            46524
AST            46524
Age                0
Albumin        46642
BUN            43671
Bilirubin      46526
Cholesterol    47108
Creatinine     43650
DiasABP        19902
FiO2           39455
GCS            31379
Gender         46161
Glucose        43909
HCO3           43749
HCT            42631
HR              1873
Height             0
ICUType        46161
K              43496
Lactate        45244
MAP            20051
MechVent       39884
Mg             43809
NIDiasABP      26224
NIMAP          26434
NISysABP       26211
Na             43771
PaCO2          41509
PaO2           41520
Platelets      43672
RespRate       34266
SaO2           45096
SysABP         19901
Temp           28485
TroponinI      47069
TroponinT      46493
Urine          11886
WBC            43974
Weight         21426
pH             41254
dtype: int64

In [102]:
less_than_65_validation = validation_X[validation_X["Age"] < 65]
less_than_65_validation_missing = less_than_65_validation.isna().sum()
less_than_65_validation_missing

RecordID           0
level_1            0
Time               0
ALP            38539
ALT            38510
AST            38508
Age                0
Albumin        38808
BUN            36286
Bilirubin      38513
Cholesterol    39344
Creatinine     36272
DiasABP        15947
FiO2           32789
GCS            25417
Gender         38537
Glucose        36426
HCO3           36350
HCT            35386
HR              1729
Height             0
ICUType        38537
K              36113
Lactate        37624
MAP            16067
MechVent       32715
Mg             36347
NIDiasABP      22781
NIMAP          23047
NISysABP       22765
Na             36291
PaCO2          34606
PaO2           34609
Platelets      36287
RespRate       29499
SaO2           37940
SysABP         15947
Temp           24126
TroponinI      39345
TroponinT      39165
Urine          10874
WBC            36536
Weight         18409
pH             34401
dtype: int64

In [103]:
filtered_validation_X = validation_X[(validation_X['Height'] != -1) & (validation_X['Weight'] != -1) & (validation_X['Height'].notna()) & (validation_X['Weight'].notna())]

In [104]:
filtered_validation_X_metros = filtered_validation_X.copy()
filtered_validation_X_metros["Height"] = filtered_validation_X["Height"]/100
filtered_validation_X_metros["Height"]

576       1.575
577       1.575
578       1.575
579       1.575
580       1.575
          ...
575034    1.600
575035    1.600
575037    1.600
575038    1.600
575039    1.600
Name: Height, Length: 24321, dtype: float64

In [105]:
bmi_data_validation = filtered_validation_X_metros
bmi_data_validation["BMI"] = filtered_validation_X_metros["Weight"] / (filtered_validation_X_metros["Height"]**2)
bmi_data_validation["Classificacao"] = bmi_data_validation["BMI"].apply(classify_BMI)
bmi_data_validation.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
576,132568,0,0.0,NaN,NaN,NaN,66.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,220.0,NaN,84.5,NaN,34.063996,Obesidade grau 1
577,132568,1,1.0,NaN,NaN,NaN,66.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,45.0,NaN,84.5,NaN,34.063996,Obesidade grau 1
578,132568,2,2.0,NaN,NaN,NaN,66.0,NaN,NaN,NaN,...,NaN,36.1,NaN,NaN,45.0,NaN,84.5,NaN,34.063996,Obesidade grau 1
579,132568,3,3.0,NaN,NaN,NaN,66.0,NaN,18.0,NaN,...,NaN,NaN,NaN,NaN,45.0,14.8,84.5,NaN,34.063996,Obesidade grau 1
580,132568,4,4.0,NaN,NaN,NaN,66.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,50.0,NaN,84.5,NaN,34.063996,Obesidade grau 1

In [106]:
classificacao_baixo_peso_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Baixo peso"]
classificacao_baixo_peso_missing_validation = classificacao_baixo_peso_validation.isna().sum()
classificacao_baixo_peso_missing_validation

RecordID           0
level_1            0
Time               0
ALP              790
ALT              791
AST              791
Age                0
Albumin          794
BUN              731
Bilirubin        790
Cholesterol      798
Creatinine       730
DiasABP          363
FiO2             657
GCS              537
Gender           767
Glucose          732
HCO3             733
HCT              720
HR                13
Height             0
ICUType          767
K                729
Lactate          740
MAP              358
MechVent         700
Mg               729
NIDiasABP        407
NIMAP            436
NISysABP         407
Na               732
PaCO2            706
PaO2             706
Platelets        741
RespRate         582
SaO2             769
SysABP           362
Temp             496
TroponinI        798
TroponinT        792
Urine            251
WBC              744
Weight             0
pH               700
BMI                0
Classificacao      0
dtype: int64

In [107]:
classificacao_peso_normal_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Peso normal"]
classificacao_peso_normal_missing_validation = classificacao_peso_normal_validation.isna().sum()
classificacao_peso_normal_missing_validation

RecordID            0
level_1             0
Time                0
ALP              6019
ALT              6015
AST              6016
Age                 0
Albumin          6045
BUN              5660
Bilirubin        6015
Cholesterol      6125
Creatinine       5658
DiasABP          2228
FiO2             5083
GCS              4108
Gender           5850
Glucose          5698
HCO3             5676
HCT              5543
HR                150
Height              0
ICUType          5850
K                5640
Lactate          5824
MAP              2251
MechVent         5070
Mg               5676
NIDiasABP        3605
NIMAP            3616
NISysABP         3605
Na               5674
PaCO2            5394
PaO2             5393
Platelets        5670
RespRate         4708
SaO2             5851
SysABP           2228
Temp             3581
TroponinI        6124
TroponinT        6075
Urine            1557
WBC              5704
Weight              0
pH               5357
BMI                 0
Classificacao       0
dtype: int64

In [108]:
classificacao_sobrepeso_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Sobrepeso"]
classificacao_sobrepeso_missing_validation = classificacao_sobrepeso_validation.isna().sum()
classificacao_sobrepeso_missing_validation

RecordID            0
level_1             0
Time                0
ALP              7020
ALT              7017
AST              7016
Age                 0
Albumin          7057
BUN              6664
Bilirubin        7016
Cholesterol      7132
Creatinine       6664
DiasABP          2471
FiO2             6056
GCS              4915
Gender           6822
Glucose          6681
HCO3             6676
HCT              6486
HR                172
Height              0
ICUType          6822
K                6634
Lactate          6906
MAP              2475
MechVent         6017
Mg               6654
NIDiasABP        4286
NIMAP            4325
NISysABP         4285
Na               6680
PaCO2            6239
PaO2             6244
Platelets        6632
RespRate         5858
SaO2             6706
SysABP           2471
Temp             3766
TroponinI        7122
TroponinT        7094
Urine            1644
WBC              6678
Weight              0
pH               6164
BMI                 0
Classificacao       0
dtype: int64

In [109]:
classificacao_obesidade_grau_1_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Obesidade grau 1"]
classificacao_obesidade_grau_1_missing_validation = classificacao_obesidade_grau_1_validation.isna().sum()
classificacao_obesidade_grau_1_missing_validation

RecordID            0
level_1             0
Time                0
ALP              4901
ALT              4900
AST              4898
Age                 0
Albumin          4926
BUN              4644
Bilirubin        4901
Cholesterol      4981
Creatinine       4642
DiasABP          1092
FiO2             3953
GCS              3385
Gender           4796
Glucose          4687
HCO3             4653
HCT              4544
HR                 93
Height              0
ICUType          4796
K                4641
Lactate          4752
MAP              1105
MechVent         3997
Mg               4639
NIDiasABP        3531
NIMAP            3542
NISysABP         3531
Na               4649
PaCO2            4206
PaO2             4207
Platelets        4645
RespRate         4708
SaO2             4645
SysABP           1092
Temp             2372
TroponinI        4971
TroponinT        4938
Urine             898
WBC              4678
Weight              0
pH               4152
BMI                 0
Classificacao       0
dtype: int64

In [110]:
classificacao_obesidade_grau_2_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Obesidade grau 2"]
classificacao_obesidade_grau_2_missing_validation = classificacao_obesidade_grau_2_validation.isna().sum()
classificacao_obesidade_grau_2_missing_validation

RecordID            0
level_1             0
Time                0
ALP              2056
ALT              2055
AST              2055
Age                 0
Albumin          2064
BUN              1958
Bilirubin        2059
Cholesterol      2085
Creatinine       1959
DiasABP           650
FiO2             1749
GCS              1418
Gender           2018
Glucose          1966
HCO3             1965
HCT              1918
HR                 38
Height              0
ICUType          2018
K                1953
Lactate          1997
MAP               637
MechVent         1782
Mg               1959
NIDiasABP        1310
NIMAP            1315
NISysABP         1310
Na               1962
PaCO2            1814
PaO2             1815
Platelets        1964
RespRate         1762
SaO2             1966
SysABP            650
Temp             1062
TroponinI        2081
TroponinT        2069
Urine             513
WBC              1973
Weight              0
pH               1795
BMI                 0
Classificacao       0
dtype: int64

In [111]:
classificacao_obesidade_grau_3_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Obesidade grau 3"]
classificacao_obesidade_grau_3_missing_validation = classificacao_obesidade_grau_3_validation.isna().sum()
classificacao_obesidade_grau_3_missing_validation

RecordID            0
level_1             0
Time                0
ALP              2603
ALT              2602
AST              2602
Age                 0
Albumin          2605
BUN              2475
Bilirubin        2600
Cholesterol      2633
Creatinine       2476
DiasABP           721
FiO2             2105
GCS              1868
Gender           2555
Glucose          2495
HCO3             2476
HCT              2415
HR                 42
Height              0
ICUType          2555
K                2470
Lactate          2530
MAP               710
MechVent         2097
Mg               2467
NIDiasABP        1861
NIMAP            1871
NISysABP         1858
Na               2479
PaCO2            2270
PaO2             2268
Platelets        2481
RespRate         2295
SaO2             2484
SysABP            721
Temp             1262
TroponinI        2623
TroponinT        2612
Urine             451
WBC              2491
Weight              0
pH               2250
BMI                 0
Classificacao       0
dtype: int64

In [112]:
df_missing_validation = pd.DataFrame(columns=df_columns)
df_missing_transpose_validation = df_missing_validation.T
df_missing_transpose_validation["Female"] = female_gender_missing_rate_validation
df_missing_transpose_validation["Male"] = male_gender_missing_rate_validation
df_missing_transpose_validation["ICUType 1"] = ICUType_1_validation_missing
df_missing_transpose_validation["ICUType 2"] = ICUType_2_validation_missing
df_missing_transpose_validation["ICUType 3"] = ICUType_3_validation_missing
df_missing_transpose_validation["ICUType 4"] = ICUType_4_validation_missing
df_missing_transpose_validation["Age 65+"] = more_than_or_equal_to_65_validation_missing
df_missing_transpose_validation["Age 65-"] = less_than_65_validation_missing
df_missing_transpose_validation["Low Weight"] = classificacao_baixo_peso_missing_validation
df_missing_transpose_validation["Normal Weight"] = classificacao_peso_normal_missing_validation
df_missing_transpose_validation["Overweight"] = classificacao_sobrepeso_missing_validation
df_missing_transpose_validation["Obesity Grade 1"] = classificacao_obesidade_grau_1_missing_validation
df_missing_transpose_validation["Obesity Grade 2"] = classificacao_obesidade_grau_2_missing_validation
df_missing_transpose_validation["Obesity Grade 3"] = classificacao_obesidade_grau_3_missing_validation
display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Original Missing Rate per Variable by demographcs - Validation</h2>"))
df_missing_transpose_validation

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,0,0,0,0,0,0,0,0,0,0,0,0,0,0
level_1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Time,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ALP,838,999,269,396,628,546,46545,38539,790,6019,7020,4901,2056,2603
ALT,836,998,268,395,627,546,46524,38510,791,6015,7017,4900,2055,2602
AST,836,998,268,395,627,546,46524,38508,791,6016,7016,4898,2055,2602
Age,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Albumin,842,1002,271,397,630,548,46642,38808,794,6045,7057,4926,2064,2605
BUN,768,939,242,385,592,490,43671,36286,731,5660,6664,4644,1958,2475
Bilirubin,838,999,269,395,628,547,46526,38513,790,6015,7016,4901,2059,2600
Cholesterol,864,1044,279,400,663,568,47108,39344,798,6125,7132,4981,2085,2633
Creatinine,768,939,242,385,592,490,43650,36272,730,5658,6664,4642,1959,2476
DiasABP,701,856,228,333,602,396,19902,15947,363,2228,2471,1092,650,721
FiO2,701,841,250,353,532,409,39455,32789,657,5083,6056,3953,1749,2105
GCS,549,692,164,338,418,323,31379,25417,537,4108,4915,3385,1418,1868
Gender,0,0,0,0,0,0,46161,38537,767,5850,6822,4796,2018,2555
Glucose,777,953,244,391,591,506,43909,36426,732,5698,6681,4687,1966,2495
HCO3,774,948,243,386,591,504,43749,36350,733,5676,6676,4653,1965,2476
HCT,763,914,240,363,590,486,42631,35386,720,5543,6486,4544,1918,2415
HR,417,525,116,297,292,239,1873,1729,13,150,172,93,38,42
Height,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ICUType,0,0,0,0,0,0,46161,38537,767,5850,6822,4796,2018,2555
K,775,949,242,391,589,504,43496,36113,729,5640,6634,4641,1953,2470
Lactate,769,934,269,377,585,474,45244,37624,740,5824,6906,4752,1997,2530
MAP,706,863,228,333,608,402,20051,16067,358,2251,2475,1105,637,710
MechVent,707,856,251,346,548,420,39884,32715,700,5070,6017,3997,1782,2097
Mg,797,977,263,392,605,516,43809,36347,729,5676,6654,4639,1959,2467
NIDiasABP,532,654,163,358,317,350,26224,22781,407,3605,4286,3531,1310,1861
NIMAP,535,658,163,357,323,352,26434,23047,436,3616,4325,3542,1315,1871
NISysABP,532,654,163,358,317,350,26211,22765,407,3605,4285,3531,1310,1858
Na,776,950,243,391,591,503,43771,36291,732,5674,6680,4649,1962,2479
PaCO2,715,801,256,187,611,463,41509,34606,706,5394,6239,4206,1814,2270
PaO2,720,805,256,192,614,464,41520,34609,706,5393,6244,4207,1815,2268
Platelets,758,910,238,361,593,478,43672,36287,741,5670,6632,4645,1964,2481
RespRate,725,879,208,383,538,477,34266,29499,582,4708,5858,4708,1762,2295
SaO2,845,1012,270,387,657,545,45096,37940,769,5851,6706,4645,1966,2484
SysABP,701,856,228,333,602,396,19901,15947,362,2228,2471,1092,650,721
Temp,525,653,168,318,398,296,28485,24126,496,3581,3766,2372,1062,1262
TroponinI,865,1045,281,400,662,569,47069,39345,798,6124,7122,4971,2081,2623
TroponinT,848,1017,262,400,646,559,46493,39165,792,6075,7094,4938,2069,2612
Urine,570,733,200,325,446,334,11886,10874,251,1557,1644,898,513,451
WBC,769,920,240,367,594,490,43974,36536,744,5704,6678,4678,1973,2491
Weight,0,0,0,0,0,0,21426,18409,0,0,0,0,0,0
pH,715,801,256,187,611,463,41254,34401,700,5357,6164,4152,1795,2250

<h3>Test data</h3>

In [113]:
test_X = physionet2012_dataset['test_X']

In [114]:
female_gender_distribution_test = test_X[test_X['Gender'] == 0.0]
female_gender_missing_rate_test = female_gender_distribution_test.isna().sum()
female_gender_missing_rate_test

RecordID          0
level_1           0
Time              0
ALP             979
ALT             979
AST             980
Age               0
Albumin         992
BUN             899
Bilirubin       979
Cholesterol    1030
Creatinine      899
DiasABP         857
FiO2            815
GCS             648
Gender            0
Glucose         913
HCO3            911
HCT             882
HR              492
Height            0
ICUType           0
K               911
Lactate         917
MAP             865
MechVent        833
Mg              935
NIDiasABP       618
NIMAP           623
NISysABP        617
Na              913
PaCO2           841
PaO2            850
Platelets       891
RespRate        874
SaO2           1001
SysABP          857
Temp            636
TroponinI      1025
TroponinT      1015
Urine           692
WBC             899
Weight            0
pH              839
dtype: int64

In [115]:
male_gender_distribution_test = test_X[test_X['Gender'] == 1.0]
male_gender_missing_rate_test = male_gender_distribution_test.isna().sum()
male_gender_missing_rate_test

RecordID          0
level_1           0
Time              0
ALP            1306
ALT            1305
AST            1305
Age               0
Albumin        1314
BUN            1206
Bilirubin      1305
Cholesterol    1355
Creatinine     1206
DiasABP        1092
FiO2           1080
GCS             905
Gender            0
Glucose        1236
HCO3           1231
HCT            1196
HR              698
Height            0
ICUType           0
K              1232
Lactate        1204
MAP            1109
MechVent       1092
Mg             1261
NIDiasABP       875
NIMAP           878
NISysABP        874
Na             1234
PaCO2          1010
PaO2           1018
Platelets      1191
RespRate       1191
SaO2           1317
SysABP         1092
Temp            853
TroponinI      1359
TroponinT      1337
Urine           972
WBC            1210
Weight            0
pH             1006
dtype: int64

In [116]:
ICUType_1_test = test_X[test_X['ICUType'] == 1.0]
ICUType_1_test_missing = ICUType_1_test.isna().sum()
ICUType_1_test_missing

RecordID         0
level_1          0
Time             0
ALP            324
ALT            324
AST            325
Age              0
Albumin        330
BUN            293
Bilirubin      324
Cholesterol    340
Creatinine     293
DiasABP        251
FiO2           283
GCS            212
Gender           0
Glucose        296
HCO3           295
HCT            298
HR             136
Height           0
ICUType          0
K              294
Lactate        328
MAP            254
MechVent       294
Mg             312
NIDiasABP      200
NIMAP          200
NISysABP       199
Na             295
PaCO2          316
PaO2           317
Platelets      301
RespRate       270
SaO2           323
SysABP         251
Temp           213
TroponinI      342
TroponinT      336
Urine          250
WBC            302
Weight           0
pH             316
dtype: int64

In [117]:
ICUType_2_test = test_X[test_X['ICUType'] == 2.0]
ICUType_2_test_missing = ICUType_2_test.isna().sum()
ICUType_2_test_missing

RecordID         0
level_1          0
Time             0
ALP            496
ALT            496
AST            496
Age              0
Albumin        499
BUN            482
Bilirubin      496
Cholesterol    501
Creatinine     482
DiasABP        409
FiO2           424
GCS            424
Gender           0
Glucose        490
HCO3           486
HCT            466
HR             377
Height           0
ICUType          0
K              489
Lactate        479
MAP            412
MechVent       413
Mg             488
NIDiasABP      462
NIMAP          462
NISysABP       462
Na             491
PaCO2          200
PaO2           208
Platelets      459
RespRate       492
SaO2           486
SysABP         409
Temp           395
TroponinI      502
TroponinT      499
Urine          409
WBC            475
Weight           0
pH             199
dtype: int64

In [118]:
ICUType_3_test = test_X[test_X['ICUType'] == 3.0]
ICUType_3_test_missing = ICUType_3_test.isna().sum()
ICUType_3_test_missing

RecordID         0
level_1          0
Time             0
ALP            809
ALT            809
AST            809
Age              0
Albumin        820
BUN            762
Bilirubin      809
Cholesterol    861
Creatinine     762
DiasABP        799
FiO2           693
GCS            509
Gender           0
Glucose        764
HCO3           764
HCT            758
HR             377
Height           0
ICUType          0
K              763
Lactate        756
MAP            807
MechVent       707
Mg             785
NIDiasABP      417
NIMAP          423
NISysABP       416
Na             764
PaCO2          776
PaO2           781
Platelets      766
RespRate       713
SaO2           850
SysABP         799
Temp           512
TroponinI      857
TroponinT      842
Urine          594
WBC            767
Weight           0
pH             772
dtype: int64

In [119]:
ICUType_4_test = test_X[test_X['ICUType'] == 4.0]
ICUType_4_test_missing = ICUType_4_test.isna().sum()
ICUType_4_test_missing

RecordID         0
level_1          0
Time             0
ALP            658
ALT            657
AST            657
Age              0
Albumin        659
BUN            570
Bilirubin      657
Cholesterol    685
Creatinine     570
DiasABP        492
FiO2           496
GCS            409
Gender           0
Glucose        601
HCO3           599
HCT            558
HR             301
Height           0
ICUType          0
K              599
Lactate        560
MAP            503
MechVent       512
Mg             613
NIDiasABP      415
NIMAP          417
NISysABP       415
Na             599
PaCO2          561
PaO2           564
Platelets      558
RespRate       592
SaO2           661
SysABP         492
Temp           371
TroponinI      685
TroponinT      677
Urine          412
WBC            567
Weight           0
pH             560
dtype: int64

In [120]:
more_than_or_equal_to_65_test = test_X[test_X["Age"] >= 65]
more_than_or_equal_to_65_test_missing = more_than_or_equal_to_65_test.isna().sum()
more_than_or_equal_to_65_test_missing

RecordID           0
level_1            0
Time               0
ALP            60197
ALT            60173
AST            60176
Age                0
Albumin        60384
BUN            56569
Bilirubin      60143
Cholesterol    60964
Creatinine     56549
DiasABP        25736
FiO2           50703
GCS            41369
Gender         59738
Glucose        56912
HCO3           56677
HCT            54922
HR              2400
Height             0
ICUType        59738
K              56399
Lactate        58554
MAP            25933
MechVent       51379
Mg             56592
NIDiasABP      33484
NIMAP          33813
NISysABP       33459
Na             56745
PaCO2          53459
PaO2           53476
Platelets      56417
RespRate       46113
SaO2           58095
SysABP         25736
Temp           35830
TroponinI      60914
TroponinT      60193
Urine          15200
WBC            56850
Weight         25370
pH             53079
dtype: int64

In [121]:
less_than_65_test = test_X[test_X["Age"] < 65]
less_than_65_test_missing = less_than_65_test.isna().sum()
less_than_65_test_missing

RecordID           0
level_1            0
Time               0
ALP            46716
ALT            46684
AST            46687
Age                0
Albumin        46999
BUN            43878
Bilirubin      46683
Cholesterol    47679
Creatinine     43866
DiasABP        20246
FiO2           39623
GCS            31036
Gender         46697
Glucose        44050
HCO3           43949
HCT            42817
HR              2194
Height             0
ICUType        46697
K              43660
Lactate        45400
MAP            20481
MechVent       39724
Mg             44005
NIDiasABP      26844
NIMAP          27150
NISysABP       26826
Na             43918
PaCO2          41876
PaO2           41891
Platelets      43858
RespRate       36308
SaO2           46049
SysABP         20244
Temp           30172
TroponinI      47692
TroponinT      47339
Urine          13529
WBC            44177
Weight         21246
pH             41622
dtype: int64

In [122]:
filtered_test_X = test_X[(test_X['Height'] != -1) & (test_X['Weight'] != -1) & (test_X['Height'].notna()) & (test_X['Weight'].notna())]

In [123]:
filtered_test_X_metros = filtered_test_X.copy()
filtered_test_X_metros["Height"] = filtered_test_X["Height"]/100
filtered_test_X_metros["Height"]

144       1.803
145       1.803
146       1.803
147       1.803
148       1.803
          ...
574842    1.651
574843    1.651
574844    1.651
574845    1.651
575184    1.727
Name: Height, Length: 32803, dtype: float64

In [124]:
bmi_data_test = filtered_test_X_metros
bmi_data_test["BMI"] = filtered_test_X_metros["Weight"] / (filtered_test_X_metros["Height"]**2)
bmi_data_test["Classificacao"] = bmi_data_test["BMI"].apply(classify_BMI)
bmi_data_test.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
144,132543,0,0.0,105.0,12.0,15.0,68.0,4.4,23.0,0.2,...,NaN,36.3,NaN,NaN,NaN,11.5,84.6,NaN,26.024291,Sobrepeso
145,132543,1,1.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
146,132543,2,2.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
147,132543,3,3.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,36.4,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
148,132543,4,4.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso

In [125]:
classificacao_baixo_peso_test = bmi_data_test[bmi_data_test["Classificacao"] == "Baixo peso"]
classificacao_baixo_peso_missing_test = classificacao_baixo_peso_test.isna().sum()
classificacao_baixo_peso_missing_test

RecordID           0
level_1            0
Time               0
ALP              807
ALT              807
AST              807
Age                0
Albumin          812
BUN              766
Bilirubin        808
Cholesterol      822
Creatinine       766
DiasABP          236
FiO2             667
GCS              524
Gender           786
Glucose          769
HCO3             767
HCT              749
HR                24
Height             0
ICUType          786
K                762
Lactate          770
MAP              226
MechVent         652
Mg               770
NIDiasABP        506
NIMAP            506
NISysABP         506
Na               766
PaCO2            695
PaO2             694
Platelets        767
RespRate         691
SaO2             791
SysABP           236
Temp             548
TroponinI        821
TroponinT        812
Urine            184
WBC              769
Weight             0
pH               694
BMI                0
Classificacao      0
dtype: int64

In [126]:
classificacao_peso_normal_test = bmi_data_test[bmi_data_test["Classificacao"] == "Peso normal"]
classificacao_peso_normal_missing_test = classificacao_peso_normal_test.isna().sum()
classificacao_peso_normal_missing_test

RecordID            0
level_1             0
Time                0
ALP              7321
ALT              7321
AST              7321
Age                 0
Albumin          7346
BUN              6881
Bilirubin        7314
Cholesterol      7426
Creatinine       6879
DiasABP          2852
FiO2             6286
GCS              5103
Gender           7065
Glucose          6925
HCO3             6906
HCT              6685
HR                205
Height              0
ICUType          7065
K                6861
Lactate          7084
MAP              2894
MechVent         6331
Mg               6902
NIDiasABP        4148
NIMAP            4162
NISysABP         4141
Na               6918
PaCO2            6499
PaO2             6497
Platelets        6871
RespRate         5766
SaO2             7086
SysABP           2852
Temp             4164
TroponinI        7427
TroponinT        7337
Urine            2109
WBC              6934
Weight              0
pH               6425
BMI                 0
Classificacao       0
dtype: int64

In [127]:
classificacao_sobrepeso_test = bmi_data_test[bmi_data_test["Classificacao"] == "Sobrepeso"]
classificacao_sobrepeso_missing_test = classificacao_sobrepeso_test.isna().sum()
classificacao_sobrepeso_missing_test

RecordID             0
level_1              0
Time                 0
ALP              10842
ALT              10838
AST              10839
Age                  0
Albumin          10902
BUN              10243
Bilirubin        10835
Cholesterol      11028
Creatinine       10241
DiasABP           3204
FiO2              9100
GCS               7639
Gender           10604
Glucose          10312
HCO3             10273
HCT               9936
HR                 221
Height               0
ICUType          10604
K                10232
Lactate          10585
MAP               3210
MechVent          9287
Mg               10245
NIDiasABP         7131
NIMAP             7197
NISysABP          7130
Na               10289
PaCO2             9597
PaO2              9600
Platelets        10213
RespRate          9372
SaO2             10338
SysABP            3203
Temp              5716
TroponinI        11013
TroponinT        10925
Urine             2404
WBC              10274
Weight               0
pH                9462
BMI                  0
Classificacao        0
dtype: int64

In [128]:
classificacao_obesidade_grau_1_test = bmi_data_test[bmi_data_test["Classificacao"] == "Obesidade grau 1"]
classificacao_obesidade_grau_1_missing_test = classificacao_obesidade_grau_1_test.isna().sum()
classificacao_obesidade_grau_1_missing_test

RecordID            0
level_1             0
Time                0
ALP              6105
ALT              6102
AST              6105
Age                 0
Albumin          6131
BUN              5776
Bilirubin        6103
Cholesterol      6200
Creatinine       5775
DiasABP          1817
FiO2             5112
GCS              4519
Gender           6003
Glucose          5813
HCO3             5788
HCT              5622
HR                106
Height              0
ICUType          6003
K                5764
Lactate          5964
MAP              1850
MechVent         5166
Mg               5748
NIDiasABP        3993
NIMAP            4023
NISysABP         3991
Na               5797
PaCO2            5304
PaO2             5306
Platelets        5780
RespRate         5526
SaO2             5808
SysABP           1817
Temp             3141
TroponinI        6195
TroponinT        6160
Urine            1184
WBC              5821
Weight              0
pH               5232
BMI                 0
Classificacao       0
dtype: int64

In [129]:
classificacao_obesidade_grau_2_test = bmi_data_test[bmi_data_test["Classificacao"] == "Obesidade grau 2"]
classificacao_obesidade_grau_2_missing_test = classificacao_obesidade_grau_2_test.isna().sum()
classificacao_obesidade_grau_2_missing_test

RecordID            0
level_1             0
Time                0
ALP              3540
ALT              3541
AST              3539
Age                 0
Albumin          3566
BUN              3347
Bilirubin        3538
Cholesterol      3596
Creatinine       3346
DiasABP          1026
FiO2             2989
GCS              2575
Gender           3512
Glucose          3369
HCO3             3355
HCT              3283
HR                 48
Height              0
ICUType          3512
K                3335
Lactate          3419
MAP              1038
MechVent         3023
Mg               3338
NIDiasABP        2335
NIMAP            2348
NISysABP         2334
Na               3362
PaCO2            3103
PaO2             3104
Platelets        3355
RespRate         3172
SaO2             3328
SysABP           1026
Temp             1764
TroponinI        3599
TroponinT        3565
Urine             625
WBC              3371
Weight              0
pH               3070
BMI                 0
Classificacao       0
dtype: int64

In [130]:
classificacao_obesidade_grau_3_test = bmi_data_test[bmi_data_test["Classificacao"] == "Obesidade grau 3"]
classificacao_obesidade_grau_3_missing_test = classificacao_obesidade_grau_3_test.isna().sum()
classificacao_obesidade_grau_3_missing_test

RecordID            0
level_1             0
Time                0
ALP              2980
ALT              2977
AST              2978
Age                 0
Albumin          3012
BUN              2816
Bilirubin        2972
Cholesterol      3048
Creatinine       2815
DiasABP           776
FiO2             2364
GCS              2124
Gender           2968
Glucose          2839
HCO3             2825
HCT              2749
HR                 40
Height              0
ICUType          2968
K                2818
Lactate          2841
MAP               796
MechVent         2372
Mg               2800
NIDiasABP        2148
NIMAP            2163
NISysABP         2144
Na               2831
PaCO2            2528
PaO2             2525
Platelets        2818
RespRate         2863
SaO2             2845
SysABP            776
Temp             1576
TroponinI        3050
TroponinT        3027
Urine             556
WBC              2846
Weight              0
pH               2503
BMI                 0
Classificacao       0
dtype: int64

In [131]:
df_missing_test = pd.DataFrame(columns=df_columns)
df_missing_transpose_test = df_missing_test.T
df_missing_transpose_test ["Female"] = female_gender_missing_rate_test
df_missing_transpose_test ["Male"] = male_gender_missing_rate_test
df_missing_transpose_test ["ICUType 2"] = ICUType_2_test_missing
df_missing_transpose_test ["ICUType 3"] = ICUType_3_test_missing
df_missing_transpose_test ["ICUType 4"] = ICUType_4_test_missing
df_missing_transpose_test["Age 65+"] = more_than_or_equal_to_65_test_missing
df_missing_transpose_test["Age 65-"] = less_than_65_test_missing
df_missing_transpose_test ["Low Weight"] = classificacao_baixo_peso_missing_test
df_missing_transpose_test ["Normal Weight"] = classificacao_peso_normal_missing_test
df_missing_transpose_test ["Overweight"] = classificacao_sobrepeso_missing_test
df_missing_transpose_test ["Obesity Grade 1"] = classificacao_obesidade_grau_1_missing_test
df_missing_transpose_test ["Obesity Grade 2"] = classificacao_obesidade_grau_2_missing_test
df_missing_transpose_test ["Obesity Grade 3"] = classificacao_obesidade_grau_3_missing_test
display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>original Missing rate per Variable by demographics - Test</h2>"))
df_missing_transpose_test

,Female,Male,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,0,0,0,0,0,0,0,0,0,0,0,0,0
level_1,0,0,0,0,0,0,0,0,0,0,0,0,0
Time,0,0,0,0,0,0,0,0,0,0,0,0,0
ALP,979,1306,496,809,658,60197,46716,807,7321,10842,6105,3540,2980
ALT,979,1305,496,809,657,60173,46684,807,7321,10838,6102,3541,2977
AST,980,1305,496,809,657,60176,46687,807,7321,10839,6105,3539,2978
Age,0,0,0,0,0,0,0,0,0,0,0,0,0
Albumin,992,1314,499,820,659,60384,46999,812,7346,10902,6131,3566,3012
BUN,899,1206,482,762,570,56569,43878,766,6881,10243,5776,3347,2816
Bilirubin,979,1305,496,809,657,60143,46683,808,7314,10835,6103,3538,2972
Cholesterol,1030,1355,501,861,685,60964,47679,822,7426,11028,6200,3596,3048
Creatinine,899,1206,482,762,570,56549,43866,766,6879,10241,5775,3346,2815
DiasABP,857,1092,409,799,492,25736,20246,236,2852,3204,1817,1026,776
FiO2,815,1080,424,693,496,50703,39623,667,6286,9100,5112,2989,2364
GCS,648,905,424,509,409,41369,31036,524,5103,7639,4519,2575,2124
Gender,0,0,0,0,0,59738,46697,786,7065,10604,6003,3512,2968
Glucose,913,1236,490,764,601,56912,44050,769,6925,10312,5813,3369,2839
HCO3,911,1231,486,764,599,56677,43949,767,6906,10273,5788,3355,2825
HCT,882,1196,466,758,558,54922,42817,749,6685,9936,5622,3283,2749
HR,492,698,377,377,301,2400,2194,24,205,221,106,48,40
Height,0,0,0,0,0,0,0,0,0,0,0,0,0
ICUType,0,0,0,0,0,59738,46697,786,7065,10604,6003,3512,2968
K,911,1232,489,763,599,56399,43660,762,6861,10232,5764,3335,2818
Lactate,917,1204,479,756,560,58554,45400,770,7084,10585,5964,3419,2841
MAP,865,1109,412,807,503,25933,20481,226,2894,3210,1850,1038,796
MechVent,833,1092,413,707,512,51379,39724,652,6331,9287,5166,3023,2372
Mg,935,1261,488,785,613,56592,44005,770,6902,10245,5748,3338,2800
NIDiasABP,618,875,462,417,415,33484,26844,506,4148,7131,3993,2335,2148
NIMAP,623,878,462,423,417,33813,27150,506,4162,7197,4023,2348,2163
NISysABP,617,874,462,416,415,33459,26826,506,4141,7130,3991,2334,2144
Na,913,1234,491,764,599,56745,43918,766,6918,10289,5797,3362,2831
PaCO2,841,1010,200,776,561,53459,41876,695,6499,9597,5304,3103,2528
PaO2,850,1018,208,781,564,53476,41891,694,6497,9600,5306,3104,2525
Platelets,891,1191,459,766,558,56417,43858,767,6871,10213,5780,3355,2818
RespRate,874,1191,492,713,592,46113,36308,691,5766,9372,5526,3172,2863
SaO2,1001,1317,486,850,661,58095,46049,791,7086,10338,5808,3328,2845
SysABP,857,1092,409,799,492,25736,20244,236,2852,3203,1817,1026,776
Temp,636,853,395,512,371,35830,30172,548,4164,5716,3141,1764,1576
TroponinI,1025,1359,502,857,685,60914,47692,821,7427,11013,6195,3599,3050
TroponinT,1015,1337,499,842,677,60193,47339,812,7337,10925,6160,3565,3027
Urine,692,972,409,594,412,15200,13529,184,2109,2404,1184,625,556
WBC,899,1210,475,767,567,56850,44177,769,6934,10274,5821,3371,2846
Weight,0,0,0,0,0,25370,21246,0,0,0,0,0,0
pH,839,1006,199,772,560,53079,41622,694,6425,9462,5232,3070,2503