In [1]:
import os
import sys
import pandas as pd
from pypots.utils.random import set_random_seed
from IPython.display import display, HTML
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from pypotsModify.benchpots_statistic_tables.datasets import preprocess_physionet2012

2025-05-12 21:37:48.513355: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1747096668.533805  949743 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1747096668.540301  949743 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-05-12 21:37:48.560768: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
/usr/local/lib/python3.11/dist-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

████████╗██╗███╗   ███╗███████╗    ███████╗███████╗██████╗ ██╗███████╗███████╗    █████╗ ██╗
╚══██╔══╝██║████╗ ████║██╔════╝    ██╔════╝██╔════╝██╔══██╗██║██╔════╝██╔════╝   ██╔══██╗██║
   ██║   ██║██╔████╔██║█████╗█████╗███████╗█████╗  ██████╔╝██║█████╗  ███████╗   ███████║██║
   ██║   ██║██║╚██╔╝██║██╔══╝╚════╝╚════██║██╔══╝  ██╔══██╗██║██╔══╝  ╚════██║   ██╔══██║██║
   ██║   ██║██║ ╚═╝ ██║███████╗    ███████║███████╗██║  ██║██║███████╗███████║██╗██║  ██║██║
   ╚═╝   ╚═╝╚═╝     ╚═╝╚══════╝    ╚══════╝╚══════╝╚═╝  ╚═╝╚═╝╚══════╝╚══════╝╚═╝╚═╝  ╚═╝╚═╝
ai4ts v0.0.3 - building AI for unified time-series analysis, https://time-series.ai

<h2>Loading dataset</h2>

In [2]:
set_random_seed()
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)
print(physionet2012_dataset.keys())

2025-05-12 21:37:54 [INFO]: Have set the random seed as 2022 for numpy and pytorch.
2025-05-12 21:37:54 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2025-05-12 21:37:54 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2025-05-12 21:37:54 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2025-05-12 21:37:54 [INFO]: Loaded successfully!

dict_keys(['n_classes', 'n_steps', 'n_features', 'train_X', 'train_ICUType', 'val_X', 'val_ICUType', 'test_X', 'test_ICUType'])

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [3]:
train_X = physionet2012_dataset['train_X']

In [4]:
female_gender_ids = train_X[train_X["Gender"] == 0.0]
female_gender_ids = female_gender_ids["RecordID"]
female_gender_missing_rate = train_X[train_X["RecordID"].isin(female_gender_ids)]
female_gender_missing_rate = female_gender_missing_rate.isna().sum()
female_gender_missing_rate

RecordID            0
level_1             0
Time                0
ALP            160709
ALT            160640
AST            160643
Age              9563
Albumin        161328
BUN            151521
Bilirubin      160591
Cholesterol    163088
Creatinine     151483
DiasABP         78529
FiO2           137991
GCS            111082
Gender         159941
Glucose        152082
HCO3           151746
HCT            148264
HR              15660
Height           9563
ICUType        159941
K              150927
Lactate        156708
MAP             78997
MechVent       138745
Mg             151802
NIDiasABP       91851
NIMAP           92953
NISysABP        91786
Na             151655
PaCO2          145596
PaO2           145624
Platelets      151666
RespRate       119224
SaO2           157017
SysABP          78524
Temp           104420
TroponinI      162970
TroponinT      161669
Urine           48896
WBC            152497
Weight          76258
pH             144943
dtype: int64

In [5]:
male_gender_ids = train_X[train_X["Gender"] == 1.0]
male_gender_ids = male_gender_ids["RecordID"]
male_gender_missing_rate = train_X[train_X["RecordID"].isin(male_gender_ids)]
male_gender_missing_rate = male_gender_missing_rate.isna().sum()
male_gender_missing_rate

RecordID            0
level_1             0
Time                0
ALP            201116
ALT            201028
AST            201025
Age             11941
Albumin        201902
BUN            189573
Bilirubin      200979
Cholesterol    204102
Creatinine     189497
DiasABP         90481
FiO2           171780
GCS            139394
Gender         200220
Glucose        190573
HCO3           189946
HCT            184624
HR              20331
Height          11941
ICUType        200220
K              188950
Lactate        196001
MAP             91063
MechVent       173568
Mg             189897
NIDiasABP      121088
NIMAP          122183
NISysABP       121027
Na             190017
PaCO2          179671
PaO2           179710
Platelets      188979
RespRate       158533
SaO2           195849
SysABP          90472
Temp           126238
TroponinI      204079
TroponinT      202236
Urine           63828
WBC            190499
Weight          97473
pH             178391
dtype: int64

In [6]:
undefined_gender_ids = train_X[train_X["Gender"] == -1.0]
undefined_gender_ids = undefined_gender_ids["RecordID"]
undefined_gender_missing_rate = train_X[train_X["RecordID"].isin(undefined_gender_ids)]
undefined_gender_missing_rate = undefined_gender_missing_rate.isna().sum()
undefined_gender_missing_rate

RecordID         0
level_1          0
Time             0
ALP            380
ALT            379
AST            379
Age             95
Albumin        379
BUN            359
Bilirubin      380
Cholesterol    384
Creatinine     359
DiasABP        222
FiO2           343
GCS            310
Gender         376
Glucose        358
HCO3           359
HCT            360
HR             106
Height          95
ICUType        376
K              357
Lactate        357
MAP            225
MechVent       340
Mg             362
NIDiasABP      257
NIMAP          257
NISysABP       257
Na             359
PaCO2          339
PaO2           339
Platelets      360
RespRate       291
SaO2           382
SysABP         222
Temp           271
TroponinI      383
TroponinT      378
Urine          180
WBC            361
Weight         157
pH             335
dtype: int64

In [7]:
ICUType_1_training_ids = train_X[train_X['ICUType'] == 1.0]
ICUType_1_training_ids = ICUType_1_training_ids[ICUType_1_training_ids["Time"] == 0.0]
ICUType_1_training_ids = ICUType_1_training_ids["RecordID"]
ICUType_1_training_missing = train_X[train_X["RecordID"].isin(ICUType_1_training_ids)]
ICUType_1_training_missing = ICUType_1_training_missing.isna().sum()
ICUType_1_training_missing

RecordID           0
level_1            0
Time               0
ALP            53749
ALT            53703
AST            53704
Age             4531
Albumin        53926
BUN            50670
Bilirubin      53717
Cholesterol    54229
Creatinine     50614
DiasABP        32370
FiO2           48591
GCS            40492
Gender         53439
Glucose        50836
HCO3           50804
HCT            49818
HR              6947
Height          4531
ICUType        53439
K              50016
Lactate        53319
MAP            32465
MechVent       49098
Mg             50689
NIDiasABP      28140
NIMAP          28276
NISysABP       28126
Na             50815
PaCO2          50073
PaO2           50068
Platelets      50648
RespRate       35089
SaO2           51832
SysABP         32368
Temp           38156
TroponinI      54407
TroponinT      53413
Urine          23423
WBC            51047
Weight         29557
pH             49985
dtype: int64

In [8]:
ICUType_2_training_ids = train_X[train_X['ICUType'] == 2.0]
ICUType_2_training_ids = ICUType_2_training_ids[ICUType_2_training_ids["Time"] == 0.0]
ICUType_2_training_ids = ICUType_2_training_ids["RecordID"]
ICUType_2_training_missing = train_X[train_X["RecordID"].isin(ICUType_2_training_ids)]
ICUType_2_training_missing = ICUType_2_training_missing.isna().sum()
ICUType_2_training_missing

RecordID           0
level_1            0
Time               0
ALP            77198
ALT            77183
AST            77183
Age             2499
Albumin        77367
BUN            72687
Bilirubin      77192
Cholesterol    77691
Creatinine     72670
DiasABP        16455
FiO2           64341
GCS            57159
Gender         76093
Glucose        74085
HCO3           73057
HCT            69258
HR              6234
Height          2499
ICUType        76093
K              73612
Lactate        75069
MAP            16364
MechVent       64575
Mg             72848
NIDiasABP      60655
NIMAP          60789
NISysABP       60619
Na             73822
PaCO2          61972
PaO2           62023
Platelets      71448
RespRate       73922
SaO2           69225
SysABP         16454
Temp           32431
TroponinI      77622
TroponinT      77520
Urine          12040
WBC            72510
Weight         37677
pH             60460
dtype: int64

In [9]:
ICUType_3_training_ids = train_X[train_X['ICUType'] == 3.0]
ICUType_3_training_ids = ICUType_3_training_ids[ICUType_3_training_ids["Time"] == 0.0]
ICUType_3_training_ids = ICUType_3_training_ids["RecordID"]
ICUType_3_training_missing = train_X[train_X["RecordID"].isin(ICUType_3_training_ids)]
ICUType_3_training_missing = ICUType_3_training_missing.isna().sum()
ICUType_3_training_missing

RecordID            0
level_1             0
Time                0
ALP            129030
ALT            128959
AST            128956
Age              9900
Albumin        129633
BUN            121822
Bilirubin      128821
Cholesterol    131681
Creatinine     121786
DiasABP         85142
FiO2           112480
GCS             97007
Gender         129062
Glucose        121861
HCO3           121815
HCT            120093
HR              14516
Height           9900
ICUType        129062
K              121047
Lactate        126679
MAP             85740
MechVent       114035
Mg             122447
NIDiasABP       57554
NIMAP           59003
NISysABP        57514
Na             121578
PaCO2          121747
PaO2           121740
Platelets      122750
RespRate        90082
SaO2           130257
SysABP          85137
Temp            93821
TroponinI      131459
TroponinT      130027
Urine           52240
WBC            123124
Weight          46325
pH             121595
dtype: int64

In [10]:
ICUType_4_training_ids = train_X[train_X['ICUType'] == 4.0]
ICUType_4_training_ids = ICUType_4_training_ids[ICUType_4_training_ids["Time"] == 0.0]
ICUType_4_training_ids = ICUType_4_training_ids["RecordID"]
ICUType_4_training_missing = train_X[train_X["RecordID"].isin(ICUType_4_training_ids)]
ICUType_4_training_missing = ICUType_4_training_missing.isna().sum()
ICUType_4_training_missing

RecordID            0
level_1             0
Time                0
ALP            102228
ALT            102202
AST            102204
Age              4669
Albumin        102683
BUN             96274
Bilirubin      102220
Cholesterol    103973
Creatinine      96269
DiasABP         35265
FiO2            84702
GCS             56128
Gender         101943
Glucose         96231
HCO3            96375
HCT             94079
HR               8400
Height           4669
ICUType        101943
K               95559
Lactate         97999
MAP             35716
MechVent        84945
Mg              96077
NIDiasABP       66847
NIMAP           67325
NISysABP        66811
Na              95816
PaCO2           91814
PaO2            91842
Platelets       96159
RespRate        78955
SaO2           101934
SysABP          35259
Temp            66521
TroponinI      103944
TroponinT      103323
Urine           25201
WBC             96676
Weight          60329
pH              91629
dtype: int64

In [11]:
more_than_or_equal_to_65_train_ids = train_X[train_X["Age"] >= 65]
more_than_or_equal_to_65_train_ids = more_than_or_equal_to_65_train_ids[more_than_or_equal_to_65_train_ids["Time"] == 0.0]
more_than_or_equal_to_65_train_ids = more_than_or_equal_to_65_train_ids["RecordID"]
more_than_or_equal_to_65_train_missing = train_X[train_X["RecordID"].isin(more_than_or_equal_to_65_train_ids)]
more_than_or_equal_to_65_train_missing = more_than_or_equal_to_65_train_missing.isna().sum()
more_than_or_equal_to_65_train_missing

RecordID            0
level_1             0
Time                0
ALP            201710
ALT            201651
AST            201644
Age             11326
Albumin        202162
BUN            189935
Bilirubin      201573
Cholesterol    204059
Creatinine     189870
DiasABP         91665
FiO2           171942
GCS            140932
Gender         200173
Glucose        190959
HCO3           190285
HCT            185213
HR              19045
Height          11326
ICUType        200173
K              189360
Lactate        196348
MAP             92232
MechVent       174004
Mg             190149
NIDiasABP      119042
NIMAP          120075
NISysABP       118972
Na             190411
PaCO2          180320
PaO2           180353
Platelets      189656
RespRate       153322
SaO2           195019
SysABP          91659
Temp           125049
TroponinI      203896
TroponinT      201636
Urine           59045
WBC            190956
Weight          95998
pH             179195
dtype: int64

In [12]:
less_than_65_train_ids = train_X[train_X["Age"] < 65]
less_than_65_train_ids = less_than_65_train_ids[less_than_65_train_ids["Time"] == 0.0]
less_than_65_train_ids = less_than_65_train_ids["RecordID"]
less_than_65_train_missing = train_X[train_X["RecordID"].isin(less_than_65_train_ids)]
less_than_65_train_missing = less_than_65_train_missing.isna().sum()
less_than_65_train_missing

RecordID            0
level_1             0
Time                0
ALP            160495
ALT            160396
AST            160403
Age             10273
Albumin        161447
BUN            151518
Bilirubin      160377
Cholesterol    163515
Creatinine     151469
DiasABP         77567
FiO2           138172
GCS            109854
Gender         160364
Glucose        152054
HCO3           151766
HCT            148035
HR              17052
Height          10273
ICUType        160364
K              150874
Lactate        156718
MAP             78053
MechVent       138649
Mg             151912
NIDiasABP       94154
NIMAP           95318
NISysABP        94098
Na             151620
PaCO2          145286
PaO2           145320
Platelets      151349
RespRate       124726
SaO2           158229
SysABP          77559
Temp           105880
TroponinI      163536
TroponinT      162647
Urine           53859
WBC            152401
Weight          77890
pH             144474
dtype: int64

In [15]:
filtered_train_X = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]

In [13]:
def classify_BMI(BMI):
    if BMI <= 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [16]:
filtered_train_X_metros = filtered_train_X.copy()
filtered_train_X_metros["Height"] = filtered_train_X["Height"]/100
filtered_train_X_metros["Height"]

48        1.753
67        1.753
68        1.753
69        1.753
70        1.753
          ...
574989    1.524
574990    1.524
574991    1.524
575088    1.727
575184    1.727
Name: Height, Length: 101785, dtype: float64

In [17]:
bmi_data_train = filtered_train_X_metros
bmi_data_train["BMI"] = round(filtered_train_X_metros["Weight"] / (filtered_train_X_metros["Height"]**2), 1)
bmi_data_train["Classificacao"] = bmi_data_train["BMI"].apply(classify_BMI)
bmi_data_train.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45,24.7,Peso normal
67,132540,19,19.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,122.0,37.5,NaN,NaN,50.0,NaN,80.6,NaN,26.2,Sobrepeso
68,132540,20,20.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,107.0,37.4,NaN,NaN,380.0,NaN,80.6,NaN,26.2,Sobrepeso
69,132540,21,21.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,121.0,37.5,NaN,NaN,170.0,NaN,80.6,NaN,26.2,Sobrepeso
70,132540,22,22.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,128.0,37.5,NaN,NaN,130.0,NaN,80.6,NaN,26.2,Sobrepeso

In [18]:
bmi_data_train = bmi_data_train.groupby("RecordID").first().reset_index()
bmi_data_train

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
0,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,21.0,NaN,...,122.00,37.50,NaN,NaN,50.0,13.3,76.0,7.45,24.7,Peso normal
1,132543,0,0.0,105.0,12.0,15.0,68.0,4.4,23.0,0.2,...,NaN,36.30,NaN,NaN,600.0,11.5,84.6,NaN,26.0,Sobrepeso
2,132547,0,0.0,NaN,NaN,NaN,64.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,114.0,NaN,35.1,Obesidade grau 2
3,132548,0,0.0,NaN,NaN,NaN,68.0,NaN,32.0,NaN,...,205.00,36.30,0.7,NaN,120.0,6.2,87.0,NaN,32.9,Obesidade grau 1
4,132551,0,0.0,47.0,46.0,82.0,78.0,1.9,81.0,0.3,...,102.75,38.00,3.5,NaN,120.0,16.1,48.4,7.40,18.3,Baixo peso
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4025,163007,0,0.0,42.0,30.0,40.0,19.0,2.8,16.0,0.6,...,0.00,40.55,NaN,1.00,150.0,14.1,114.3,7.36,34.2,Obesidade grau 1
4026,163008,0,0.0,NaN,NaN,NaN,59.0,NaN,24.0,NaN,...,97.00,37.60,NaN,NaN,45.0,6.9,98.5,7.38,34.0,Obesidade grau 1
4027,163013,0,0.0,82.0,11.0,30.0,74.0,2.5,30.0,1.2,...,118.00,36.50,NaN,0.03,40.0,9.6,68.6,7.35,29.5,Sobrepeso
4028,163021,0,0.0,NaN,NaN,NaN,72.0,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,8.6,62.0,NaN,20.8,Peso normal
4029,163029,0,0.0,NaN,NaN,NaN,61.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,85.0,NaN,28.5,Sobrepeso

In [19]:
bmi_data_train["Classificacao"].value_counts()

Classificacao
Sobrepeso           1405
Peso normal         1178
Obesidade grau 1     747
Obesidade grau 2     318
Obesidade grau 3     266
Baixo peso           116
Name: count, dtype: int64

In [20]:
classificacao_undefined_ids = bmi_data_train["RecordID"]
classificacao_undefined_missing = train_X[~train_X["RecordID"].isin(classificacao_undefined_ids)]
classificacao_undefined_missing = classificacao_undefined_missing.isna().sum()
classificacao_undefined_missing

RecordID            0
level_1             0
Time                0
ALP            171935
ALT            171845
AST            171843
Age             13746
Albumin        172492
BUN            162459
Bilirubin      171785
Cholesterol    174483
Creatinine     162403
DiasABP        106393
FiO2           150906
GCS            117236
Gender         171127
Glucose        162492
HCO3           162538
HCT            159975
HR              20067
Height          13746
ICUType        171127
K              161272
Lactate        168957
MAP            107102
MechVent       152991
Mg             162841
NIDiasABP       81415
NIMAP           82920
NISysABP        81356
Na             161998
PaCO2          162531
PaO2           162554
Platelets      163395
RespRate       113815
SaO2           172854
SysABP         106385
Temp           127949
TroponinI      174465
TroponinT      172688
Urine           64257
WBC            163862
Weight          82233
pH             162316
dtype: int64

In [21]:
classificacao_baixo_peso_ids = bmi_data_train[bmi_data_train["Classificacao"] == "Baixo peso"]
#classificacao_baixo_peso_ids = classificacao_baixo_peso_ids[classificacao_baixo_peso_ids["Time"] == 0.0]
classificacao_baixo_peso_ids = classificacao_baixo_peso_ids["RecordID"]
classificacao_baixo_peso_missing = train_X[train_X["RecordID"].isin(classificacao_baixo_peso_ids)]
classificacao_baixo_peso_missing = classificacao_baixo_peso_missing.isna().sum()
classificacao_baixo_peso_missing

RecordID          0
level_1           0
Time              0
ALP            5486
ALT            5484
AST            5484
Age             242
Albumin        5506
BUN            5162
Bilirubin      5483
Cholesterol    5559
Creatinine     5161
DiasABP        1977
FiO2           4644
GCS            3835
Gender         5452
Glucose        5177
HCO3           5171
HCT            5031
HR              428
Height          242
ICUType        5452
K              5140
Lactate        5266
MAP            1963
MechVent       4593
Mg             5165
NIDiasABP      3557
NIMAP          3614
NISysABP       3552
Na             5171
PaCO2          4828
PaO2           4823
Platelets      5164
RespRate       4701
SaO2           5259
SysABP         1977
Temp           3329
TroponinI      5542
TroponinT      5501
Urine          1601
WBC            5190
Weight         2700
pH             4790
dtype: int64

In [22]:
teste = classificacao_baixo_peso_ids.unique()
teste.size

116

In [23]:
classificacao_normal_peso_ids = bmi_data_train[bmi_data_train["Classificacao"] == "Peso normal"]
#classificacao_normal_peso_ids = classificacao_normal_peso_ids[classificacao_normal_peso_ids["Time"] == 0.0]
classificacao_normal_peso_ids = classificacao_normal_peso_ids["RecordID"]
classificacao_normal_peso_missing = train_X[train_X["RecordID"].isin(classificacao_normal_peso_ids)]
classificacao_normal_peso_missing = classificacao_normal_peso_missing.isna().sum()
classificacao_normal_peso_missing

RecordID           0
level_1            0
Time               0
ALP            55676
ALT            55652
AST            55654
Age             2217
Albumin        55849
BUN            52391
Bilirubin      55651
Cholesterol    56434
Creatinine     52374
DiasABP        19062
FiO2           46973
GCS            38164
Gender         55366
Glucose        52730
HCO3           52512
HCT            50748
HR              4516
Height          2217
ICUType        55366
K              52229
Lactate        53924
MAP            19212
MechVent       47034
Mg             52375
NIDiasABP      37414
NIMAP          37593
NISysABP       37397
Na             52602
PaCO2          48363
PaO2           48385
Platelets      52002
RespRate       47352
SaO2           53125
SysABP         19062
Temp           30728
TroponinI      56412
TroponinT      56010
Urine          14783
WBC            52544
Weight         27817
pH             47858
dtype: int64

In [24]:
teste = classificacao_normal_peso_ids.unique()
teste.size

1178

In [25]:
classificacao_sobrepeso_ids = bmi_data_train[bmi_data_train["Classificacao"] == "Sobrepeso"]
#classificacao_sobrepeso_ids = classificacao_sobrepeso_ids[classificacao_sobrepeso_ids["Time"] == 0.0]
classificacao_sobrepeso_ids = classificacao_sobrepeso_ids["RecordID"]
classificacao_sobrepeso_missing = train_X[train_X["RecordID"].isin(classificacao_sobrepeso_ids)]
classificacao_sobrepeso_missing = classificacao_sobrepeso_missing.isna().sum()
classificacao_sobrepeso_missing

RecordID           0
level_1            0
Time               0
ALP            66294
ALT            66276
AST            66275
Age             2897
Albumin        66649
BUN            62432
Bilirubin      66261
Cholesterol    67310
Creatinine     62410
DiasABP        21766
FiO2           55875
GCS            46808
Gender         66035
Glucose        63027
HCO3           62629
HCT            60302
HR              5948
Height          2897
ICUType        66035
K              62516
Lactate        64388
MAP            21850
MechVent       55978
Mg             62495
NIDiasABP      46171
NIMAP          46389
NISysABP       46145
Na             62863
PaCO2          56884
PaO2           56908
Platelets      61820
RespRate       56953
SaO2           62776
SysABP         21762
Temp           35555
TroponinI      67277
TroponinT      66833
Urine          17084
WBC            62529
Weight         32443
pH             56202
dtype: int64

In [26]:
teste = classificacao_sobrepeso_ids.unique()
teste.size

1405

In [27]:
classificacao_obesidade_1_ids = bmi_data_train[bmi_data_train["Classificacao"] == "Obesidade grau 1"]
#classificacao_obesidade_1_ids = classificacao_obesidade_1_ids[classificacao_obesidade_1_ids["Time"] == 0.0]
classificacao_obesidade_1_ids = classificacao_obesidade_1_ids["RecordID"]
classificacao_obesidade_1_missing = train_X[train_X["RecordID"].isin(classificacao_obesidade_1_ids)]
classificacao_obesidade_1_missing = classificacao_obesidade_1_missing.isna().sum()
classificacao_obesidade_1_missing

RecordID           0
level_1            0
Time               0
ALP            35264
ALT            35247
AST            35246
Age             1353
Albumin        35424
BUN            33137
Bilirubin      35239
Cholesterol    35801
Creatinine     33127
DiasABP        10983
FiO2           29188
GCS            24904
Gender         35109
Glucose        33460
HCO3           33248
HCT            32034
HR              2836
Height          1353
ICUType        35109
K              33161
Lactate        34067
MAP            11134
MechVent       29331
Mg             33237
NIDiasABP      24938
NIMAP          25049
NISysABP       24927
Na             33349
PaCO2          29810
PaO2           29815
Platelets      32872
RespRate       31075
SaO2           33343
SysABP         10983
Temp           18386
TroponinI      35748
TroponinT      35501
Urine           8232
WBC            33244
Weight         16784
pH             29496
dtype: int64

In [28]:
teste = classificacao_obesidade_1_ids.unique()
teste.size

747

In [29]:
classificacao_obesidade_2_ids = bmi_data_train[bmi_data_train["Classificacao"] == "Obesidade grau 2"]
#classificacao_obesidade_2_ids = classificacao_obesidade_2_ids[classificacao_obesidade_2_ids["Time"] == 0.0]
classificacao_obesidade_2_ids = classificacao_obesidade_2_ids["RecordID"]
classificacao_obesidade_2_missing = train_X[train_X["RecordID"].isin(classificacao_obesidade_2_ids)]
classificacao_obesidade_2_missing = classificacao_obesidade_2_missing.isna().sum()
classificacao_obesidade_2_missing

RecordID           0
level_1            0
Time               0
ALP            15025
ALT            15021
AST            15022
Age              667
Albumin        15099
BUN            14081
Bilirubin      15013
Cholesterol    15239
Creatinine     14071
DiasABP         4644
FiO2           12329
GCS            10746
Gender         14946
Glucose        14229
HCO3           14130
HCT            13637
HR              1312
Height           667
ICUType        14946
K              14112
Lactate        14444
MAP             4647
MechVent       12493
Mg             14137
NIDiasABP      10894
NIMAP          10969
NISysABP       10893
Na             14178
PaCO2          12610
PaO2           12612
Platelets      13970
RespRate       12950
SaO2           14065
SysABP          4642
Temp            7817
TroponinI      15238
TroponinT      15108
Urine           3778
WBC            14124
Weight          6661
pH             12503
dtype: int64

In [30]:
teste = classificacao_obesidade_2_ids.unique()
teste.size

318

In [31]:
classificacao_obesidade_3_ids = bmi_data_train[bmi_data_train["Classificacao"] == "Obesidade grau 3"]
#classificacao_obesidade_3_ids = classificacao_obesidade_3_ids[classificacao_obesidade_3_ids["Time"] == 0.0]
classificacao_obesidade_3_ids = classificacao_obesidade_3_ids["RecordID"]
classificacao_obesidade_3_missing = train_X[train_X["RecordID"].isin(classificacao_obesidade_3_ids)]
classificacao_obesidade_3_missing = classificacao_obesidade_3_missing.isna().sum()
classificacao_obesidade_3_missing

RecordID           0
level_1            0
Time               0
ALP            12525
ALT            12522
AST            12523
Age              477
Albumin        12590
BUN            11791
Bilirubin      12518
Cholesterol    12748
Creatinine     11793
DiasABP         4407
FiO2           10199
GCS             9093
Gender         12502
Glucose        11898
HCO3           11823
HCT            11521
HR               990
Height           477
ICUType        12502
K              11804
Lactate        12020
MAP             4377
MechVent       10233
Mg             11811
NIDiasABP       8807
NIMAP           8859
NISysABP        8800
Na             11870
PaCO2          10580
PaO2           10576
Platelets      11782
RespRate       11202
SaO2           11826
SysABP          4407
Temp            7165
TroponinI      12750
TroponinT      12642
Urine           3169
WBC            11864
Weight          5250
pH             10504
dtype: int64

In [32]:
teste = classificacao_obesidade_3_ids.unique()
teste.size

266

In [33]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [34]:
df_missing = pd.DataFrame(columns=df_columns)
df_missing_transpose = df_missing.T
df_missing_transpose["Female"] = female_gender_missing_rate
df_missing_transpose["Male"] = male_gender_missing_rate
df_missing_transpose["Undefined gender"] = undefined_gender_missing_rate
df_missing_transpose["ICUType 1"] = ICUType_1_training_missing
df_missing_transpose["ICUType 2"] = ICUType_2_training_missing
df_missing_transpose["ICUType 3"] = ICUType_3_training_missing
df_missing_transpose["ICUType 4"] = ICUType_4_training_missing
df_missing_transpose["Age 65+"] = more_than_or_equal_to_65_train_missing
df_missing_transpose["Age 65-"] = less_than_65_train_missing
df_missing_transpose["Low Weight"] = classificacao_baixo_peso_missing
df_missing_transpose["Normal Weight"] = classificacao_normal_peso_missing
df_missing_transpose["Overweight"] = classificacao_sobrepeso_missing
df_missing_transpose["Obesity Grade 1"] = classificacao_obesidade_1_missing
df_missing_transpose["Obesity Grade 2"] = classificacao_obesidade_2_missing
df_missing_transpose["Obesity Grade 3"] = classificacao_obesidade_3_missing
df_missing_transpose["Undefined classification"] = classificacao_undefined_missing
df_missing_transpose = df_missing_transpose.drop("RecordID", axis=0)
df_missing_transpose = df_missing_transpose.drop("level_1", axis=0)
df_missing_transpose = df_missing_transpose.drop("Time", axis=0)
df_missing_transpose = df_missing_transpose.drop("Age", axis=0)
df_missing_transpose = df_missing_transpose.drop("Gender", axis=0)
display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Original Missing Rate per Variable by demographics - Train</h2>"))
df_missing_transpose

,Female,Male,Undefined gender,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3,Undefined classification
ALP,160709,201116,380,53749,77198,129030,102228,201710,160495,5486,55676,66294,35264,15025,12525,171935
ALT,160640,201028,379,53703,77183,128959,102202,201651,160396,5484,55652,66276,35247,15021,12522,171845
AST,160643,201025,379,53704,77183,128956,102204,201644,160403,5484,55654,66275,35246,15022,12523,171843
Albumin,161328,201902,379,53926,77367,129633,102683,202162,161447,5506,55849,66649,35424,15099,12590,172492
BUN,151521,189573,359,50670,72687,121822,96274,189935,151518,5162,52391,62432,33137,14081,11791,162459
Bilirubin,160591,200979,380,53717,77192,128821,102220,201573,160377,5483,55651,66261,35239,15013,12518,171785
Cholesterol,163088,204102,384,54229,77691,131681,103973,204059,163515,5559,56434,67310,35801,15239,12748,174483
Creatinine,151483,189497,359,50614,72670,121786,96269,189870,151469,5161,52374,62410,33127,14071,11793,162403
DiasABP,78529,90481,222,32370,16455,85142,35265,91665,77567,1977,19062,21766,10983,4644,4407,106393
FiO2,137991,171780,343,48591,64341,112480,84702,171942,138172,4644,46973,55875,29188,12329,10199,150906
GCS,111082,139394,310,40492,57159,97007,56128,140932,109854,3835,38164,46808,24904,10746,9093,117236
Glucose,152082,190573,358,50836,74085,121861,96231,190959,152054,5177,52730,63027,33460,14229,11898,162492
HCO3,151746,189946,359,50804,73057,121815,96375,190285,151766,5171,52512,62629,33248,14130,11823,162538
HCT,148264,184624,360,49818,69258,120093,94079,185213,148035,5031,50748,60302,32034,13637,11521,159975
HR,15660,20331,106,6947,6234,14516,8400,19045,17052,428,4516,5948,2836,1312,990,20067
Height,9563,11941,95,4531,2499,9900,4669,11326,10273,242,2217,2897,1353,667,477,13746
ICUType,159941,200220,376,53439,76093,129062,101943,200173,160364,5452,55366,66035,35109,14946,12502,171127
K,150927,188950,357,50016,73612,121047,95559,189360,150874,5140,52229,62516,33161,14112,11804,161272
Lactate,156708,196001,357,53319,75069,126679,97999,196348,156718,5266,53924,64388,34067,14444,12020,168957
MAP,78997,91063,225,32465,16364,85740,35716,92232,78053,1963,19212,21850,11134,4647,4377,107102
MechVent,138745,173568,340,49098,64575,114035,84945,174004,138649,4593,47034,55978,29331,12493,10233,152991
Mg,151802,189897,362,50689,72848,122447,96077,190149,151912,5165,52375,62495,33237,14137,11811,162841
NIDiasABP,91851,121088,257,28140,60655,57554,66847,119042,94154,3557,37414,46171,24938,10894,8807,81415
NIMAP,92953,122183,257,28276,60789,59003,67325,120075,95318,3614,37593,46389,25049,10969,8859,82920
NISysABP,91786,121027,257,28126,60619,57514,66811,118972,94098,3552,37397,46145,24927,10893,8800,81356
Na,151655,190017,359,50815,73822,121578,95816,190411,151620,5171,52602,62863,33349,14178,11870,161998
PaCO2,145596,179671,339,50073,61972,121747,91814,180320,145286,4828,48363,56884,29810,12610,10580,162531
PaO2,145624,179710,339,50068,62023,121740,91842,180353,145320,4823,48385,56908,29815,12612,10576,162554
Platelets,151666,188979,360,50648,71448,122750,96159,189656,151349,5164,52002,61820,32872,13970,11782,163395
RespRate,119224,158533,291,35089,73922,90082,78955,153322,124726,4701,47352,56953,31075,12950,11202,113815
SaO2,157017,195849,382,51832,69225,130257,101934,195019,158229,5259,53125,62776,33343,14065,11826,172854
SysABP,78524,90472,222,32368,16454,85137,35259,91659,77559,1977,19062,21762,10983,4642,4407,106385
Temp,104420,126238,271,38156,32431,93821,66521,125049,105880,3329,30728,35555,18386,7817,7165,127949
TroponinI,162970,204079,383,54407,77622,131459,103944,203896,163536,5542,56412,67277,35748,15238,12750,174465
TroponinT,161669,202236,378,53413,77520,130027,103323,201636,162647,5501,56010,66833,35501,15108,12642,172688
Urine,48896,63828,180,23423,12040,52240,25201,59045,53859,1601,14783,17084,8232,3778,3169,64257
WBC,152497,190499,361,51047,72510,123124,96676,190956,152401,5190,52544,62529,33244,14124,11864,163862
Weight,76258,97473,157,29557,37677,46325,60329,95998,77890,2700,27817,32443,16784,6661,5250,82233
pH,144943,178391,335,49985,60460,121595,91629,179195,144474,4790,47858,56202,29496,12503,10504,162316

<h3>Validation data</h3>

In [35]:
validation_X = physionet2012_dataset['val_X']

In [36]:
female_gender_validation_ids = validation_X[validation_X["Gender"] == 0.0]
female_gender_validation_ids = female_gender_validation_ids["RecordID"]
female_gender_missing_rate_validation = validation_X[validation_X["RecordID"].isin(female_gender_validation_ids)]
female_gender_missing_rate_validation = female_gender_missing_rate_validation.isna().sum()
female_gender_missing_rate_validation

RecordID           0
level_1            0
Time               0
ALP            38629
ALT            38613
AST            38613
Age             2218
Albumin        38742
BUN            36488
Bilirubin      38615
Cholesterol    39192
Creatinine     36474
DiasABP        19967
FiO2           33585
GCS            26332
Gender         38446
Glucose        36611
HCO3           36521
HCT            35793
HR              3662
Height          2218
ICUType        38446
K              36263
Lactate        37876
MAP            20088
MechVent       33576
Mg             36520
NIDiasABP      20989
NIMAP          21264
NISysABP       20970
Na             36464
PaCO2          35374
PaO2           35383
Platelets      36545
RespRate       28671
SaO2           37894
SysABP         19965
Temp           25725
TroponinI      39187
TroponinT      38796
Urine          12099
WBC            36718
Weight         17412
pH             35230
dtype: int64

In [37]:
male_gender_validation_ids = validation_X[validation_X["Gender"] == 1.0]
male_gender_validation_ids = male_gender_validation_ids["RecordID"]
male_gender_missing_rate_validation = validation_X[validation_X["RecordID"].isin(male_gender_validation_ids)]
male_gender_missing_rate_validation = male_gender_missing_rate_validation.isna().sum()
male_gender_missing_rate_validation

RecordID           0
level_1            0
Time               0
ALP            51844
ALT            51815
AST            51814
Age             3103
Albumin        52089
BUN            48941
Bilirubin      51819
Cholesterol    52663
Creatinine     48918
DiasABP        22893
FiO2           44648
GCS            35867
Gender         51653
Glucose        49204
HCO3           49044
HCT            47610
HR              5255
Height          3103
ICUType        51653
K              48793
Lactate        50358
MAP            22985
MechVent       44958
Mg             49035
NIDiasABP      31395
NIMAP          31639
NISysABP       31376
Na             49061
PaCO2          46406
PaO2           46427
Platelets      48803
RespRate       40292
SaO2           50532
SysABP         22891
Temp           32643
TroponinI      52671
TroponinT      52159
Urine          16367
WBC            49195
Weight         25188
pH             46071
dtype: int64

In [38]:
undefined_gender_ids_validation = validation_X[validation_X["Gender"] == -1.0]
undefined_gender_ids_validation = undefined_gender_ids_validation["RecordID"]
undefined_gender_missing_rate_validation = validation_X[validation_X["RecordID"].isin(undefined_gender_ids_validation)]
undefined_gender_missing_rate_validation = undefined_gender_missing_rate_validation.isna().sum()
undefined_gender_missing_rate_validation

RecordID        0
level_1         0
Time            0
ALP            48
ALT            48
AST            48
Age             1
Albumin        48
BUN            44
Bilirubin      48
Cholesterol    48
Creatinine     44
DiasABP         2
FiO2           37
GCS            33
Gender         47
Glucose        44
HCO3           44
HCT            44
HR              3
Height          1
ICUType        47
K              44
Lactate        48
MAP             4
MechVent       41
Mg             44
NIDiasABP      38
NIMAP          38
NISysABP       38
Na             44
PaCO2          41
PaO2           41
Platelets      44
RespRate       48
SaO2           48
SysABP          2
Temp           26
TroponinI      48
TroponinT      45
Urine           8
WBC            44
Weight         13
pH             41
dtype: int64

In [39]:
ICUType_1_validation_ids = validation_X[validation_X["ICUType"] == 1.0]
ICUType_1_validation_ids = ICUType_1_validation_ids[ICUType_1_validation_ids["Time"] == 0.0]
ICUType_1_validation_ids = ICUType_1_validation_ids["RecordID"]
ICUType_1_validation_missing = validation_X[validation_X["RecordID"].isin(ICUType_1_validation_ids)]
ICUType_1_validation_missing = ICUType_1_validation_missing.isna().sum()
ICUType_1_validation_missing

RecordID           0
level_1            0
Time               0
ALP            13946
ALT            13934
AST            13935
Age             1042
Albumin        14005
BUN            13160
Bilirubin      13937
Cholesterol    14072
Creatinine     13130
DiasABP         7818
FiO2           12639
GCS            10476
Gender         13865
Glucose        13223
HCO3           13203
HCT            12905
HR              1650
Height          1042
ICUType        13865
K              12990
Lactate        13829
MAP             7836
MechVent       12705
Mg             13174
NIDiasABP       7663
NIMAP           7696
NISysABP        7653
Na             13216
PaCO2          12981
PaO2           12980
Platelets      13140
RespRate        9124
SaO2           13448
SysABP          7818
Temp            9872
TroponinI      14116
TroponinT      13837
Urine           6068
WBC            13253
Weight          7933
pH             12942
dtype: int64

In [40]:
ICUType_2_validation_ids = validation_X[validation_X["ICUType"] == 2.0]
ICUType_2_validation_ids = ICUType_2_validation_ids[ICUType_2_validation_ids["Time"] == 0.0]
ICUType_2_validation_ids = ICUType_2_validation_ids["RecordID"]
ICUType_2_validation_missing = validation_X[validation_X["RecordID"].isin(ICUType_2_validation_ids)]
ICUType_2_validation_missing = ICUType_2_validation_missing.isna().sum()
ICUType_2_validation_missing

RecordID           0
level_1            0
Time               0
ALP            18194
ALT            18189
AST            18189
Age              643
Albumin        18249
BUN            17152
Bilirubin      18192
Cholesterol    18334
Creatinine     17155
DiasABP         4025
FiO2           15339
GCS            13480
Gender         17954
Glucose        17499
HCO3           17236
HCT            16327
HR              1565
Height           643
ICUType        17954
K              17368
Lactate        17618
MAP             3955
MechVent       15338
Mg             17203
NIDiasABP      14460
NIMAP          14519
NISysABP       14455
Na             17411
PaCO2          14563
PaO2           14577
Platelets      16842
RespRate       17891
SaO2           16343
SysABP          4024
Temp            7438
TroponinI      18314
TroponinT      18288
Urine           2827
WBC            17091
Weight          8596
pH             14195
dtype: int64

In [41]:
ICUType_3_validation_ids = validation_X[validation_X["ICUType"] == 3.0]
ICUType_3_validation_ids = ICUType_3_validation_ids[ICUType_3_validation_ids["Time"] == 0.0]
ICUType_3_validation_ids = ICUType_3_validation_ids["RecordID"]
ICUType_3_validation_missing = validation_X[validation_X["RecordID"].isin(ICUType_3_validation_ids)]
ICUType_3_validation_missing = ICUType_3_validation_missing.isna().sum()
ICUType_3_validation_missing

RecordID           0
level_1            0
Time               0
ALP            32698
ALT            32676
AST            32677
Age             2341
Albumin        32884
BUN            30962
Bilirubin      32661
Cholesterol    33423
Creatinine     30956
DiasABP        22193
FiO2           28813
GCS            24378
Gender         32759
Glucose        30961
HCO3           30953
HCT            30556
HR              3433
Height          2341
ICUType        32759
K              30742
Lactate        32186
MAP            22343
MechVent       28972
Mg             31066
NIDiasABP      13826
NIMAP          14141
NISysABP       13814
Na             30892
PaCO2          31088
PaO2           31092
Platelets      31217
RespRate       23038
SaO2           33070
SysABP         22191
Temp           23974
TroponinI      33390
TroponinT      32988
Urine          13023
WBC            31317
Weight         11756
pH             31052
dtype: int64

In [42]:
ICUType_4_validation_ids = validation_X[validation_X["ICUType"] == 4.0]
ICUType_4_validation_ids = ICUType_4_validation_ids[ICUType_4_validation_ids["Time"] == 0.0]
ICUType_4_validation_ids = ICUType_4_validation_ids["RecordID"]
ICUType_4_validation_missing = validation_X[validation_X["RecordID"].isin(ICUType_4_validation_ids)]
ICUType_4_validation_missing = ICUType_4_validation_missing.isna().sum()
ICUType_4_validation_missing

RecordID           0
level_1            0
Time               0
ALP            25683
ALT            25677
AST            25674
Age             1296
Albumin        25741
BUN            24199
Bilirubin      25692
Cholesterol    26074
Creatinine     24195
DiasABP         8826
FiO2           21479
GCS            13898
Gender         25568
Glucose        24176
HCO3           24217
HCT            23659
HR              2272
Height          1296
ICUType        25568
K              24000
Lactate        24649
MAP             8943
MechVent       21560
Mg             24156
NIDiasABP      16473
NIMAP          16585
NISysABP       16462
Na             24050
PaCO2          23189
PaO2           23202
Platelets      24193
RespRate       18958
SaO2           25613
SysABP          8825
Temp           17110
TroponinI      26086
TroponinT      25887
Urine           6556
WBC            24296
Weight         14328
pH             23153
dtype: int64

In [43]:
more_than_or_equal_to_65_validation_ids = validation_X[validation_X["Age"] >= 65]
more_than_or_equal_to_65_validation_ids = more_than_or_equal_to_65_validation_ids[more_than_or_equal_to_65_validation_ids["Time"] == 0.0]
more_than_or_equal_to_65_validation_ids = more_than_or_equal_to_65_validation_ids["RecordID"]
more_than_or_equal_to_65_validation_missing = validation_X[validation_X["RecordID"].isin(more_than_or_equal_to_65_validation_ids)]
more_than_or_equal_to_65_validation_missing = more_than_or_equal_to_65_validation_missing.isna().sum()
more_than_or_equal_to_65_validation_missing

RecordID           0
level_1            0
Time               0
ALP            49078
ALT            49059
AST            49057
Age             2759
Albumin        49199
BUN            46292
Bilirubin      49058
Cholesterol    49630
Creatinine     46270
DiasABP        22893
FiO2           42477
GCS            34268
Gender         48692
Glucose        46549
HCO3           46369
HCT            45092
HR              4687
Height          2759
ICUType        48692
K              46115
Lactate        47827
MAP            22976
MechVent       42707
Mg             46361
NIDiasABP      28268
NIMAP          28462
NISysABP       28248
Na             46405
PaCO2          44139
PaO2           44154
Platelets      46201
RespRate       37582
SaO2           47441
SysABP         22890
Temp           31101
TroponinI      49614
TroponinT      48999
Urine          14701
WBC            46504
Weight         22707
pH             43867
dtype: int64

In [44]:
less_than_65_validation_ids = validation_X[validation_X["Age"] < 65]
less_than_65_validation_ids = less_than_65_validation_ids[less_than_65_validation_ids["Time"] == 0.0]
less_than_65_validation_ids = less_than_65_validation_ids["RecordID"]
less_than_65_validation_missing = validation_X[validation_X["RecordID"].isin(less_than_65_validation_ids)]
less_than_65_validation_missing = less_than_65_validation_missing.isna().sum()
less_than_65_validation_missing

RecordID           0
level_1            0
Time               0
ALP            41443
ALT            41417
AST            41418
Age             2563
Albumin        41680
BUN            39181
Bilirubin      41424
Cholesterol    42273
Creatinine     39166
DiasABP        19969
FiO2           35793
GCS            27964
Gender         41454
Glucose        39310
HCO3           39240
HCT            38355
HR              4233
Height          2563
ICUType        41454
K              38985
Lactate        40455
MAP            20101
MechVent       35868
Mg             39238
NIDiasABP      24154
NIMAP          24479
NISysABP       24136
Na             39164
PaCO2          37682
PaO2           37697
Platelets      39191
RespRate       31429
SaO2           41033
SysABP         19968
Temp           27293
TroponinI      42292
TroponinT      42001
Urine          13773
WBC            39453
Weight         19906
pH             37475
dtype: int64

In [45]:
filtered_validation_X = validation_X[(validation_X['Height'] != -1) & (validation_X['Weight'] != -1) & (validation_X['Height'].notna()) & (validation_X['Weight'].notna())]

In [46]:
filtered_validation_X_metros = filtered_validation_X.copy()
filtered_validation_X_metros["Height"] = filtered_validation_X["Height"]/100
filtered_validation_X_metros["Height"]

576       1.575
577       1.575
578       1.575
579       1.575
580       1.575
          ...
575321    1.727
575322    1.727
575323    1.727
575325    1.727
575327    1.727
Name: Height, Length: 25755, dtype: float64

In [47]:
bmi_data_validation = filtered_validation_X_metros
bmi_data_validation["BMI"] = round(filtered_validation_X_metros["Weight"] / (filtered_validation_X_metros["Height"]**2), 1)
bmi_data_validation["Classificacao"] = bmi_data_validation["BMI"].apply(classify_BMI)
bmi_data_validation.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
576,132568,0,0.0,NaN,NaN,NaN,66.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,220.0,NaN,84.5,NaN,34.1,Obesidade grau 1
577,132568,1,1.0,NaN,NaN,NaN,66.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,45.0,NaN,84.5,NaN,34.1,Obesidade grau 1
578,132568,2,2.0,NaN,NaN,NaN,66.0,NaN,NaN,NaN,...,NaN,36.1,NaN,NaN,45.0,NaN,84.5,NaN,34.1,Obesidade grau 1
579,132568,3,3.0,NaN,NaN,NaN,66.0,NaN,18.0,NaN,...,NaN,NaN,NaN,NaN,45.0,14.8,84.5,NaN,34.1,Obesidade grau 1
580,132568,4,4.0,NaN,NaN,NaN,66.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,50.0,NaN,84.5,NaN,34.1,Obesidade grau 1

In [48]:
bmi_data_validation = bmi_data_validation.groupby("RecordID").first().reset_index()
bmi_data_validation

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
0,132568,0,0.0,NaN,NaN,NaN,66.0,NaN,18.0,NaN,...,NaN,36.1,NaN,NaN,220.0,14.8,84.5,NaN,34.1,Obesidade grau 1
1,132582,0,0.0,NaN,NaN,NaN,84.0,2.6,31.0,NaN,...,NaN,36.3,NaN,NaN,200.0,5.3,82.5,NaN,24.7,Peso normal
2,132585,0,0.0,NaN,NaN,NaN,40.0,NaN,NaN,NaN,...,90.5,NaN,NaN,NaN,320.0,NaN,84.7,NaN,31.1,Obesidade grau 1
3,132622,0,0.0,NaN,NaN,NaN,71.0,NaN,64.0,NaN,...,NaN,37.4,19.0,NaN,80.0,7.2,79.0,NaN,30.9,Obesidade grau 1
4,132637,0,0.0,NaN,NaN,NaN,78.0,NaN,13.0,NaN,...,99.0,37.0,NaN,NaN,90.0,14.2,56.0,7.39,19.3,Peso normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,162889,0,0.0,NaN,NaN,NaN,64.0,NaN,15.0,NaN,...,125.0,37.0,NaN,NaN,160.0,9.3,89.2,7.42,26.7,Sobrepeso
991,162901,0,0.0,NaN,NaN,NaN,45.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,87.0,NaN,26.8,Sobrepeso
992,162980,0,0.0,NaN,NaN,NaN,88.0,NaN,31.0,NaN,...,133.0,38.0,NaN,NaN,45.0,17.6,76.5,7.38,29.9,Sobrepeso
993,163016,0,0.0,NaN,27.0,120.0,65.0,NaN,29.0,0.4,...,101.0,38.1,NaN,NaN,75.0,8.0,63.6,7.37,24.8,Peso normal
994,163034,0,0.0,NaN,NaN,NaN,60.0,NaN,15.0,NaN,...,103.0,37.9,NaN,NaN,160.0,6.1,85.0,7.43,28.5,Sobrepeso

In [49]:
bmi_data_validation["Classificacao"].value_counts()

Classificacao
Sobrepeso           333
Peso normal         298
Obesidade grau 1    175
Obesidade grau 2     79
Obesidade grau 3     75
Baixo peso           35
Name: count, dtype: int64

In [50]:
classificacao_undefined_ids_validation = bmi_data_validation["RecordID"]
classificacao_undefined_missing_validation = validation_X[~validation_X["RecordID"].isin(classificacao_undefined_ids_validation)]
classificacao_undefined_missing_validation = classificacao_undefined_missing_validation.isna().sum()
classificacao_undefined_missing_validation

RecordID           0
level_1            0
Time               0
ALP            43506
ALT            43483
AST            43482
Age             3148
Albumin        43659
BUN            41228
Bilirubin      43480
Cholesterol    44226
Creatinine     41204
DiasABP        26163
FiO2           38211
GCS            29065
Gender         43381
Glucose        41235
HCO3           41250
HCT            40526
HR              4699
Height          3148
ICUType        43381
K              40929
Lactate        42778
MAP            26306
MechVent       38458
Mg             41257
NIDiasABP      20639
NIMAP          20992
NISysABP       20627
Na             41099
PaCO2          41240
PaO2           41252
Platelets      41427
RespRate       29791
SaO2           43778
SysABP         26161
Temp           32188
TroponinI      44235
TroponinT      43728
Urine          15757
WBC            41537
Weight         20608
pH             41174
dtype: int64

In [51]:
classificacao_baixo_peso_ids_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Baixo peso"]
classificacao_baixo_peso_ids_validation = classificacao_baixo_peso_ids_validation["RecordID"]
classificacao_baixo_peso_missing_validation = validation_X[validation_X["RecordID"].isin(classificacao_baixo_peso_ids_validation)]
classificacao_baixo_peso_missing_validation = classificacao_baixo_peso_missing_validation.isna().sum()
classificacao_baixo_peso_missing_validation

RecordID          0
level_1           0
Time              0
ALP            1655
ALT            1655
AST            1654
Age              65
Albumin        1664
BUN            1556
Bilirubin      1656
Cholesterol    1678
Creatinine     1555
DiasABP         624
FiO2           1442
GCS            1119
Gender         1645
Glucose        1565
HCO3           1555
HCT            1514
HR              128
Height           65
ICUType        1645
K              1548
Lactate        1596
MAP             623
MechVent       1435
Mg             1551
NIDiasABP      1099
NIMAP          1106
NISysABP       1099
Na             1555
PaCO2          1491
PaO2           1491
Platelets      1556
RespRate       1194
SaO2           1609
SysABP          623
Temp            980
TroponinI      1672
TroponinT      1663
Urine           489
WBC            1567
Weight          861
pH             1479
dtype: int64

In [52]:
teste = classificacao_baixo_peso_ids_validation.unique()
teste.size

35

In [53]:
classificacao_peso_normal_ids_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Peso normal"]
classificacao_peso_normal_ids_validation = classificacao_peso_normal_ids_validation["RecordID"]
classificacao_peso_normal_missing_validation = validation_X[validation_X["RecordID"].isin(classificacao_peso_normal_ids_validation)]
classificacao_peso_normal_missing_validation = classificacao_peso_normal_missing_validation.isna().sum()
classificacao_peso_normal_missing_validation

RecordID           0
level_1            0
Time               0
ALP            14085
ALT            14076
AST            14078
Age              637
Albumin        14150
BUN            13279
Bilirubin      14073
Cholesterol    14283
Creatinine     13282
DiasABP         5427
FiO2           12114
GCS             9766
Gender         14006
Glucose        13389
HCO3           13318
HCT            12854
HR              1260
Height           637
ICUType        14006
K              13245
Lactate        13644
MAP             5430
MechVent       12050
Mg             13298
NIDiasABP       9213
NIMAP           9232
NISysABP        9207
Na             13327
PaCO2          12263
PaO2           12273
Platelets      13170
RespRate       11318
SaO2           13501
SysABP          5426
Temp            8055
TroponinI      14268
TroponinT      14178
Urine           3914
WBC            13297
Weight          6801
pH             12148
dtype: int64

In [54]:
teste = classificacao_peso_normal_ids_validation.unique()
teste.size

298

In [55]:
classificacao_sobrepeso_ids_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Sobrepeso"]
classificacao_sobrepeso_ids_validation = classificacao_sobrepeso_ids_validation["RecordID"]
classificacao_sobrepeso_missing_validation = validation_X[validation_X["RecordID"].isin(classificacao_sobrepeso_ids_validation)]
classificacao_sobrepeso_missing_validation = classificacao_sobrepeso_missing_validation.isna().sum()
classificacao_sobrepeso_missing_validation

RecordID           0
level_1            0
Time               0
ALP            15740
ALT            15732
AST            15731
Age              767
Albumin        15787
BUN            14767
Bilirubin      15738
Cholesterol    15953
Creatinine     14754
DiasABP         5245
FiO2           13320
GCS            11140
Gender         15651
Glucose        14912
HCO3           14805
HCT            14340
HR              1470
Height           767
ICUType        15651
K              14769
Lactate        15234
MAP             5291
MechVent       13468
Mg             14823
NIDiasABP      10780
NIMAP          10832
NISysABP       10773
Na             14857
PaCO2          13469
PaO2           13476
Platelets      14661
RespRate       13713
SaO2           14878
SysABP          5245
Temp            8497
TroponinI      15969
TroponinT      15820
Urine           4311
WBC            14842
Weight          7652
pH             13300
dtype: int64

In [56]:
teste = classificacao_sobrepeso_ids_validation.unique()
teste.size

333

In [57]:
classificacao_obesidade_1_ids_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Obesidade grau 1"]
classificacao_obesidade_1_ids_validation = classificacao_obesidade_1_ids_validation["RecordID"]
classificacao_obesidade_1_missing_validation = validation_X[validation_X["RecordID"].isin(classificacao_obesidade_1_ids_validation)]
classificacao_obesidade_1_missing_validation = classificacao_obesidade_1_missing_validation.isna().sum()
classificacao_obesidade_1_missing_validation

RecordID          0
level_1           0
Time              0
ALP            8261
ALT            8258
AST            8260
Age             336
Albumin        8304
BUN            7780
Bilirubin      8260
Cholesterol    8385
Creatinine     7778
DiasABP        2698
FiO2           7037
GCS            5885
Gender         8225
Glucose        7856
HCO3           7809
HCT            7543
HR              705
Height          336
ICUType        8225
K              7763
Lactate        7971
MAP            2705
MechVent       7022
Mg             7820
NIDiasABP      5771
NIMAP          5796
NISysABP       5765
Na             7845
PaCO2          7075
PaO2           7075
Platelets      7754
RespRate       7221
SaO2           7799
SysABP         2698
Temp           4548
TroponinI      8390
TroponinT      8326
Urine          1994
WBC            7835
Weight         3590
pH             6997
dtype: int64

In [58]:
teste = classificacao_obesidade_1_ids_validation.unique()
teste.size

175

In [59]:
classificacao_obesidade_2_ids_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Obesidade grau 2"]
classificacao_obesidade_2_ids_validation = classificacao_obesidade_2_ids_validation["RecordID"]
classificacao_obesidade_2_missing_validation = validation_X[validation_X["RecordID"].isin(classificacao_obesidade_2_ids_validation)]
classificacao_obesidade_2_missing_validation = classificacao_obesidade_2_missing_validation.isna().sum()
classificacao_obesidade_2_missing_validation

RecordID          0
level_1           0
Time              0
ALP            3718
ALT            3719
AST            3717
Age             173
Albumin        3739
BUN            3504
Bilirubin      3718
Cholesterol    3786
Creatinine     3505
DiasABP        1259
FiO2           3179
GCS            2663
Gender         3713
Glucose        3526
HCO3           3503
HCT            3394
HR              318
Height          173
ICUType        3713
K              3502
Lactate        3602
MAP            1261
MechVent       3198
Mg             3495
NIDiasABP      2537
NIMAP          2573
NISysABP       2533
Na             3511
PaCO2          3172
PaO2           3174
Platelets      3477
RespRate       3023
SaO2           3486
SysABP         1259
Temp           1892
TroponinI      3782
TroponinT      3729
Urine          1017
WBC            3507
Weight         1548
pH             3145
dtype: int64

In [60]:
teste = classificacao_obesidade_2_ids_validation.unique()
teste.size

79

In [61]:
classificacao_obesidade_3_ids_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Obesidade grau 3"]
classificacao_obesidade_3_ids_validation = classificacao_obesidade_3_ids_validation["RecordID"]
classificacao_obesidade_3_missing_validation = validation_X[validation_X["RecordID"].isin(classificacao_obesidade_3_ids_validation)]
classificacao_obesidade_3_missing_validation = classificacao_obesidade_3_missing_validation.isna().sum()
classificacao_obesidade_3_missing_validation

RecordID          0
level_1           0
Time              0
ALP            3556
ALT            3553
AST            3553
Age             196
Albumin        3576
BUN            3359
Bilirubin      3557
Cholesterol    3592
Creatinine     3358
DiasABP        1446
FiO2           2967
GCS            2594
Gender         3525
Glucose        3376
HCO3           3369
HCT            3276
HR              340
Height          196
ICUType        3525
K              3344
Lactate        3457
MAP            1461
MechVent       2944
Mg             3355
NIDiasABP      2383
NIMAP          2410
NISysABP       2380
Na             3375
PaCO2          3111
PaO2           3110
Platelets      3347
RespRate       2751
SaO2           3423
SysABP         1446
Temp           2234
TroponinI      3590
TroponinT      3556
Urine           992
WBC            3372
Weight         1553
pH             3099
dtype: int64

In [62]:
teste = classificacao_obesidade_3_ids_validation.unique()
teste.size

75

In [63]:
df_missing_validation = pd.DataFrame(columns=df_columns)
df_missing_transpose_validation = df_missing_validation.T
df_missing_transpose_validation["Female"] = female_gender_missing_rate_validation
df_missing_transpose_validation["Male"] = male_gender_missing_rate_validation
df_missing_transpose_validation["Undefined gender"] = undefined_gender_missing_rate_validation
df_missing_transpose_validation["ICUType 1"] = ICUType_1_validation_missing
df_missing_transpose_validation["ICUType 2"] = ICUType_2_validation_missing
df_missing_transpose_validation["ICUType 3"] = ICUType_3_validation_missing
df_missing_transpose_validation["ICUType 4"] = ICUType_4_validation_missing
df_missing_transpose_validation["Age 65+"] = more_than_or_equal_to_65_validation_missing
df_missing_transpose_validation["Age 65-"] = less_than_65_validation_missing
df_missing_transpose_validation["Low Weight"] = classificacao_baixo_peso_missing_validation
df_missing_transpose_validation["Normal Weight"] = classificacao_peso_normal_missing_validation
df_missing_transpose_validation["Overweight"] = classificacao_sobrepeso_missing_validation
df_missing_transpose_validation["Obesity Grade 1"] = classificacao_obesidade_1_missing_validation
df_missing_transpose_validation["Obesity Grade 2"] = classificacao_obesidade_2_missing_validation
df_missing_transpose_validation["Obesity Grade 3"] = classificacao_obesidade_3_missing_validation
df_missing_transpose_validation["Undefined classification"] = classificacao_undefined_missing_validation
df_missing_transpose_validation = df_missing_transpose_validation.drop("RecordID", axis=0)
df_missing_transpose_validation = df_missing_transpose_validation.drop("level_1", axis=0)
df_missing_transpose_validation = df_missing_transpose_validation.drop("Time", axis=0)
df_missing_transpose_validation = df_missing_transpose_validation.drop("Age", axis=0)
df_missing_transpose_validation = df_missing_transpose_validation.drop("Gender", axis=0)
display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Original Missing Rate per Variable by demographcs - Validation</h2>"))
df_missing_transpose_validation

,Female,Male,Undefined gender,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3,Undefined classification
ALP,38629,51844,48,13946,18194,32698,25683,49078,41443,1655,14085,15740,8261,3718,3556,43506
ALT,38613,51815,48,13934,18189,32676,25677,49059,41417,1655,14076,15732,8258,3719,3553,43483
AST,38613,51814,48,13935,18189,32677,25674,49057,41418,1654,14078,15731,8260,3717,3553,43482
Albumin,38742,52089,48,14005,18249,32884,25741,49199,41680,1664,14150,15787,8304,3739,3576,43659
BUN,36488,48941,44,13160,17152,30962,24199,46292,39181,1556,13279,14767,7780,3504,3359,41228
Bilirubin,38615,51819,48,13937,18192,32661,25692,49058,41424,1656,14073,15738,8260,3718,3557,43480
Cholesterol,39192,52663,48,14072,18334,33423,26074,49630,42273,1678,14283,15953,8385,3786,3592,44226
Creatinine,36474,48918,44,13130,17155,30956,24195,46270,39166,1555,13282,14754,7778,3505,3358,41204
DiasABP,19967,22893,2,7818,4025,22193,8826,22893,19969,624,5427,5245,2698,1259,1446,26163
FiO2,33585,44648,37,12639,15339,28813,21479,42477,35793,1442,12114,13320,7037,3179,2967,38211
GCS,26332,35867,33,10476,13480,24378,13898,34268,27964,1119,9766,11140,5885,2663,2594,29065
Glucose,36611,49204,44,13223,17499,30961,24176,46549,39310,1565,13389,14912,7856,3526,3376,41235
HCO3,36521,49044,44,13203,17236,30953,24217,46369,39240,1555,13318,14805,7809,3503,3369,41250
HCT,35793,47610,44,12905,16327,30556,23659,45092,38355,1514,12854,14340,7543,3394,3276,40526
HR,3662,5255,3,1650,1565,3433,2272,4687,4233,128,1260,1470,705,318,340,4699
Height,2218,3103,1,1042,643,2341,1296,2759,2563,65,637,767,336,173,196,3148
ICUType,38446,51653,47,13865,17954,32759,25568,48692,41454,1645,14006,15651,8225,3713,3525,43381
K,36263,48793,44,12990,17368,30742,24000,46115,38985,1548,13245,14769,7763,3502,3344,40929
Lactate,37876,50358,48,13829,17618,32186,24649,47827,40455,1596,13644,15234,7971,3602,3457,42778
MAP,20088,22985,4,7836,3955,22343,8943,22976,20101,623,5430,5291,2705,1261,1461,26306
MechVent,33576,44958,41,12705,15338,28972,21560,42707,35868,1435,12050,13468,7022,3198,2944,38458
Mg,36520,49035,44,13174,17203,31066,24156,46361,39238,1551,13298,14823,7820,3495,3355,41257
NIDiasABP,20989,31395,38,7663,14460,13826,16473,28268,24154,1099,9213,10780,5771,2537,2383,20639
NIMAP,21264,31639,38,7696,14519,14141,16585,28462,24479,1106,9232,10832,5796,2573,2410,20992
NISysABP,20970,31376,38,7653,14455,13814,16462,28248,24136,1099,9207,10773,5765,2533,2380,20627
Na,36464,49061,44,13216,17411,30892,24050,46405,39164,1555,13327,14857,7845,3511,3375,41099
PaCO2,35374,46406,41,12981,14563,31088,23189,44139,37682,1491,12263,13469,7075,3172,3111,41240
PaO2,35383,46427,41,12980,14577,31092,23202,44154,37697,1491,12273,13476,7075,3174,3110,41252
Platelets,36545,48803,44,13140,16842,31217,24193,46201,39191,1556,13170,14661,7754,3477,3347,41427
RespRate,28671,40292,48,9124,17891,23038,18958,37582,31429,1194,11318,13713,7221,3023,2751,29791
SaO2,37894,50532,48,13448,16343,33070,25613,47441,41033,1609,13501,14878,7799,3486,3423,43778
SysABP,19965,22891,2,7818,4024,22191,8825,22890,19968,623,5426,5245,2698,1259,1446,26161
Temp,25725,32643,26,9872,7438,23974,17110,31101,27293,980,8055,8497,4548,1892,2234,32188
TroponinI,39187,52671,48,14116,18314,33390,26086,49614,42292,1672,14268,15969,8390,3782,3590,44235
TroponinT,38796,52159,45,13837,18288,32988,25887,48999,42001,1663,14178,15820,8326,3729,3556,43728
Urine,12099,16367,8,6068,2827,13023,6556,14701,13773,489,3914,4311,1994,1017,992,15757
WBC,36718,49195,44,13253,17091,31317,24296,46504,39453,1567,13297,14842,7835,3507,3372,41537
Weight,17412,25188,13,7933,8596,11756,14328,22707,19906,861,6801,7652,3590,1548,1553,20608
pH,35230,46071,41,12942,14195,31052,23153,43867,37475,1479,12148,13300,6997,3145,3099,41174

<h3>Test data</h3>

In [64]:
test_X = physionet2012_dataset['test_X']

In [65]:
test_X["Gender"].value_counts()

Gender
 1.0    1358
 0.0    1038
-1.0       3
Name: count, dtype: int64

In [66]:
female_gender_test_ids = test_X[test_X['Gender'] == 0.0]
female_gender_test_ids = female_gender_test_ids["RecordID"]
female_gender_missing_rate_test = test_X[test_X["RecordID"].isin(female_gender_test_ids)]
female_gender_missing_rate_test = female_gender_missing_rate_test.isna().sum()
female_gender_missing_rate_test

RecordID           0
level_1            0
Time               0
ALP            48992
ALT            48958
AST            48960
Age             2928
Albumin        49148
BUN            46202
Bilirubin      48953
Cholesterol    49737
Creatinine     46180
DiasABP        23479
FiO2           41902
GCS            33494
Gender         48786
Glucose        46351
HCO3           46241
HCT            45154
HR              4773
Height          2928
ICUType        48786
K              45993
Lactate        47826
MAP            23651
MechVent       42054
Mg             46242
NIDiasABP      28367
NIMAP          28663
NISysABP       28356
Na             46212
PaCO2          44407
PaO2           44421
Platelets      46189
RespRate       37444
SaO2           48158
SysABP         23477
Temp           32460
TroponinI      49717
TroponinT      49278
Urine          15378
WBC            46447
Weight         23084
pH             44200
dtype: int64

In [67]:
female_gender_test_ids.unique().size

1038

In [68]:
male_gender_test_ids = test_X[test_X['Gender'] == 1.0]
male_gender_test_ids = male_gender_test_ids["RecordID"]
male_gender_missing_rate_test = test_X[test_X["RecordID"].isin(male_gender_test_ids)]
male_gender_missing_rate_test = male_gender_missing_rate_test.isna().sum()
male_gender_missing_rate_test

RecordID           0
level_1            0
Time               0
ALP            64138
ALT            64105
AST            64103
Age             3769
Albumin        64405
BUN            60490
Bilirubin      64103
Cholesterol    65072
Creatinine     60474
DiasABP        27991
FiO2           54664
GCS            44378
Gender         63826
Glucose        60795
HCO3           60602
HCT            58758
HR              6564
Height          3769
ICUType        63826
K              60298
Lactate        62414
MAP            28329
MechVent       55277
Mg             60551
NIDiasABP      39264
NIMAP          39586
NISysABP       39223
Na             60598
PaCO2          57031
PaO2           57040
Platelets      60295
RespRate       52377
SaO2           62278
SysABP         27988
Temp           39884
TroponinI      65051
TroponinT      64472
Urine          19985
WBC            60783
Weight         31665
pH             56627
dtype: int64

In [69]:
male_gender_test_ids.unique().size

1358

In [70]:
undefined_gender_ids_test = test_X[test_X["Gender"] == -1.0]
undefined_gender_ids_test = undefined_gender_ids_test["RecordID"]
undefined_gender_missing_rate_test = test_X[test_X["RecordID"].isin(undefined_gender_ids_test)]
undefined_gender_missing_rate_test = undefined_gender_missing_rate_test.isna().sum()
undefined_gender_missing_rate_test

RecordID         0
level_1          0
Time             0
ALP            143
ALT            143
AST            143
Age             50
Albumin        144
BUN            136
Bilirubin      143
Cholesterol    144
Creatinine     136
DiasABP         62
FiO2           144
GCS            103
Gender         141
Glucose        137
HCO3           136
HCT            138
HR              54
Height          50
ICUType        141
K              137
Lactate        142
MAP             63
MechVent       144
Mg             136
NIDiasABP      104
NIMAP          104
NISysABP       104
Na             137
PaCO2          140
PaO2           140
Platelets      138
RespRate       102
SaO2           143
SysABP          62
Temp           124
TroponinI      144
TroponinT      144
Urine          105
WBC            138
Weight         106
pH             139
dtype: int64

In [71]:
ICUType_1_test_ids = test_X[test_X["ICUType"] == 1.0]
ICUType_1_test_ids = ICUType_1_test_ids[ICUType_1_test_ids["Time"] == 0.0]
ICUType_1_test_ids = ICUType_1_test_ids["RecordID"]
ICUType_1_test_missing = test_X[test_X["RecordID"].isin(ICUType_1_test_ids)]
ICUType_1_test_missing = ICUType_1_test_missing.isna().sum()
ICUType_1_test_missing

RecordID           0
level_1            0
Time               0
ALP            15766
ALT            15749
AST            15749
Age             1495
Albumin        15830
BUN            14837
Bilirubin      15756
Cholesterol    15881
Creatinine     14822
DiasABP         9531
FiO2           14252
GCS            11883
Gender         15651
Glucose        14871
HCO3           14864
HCT            14589
HR              2210
Height          1495
ICUType        15651
K              14670
Lactate        15656
MAP             9555
MechVent       14330
Mg             14841
NIDiasABP       8210
NIMAP           8255
NISysABP        8206
Na             14867
PaCO2          14670
PaO2           14675
Platelets      14847
RespRate       10635
SaO2           15260
SysABP          9531
Temp           11249
TroponinI      15940
TroponinT      15629
Urine           7066
WBC            14957
Weight          9277
pH             14649
dtype: int64

In [72]:
ICUType_1_test_ids.unique().size

333

In [73]:
ICUType_2_test_ids = test_X[test_X["ICUType"] == 2.0]
ICUType_2_test_ids = ICUType_2_test_ids[ICUType_2_test_ids["Time"] == 0.0]
ICUType_2_test_ids = ICUType_2_test_ids["RecordID"]
ICUType_2_test_missing = test_X[test_X["RecordID"].isin(ICUType_2_test_ids)]
ICUType_2_test_missing = ICUType_2_test_missing.isna().sum()
ICUType_2_test_missing

RecordID           0
level_1            0
Time               0
ALP            25095
ALT            25091
AST            25092
Age              972
Albumin        25163
BUN            23632
Bilirubin      25094
Cholesterol    25286
Creatinine     23628
DiasABP         5664
FiO2           21081
GCS            18573
Gender         24769
Glucose        24088
HCO3           23758
HCT            22528
HR              2238
Height           972
ICUType        24769
K              23934
Lactate        24394
MAP             5664
MechVent       21260
Mg             23640
NIDiasABP      19852
NIMAP          19888
NISysABP       19840
Na             23997
PaCO2          20221
PaO2           20233
Platelets      23229
RespRate       24386
SaO2           22620
SysABP          5663
Temp           10845
TroponinI      25249
TroponinT      25229
Urine           4397
WBC            23561
Weight         12157
pH             19739
dtype: int64

In [74]:
ICUType_2_test_ids.unique().size

527

In [75]:
ICUType_3_test_ids = test_X[test_X["ICUType"] == 3.0]
ICUType_3_test_ids = ICUType_3_test_ids[ICUType_3_test_ids["Time"] == 0.0]
ICUType_3_test_ids = ICUType_3_test_ids["RecordID"]
ICUType_3_test_missing = test_X[test_X["RecordID"].isin(ICUType_3_test_ids)]
ICUType_3_test_missing = ICUType_3_test_missing.isna().sum()
ICUType_3_test_missing

RecordID           0
level_1            0
Time               0
ALP            39595
ALT            39561
AST            39561
Age             2705
Albumin        39825
BUN            37480
Bilirubin      39528
Cholesterol    40470
Creatinine     37465
DiasABP        25606
FiO2           34255
GCS            29591
Gender         39668
Glucose        37467
HCO3           37457
HCT            36892
HR              4093
Height          2705
ICUType        39668
K              37197
Lactate        38907
MAP            25839
MechVent       34732
Mg             37625
NIDiasABP      17524
NIMAP          17879
NISysABP       17508
Na             37397
PaCO2          37270
PaO2           37263
Platelets      37710
RespRate       29232
SaO2           39977
SysABP         25603
Temp           29030
TroponinI      40427
TroponinT      39937
Urine          15841
WBC            37843
Weight         14104
pH             37221
dtype: int64

In [76]:
ICUType_3_test_ids.unique().size

844

In [77]:
ICUType_4_test_ids = test_X[test_X["ICUType"] == 4.0]
ICUType_4_test_ids = ICUType_4_test_ids[ICUType_4_test_ids["Time"] == 0.0]
ICUType_4_test_ids = ICUType_4_test_ids["RecordID"]
ICUType_4_test_missing = test_X[test_X["RecordID"].isin(ICUType_4_test_ids)]
ICUType_4_test_missing = ICUType_4_test_missing.isna().sum()
ICUType_4_test_missing

RecordID           0
level_1            0
Time               0
ALP            32817
ALT            32805
AST            32804
Age             1575
Albumin        32879
BUN            30879
Bilirubin      32821
Cholesterol    33316
Creatinine     30875
DiasABP        10731
FiO2           27122
GCS            17928
Gender         32665
Glucose        30857
HCO3           30900
HCT            30041
HR              2850
Height          1575
ICUType        32665
K              30627
Lactate        31425
MAP            10985
MechVent       27153
Mg             30823
NIDiasABP      22149
NIMAP          22331
NISysABP       22129
Na             30686
PaCO2          29417
PaO2           29430
Platelets      30836
RespRate       25670
SaO2           32722
SysABP         10730
Temp           21344
TroponinI      33296
TroponinT      33099
Urine           8164
WBC            31007
Weight         19317
pH             29357
dtype: int64

In [78]:
ICUType_4_test_ids.unique().size

695

In [79]:
more_than_or_equal_to_65_test_ids = test_X[test_X["Age"] >= 65]
more_than_or_equal_to_65_test_ids = more_than_or_equal_to_65_test_ids[more_than_or_equal_to_65_test_ids["Time"] == 0.0]
more_than_or_equal_to_65_test_ids = more_than_or_equal_to_65_test_ids["RecordID"]
more_than_or_equal_to_65_test_missing = test_X[test_X["RecordID"].isin(more_than_or_equal_to_65_test_ids)]
more_than_or_equal_to_65_test_missing = more_than_or_equal_to_65_test_missing.isna().sum()
more_than_or_equal_to_65_test_missing

RecordID           0
level_1            0
Time               0
ALP            59669
ALT            59648
AST            59649
Age             3292
Albumin        59789
BUN            56211
Bilirubin      59647
Cholesterol    60361
Creatinine     56188
DiasABP        27558
FiO2           50856
GCS            41505
Gender         59220
Glucose        56507
HCO3           56295
HCT            54663
HR              5565
Height          3292
ICUType        59220
K              56037
Lactate        58163
MAP            27735
MechVent       51504
Mg             56263
NIDiasABP      34618
NIMAP          34931
NISysABP       34593
Na             56338
PaCO2          53427
PaO2           53442
Platelets      56071
RespRate       46503
SaO2           57863
SysABP         27556
Temp           37074
TroponinI      60313
TroponinT      59647
Urine          17527
WBC            56466
Weight         27946
pH             53082
dtype: int64

In [80]:
more_than_or_equal_to_65_test_ids.unique().size

1260

In [81]:
less_than_65_test_ids = test_X[test_X["Age"] < 65]
less_than_65_test_ids = less_than_65_test_ids[less_than_65_test_ids["Time"] == 0.0]
less_than_65_test_ids = less_than_65_test_ids["RecordID"]
less_than_65_test_missing = test_X[test_X["RecordID"].isin(less_than_65_test_ids)]
less_than_65_test_missing = less_than_65_test_missing.isna().sum()
less_than_65_test_missing

RecordID           0
level_1            0
Time               0
ALP            53604
ALT            53558
AST            53557
Age             3455
Albumin        53908
BUN            50617
Bilirubin      53552
Cholesterol    54592
Creatinine     50602
DiasABP        23974
FiO2           45854
GCS            36470
Gender         53533
Glucose        50776
HCO3           50684
HCT            49387
HR              5826
Height          3455
ICUType        53533
K              50391
Lactate        52219
MAP            24308
MechVent       45971
Mg             50666
NIDiasABP      33117
NIMAP          33422
NISysABP       33090
Na             50609
PaCO2          48151
PaO2           48159
Platelets      50551
RespRate       43420
SaO2           52716
SysABP         23971
Temp           35394
TroponinI      54599
TroponinT      54247
Urine          17941
WBC            50902
Weight         26909
pH             47884
dtype: int64

In [82]:
less_than_65_test_ids.unique().size

1139

In [83]:
filtered_test_X = test_X[(test_X['Height'] != -1) & (test_X['Weight'] != -1) & (test_X['Height'].notna()) & (test_X['Weight'].notna())]

In [84]:
filtered_test_X_metros = filtered_test_X.copy()
filtered_test_X_metros["Height"] = filtered_test_X["Height"]/100
filtered_test_X_metros["Height"]

1584      1.626
1632      1.524
1633      1.524
1634      1.524
1635      1.524
          ...
574841    1.651
574842    1.651
574843    1.651
574844    1.651
574845    1.651
Name: Height, Length: 31259, dtype: float64

In [85]:
bmi_data_test = filtered_test_X_metros
bmi_data_test["BMI"] = round(filtered_test_X_metros["Weight"] / (filtered_test_X_metros["Height"]**2), 1)
bmi_data_test["Classificacao"] = bmi_data_test["BMI"].apply(classify_BMI)
bmi_data_test.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
1584,132614,0,0.0,NaN,NaN,NaN,77.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,22.3,Peso normal
1632,132615,0,0.0,NaN,NaN,NaN,46.0,NaN,NaN,NaN,...,0.0,36.4,NaN,NaN,80.0,NaN,88.6,NaN,38.1,Obesidade grau 2
1633,132615,1,1.0,NaN,NaN,NaN,46.0,NaN,22.0,NaN,...,137.0,NaN,NaN,NaN,180.0,22.1,88.6,7.34,38.1,Obesidade grau 2
1634,132615,2,2.0,NaN,NaN,NaN,46.0,NaN,NaN,NaN,...,118.0,NaN,NaN,NaN,110.0,NaN,88.6,NaN,38.1,Obesidade grau 2
1635,132615,3,3.0,NaN,NaN,NaN,46.0,NaN,NaN,NaN,...,132.0,NaN,NaN,NaN,75.0,NaN,88.6,NaN,38.1,Obesidade grau 2

In [86]:
bmi_data_test = bmi_data_test.groupby("RecordID").first().reset_index()
bmi_data_test

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
0,132614,0,0.0,NaN,NaN,NaN,77.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,22.3,Peso normal
1,132615,0,0.0,81.0,32.0,28.0,46.0,2.6,22.0,0.3,...,0.0,36.4,NaN,NaN,80.0,22.1,88.6,7.34,38.1,Obesidade grau 2
2,132623,0,0.0,NaN,NaN,NaN,24.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,78.0,7.45,23.3,Peso normal
3,132639,0,0.0,NaN,NaN,NaN,73.0,NaN,18.0,NaN,...,110.0,36.9,NaN,NaN,30.0,10.2,96.3,7.36,29.6,Sobrepeso
4,132658,0,0.0,71.0,9.0,42.0,81.0,NaN,18.0,1.3,...,97.0,38.4,NaN,NaN,90.0,61.3,105.4,7.42,30.7,Obesidade grau 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1238,162926,0,0.0,NaN,NaN,NaN,83.0,NaN,18.0,NaN,...,117.0,36.9,NaN,NaN,60.0,12.3,104.5,7.34,35.0,Obesidade grau 2
1239,162942,0,0.0,67.0,61.0,92.0,40.0,3.3,12.0,0.3,...,NaN,36.3,NaN,NaN,600.0,20.6,120.7,7.38,37.1,Obesidade grau 2
1240,162971,0,0.0,NaN,NaN,NaN,63.0,NaN,NaN,NaN,...,130.5,35.8,NaN,NaN,0.0,NaN,83.3,NaN,37.1,Obesidade grau 2
1241,162995,0,0.0,60.0,21.0,20.0,84.0,NaN,93.0,0.4,...,121.0,37.1,0.6,NaN,60.0,17.1,96.5,7.31,28.8,Sobrepeso
1242,163003,0,0.0,124.0,254.0,204.0,36.0,2.6,3.0,30.3,...,NaN,36.3,NaN,NaN,50.0,10.6,57.7,7.47,21.2,Peso normal

In [87]:
bmi_data_test["Classificacao"].value_counts()

Classificacao
Sobrepeso           422
Peso normal         386
Obesidade grau 1    217
Obesidade grau 3     92
Obesidade grau 2     82
Baixo peso           44
Name: count, dtype: int64

In [88]:
classificacao_undefined_ids_test = bmi_data_test["RecordID"]
classificacao_undefined_missing_test = test_X[~test_X["RecordID"].isin(classificacao_undefined_ids_test)]
classificacao_undefined_missing_test = classificacao_undefined_missing_test.isna().sum()
classificacao_undefined_missing_test

RecordID           0
level_1            0
Time               0
ALP            54573
ALT            54541
AST            54538
Age             4247
Albumin        54727
BUN            51563
Bilirubin      54537
Cholesterol    55396
Creatinine     51545
DiasABP        32529
FiO2           47504
GCS            36641
Gender         54332
Glucose        51551
HCO3           51581
HCT            50645
HR              6306
Height          4247
ICUType        54332
K              51168
Lactate        53512
MAP            32857
MechVent       47996
Mg             51679
NIDiasABP      26492
NIMAP          26903
NISysABP       26461
Na             51386
PaCO2          51354
PaO2           51360
Platelets      51790
RespRate       37856
SaO2           54811
SysABP         32525
Temp           40501
TroponinI      55409
TroponinT      54804
Urine          20260
WBC            51988
Weight         26450
pH             51283
dtype: int64

In [89]:
classificacao_baixo_peso_ids_test = bmi_data_test[bmi_data_test["Classificacao"] == "Baixo peso"]
classificacao_baixo_peso_ids_test = classificacao_baixo_peso_ids_test["RecordID"]
classificacao_baixo_peso_missing_test = test_X[test_X["RecordID"].isin(classificacao_baixo_peso_ids_test)]
classificacao_baixo_peso_missing_test = classificacao_baixo_peso_missing_test.isna().sum()
classificacao_baixo_peso_missing_test

RecordID          0
level_1           0
Time              0
ALP            2076
ALT            2076
AST            2076
Age              65
Albumin        2076
BUN            1943
Bilirubin      2074
Cholesterol    2108
Creatinine     1943
DiasABP         788
FiO2           1720
GCS            1485
Gender         2068
Glucose        1955
HCO3           1943
HCT            1906
HR              152
Height           65
ICUType        2068
K              1939
Lactate        2012
MAP             772
MechVent       1739
Mg             1943
NIDiasABP      1382
NIMAP          1382
NISysABP       1382
Na             1949
PaCO2          1786
PaO2           1783
Platelets      1928
RespRate       1858
SaO2           1972
SysABP          788
Temp           1135
TroponinI      2110
TroponinT      2097
Urine           539
WBC            1957
Weight          991
pH             1770
dtype: int64

In [90]:
classificacao_baixo_peso_ids_test.unique().size

44

In [91]:
classificacao_normal_peso_ids_test = bmi_data_test[bmi_data_test["Classificacao"] == "Peso normal"]
classificacao_normal_peso_ids_test = classificacao_normal_peso_ids_test["RecordID"]
classificacao_normal_peso_missing_test = test_X[test_X["RecordID"].isin(classificacao_normal_peso_ids_test)]
classificacao_normal_peso_missing_test = classificacao_normal_peso_missing_test.isna().sum()
classificacao_normal_peso_missing_test

RecordID           0
level_1            0
Time               0
ALP            18226
ALT            18219
AST            18217
Age              804
Albumin        18310
BUN            17165
Bilirubin      18220
Cholesterol    18499
Creatinine     17156
DiasABP         6102
FiO2           15305
GCS            12773
Gender         18142
Glucose        17310
HCO3           17213
HCT            16597
HR              1601
Height           804
ICUType        18142
K              17187
Lactate        17667
MAP             6196
MechVent       15361
Mg             17192
NIDiasABP      12713
NIMAP          12771
NISysABP       12704
Na             17254
PaCO2          15694
PaO2           15703
Platelets      17015
RespRate       16304
SaO2           17402
SysABP          6102
Temp           10382
TroponinI      18477
TroponinT      18364
Urine           4922
WBC            17197
Weight          8825
pH             15500
dtype: int64

In [92]:
classificacao_normal_peso_ids_test.unique().size

386

In [93]:
classificacao_sobrepeso_ids_test = bmi_data_test[bmi_data_test["Classificacao"] == "Sobrepeso"]
classificacao_sobrepeso_ids_test = classificacao_sobrepeso_ids_test["RecordID"]
classificacao_sobrepeso_missing_test = test_X[test_X["RecordID"].isin(classificacao_sobrepeso_ids_test)]
classificacao_sobrepeso_missing_test = classificacao_sobrepeso_missing_test.isna().sum()
classificacao_sobrepeso_missing_test

RecordID           0
level_1            0
Time               0
ALP            19948
ALT            19926
AST            19930
Age              839
Albumin        20036
BUN            18768
Bilirubin      19930
Cholesterol    20222
Creatinine     18762
DiasABP         5979
FiO2           16858
GCS            13973
Gender         19834
Glucose        18949
HCO3           18824
HCT            18031
HR              1709
Height           839
ICUType        19834
K              18790
Lactate        19375
MAP             5997
MechVent       16888
Mg             18741
NIDiasABP      14269
NIMAP          14356
NISysABP       14261
Na             18908
PaCO2          16991
PaO2           16998
Platelets      18571
RespRate       17502
SaO2           18758
SysABP          5978
Temp           10340
TroponinI      20192
TroponinT      20066
Urine           5048
WBC            18765
Weight          9529
pH             16816
dtype: int64

In [94]:
classificacao_sobrepeso_ids_test.unique().size

422

In [95]:
classificacao_obesidade_1_ids_test = bmi_data_test[bmi_data_test["Classificacao"] == "Obesidade grau 1"]
classificacao_obesidade_1_ids_test = classificacao_obesidade_1_ids_test["RecordID"]
classificacao_obesidade_1_missing_test = test_X[test_X["RecordID"].isin(classificacao_obesidade_1_ids_test)]
classificacao_obesidade_1_missing_test = classificacao_obesidade_1_missing_test.isna().sum()
classificacao_obesidade_1_missing_test

RecordID           0
level_1            0
Time               0
ALP            10236
ALT            10234
AST            10234
Age              432
Albumin        10293
BUN             9666
Bilirubin      10231
Cholesterol    10396
Creatinine      9665
DiasABP         3327
FiO2            8585
GCS             7175
Gender         10199
Glucose         9723
HCO3            9679
HCT             9358
HR               904
Height           432
ICUType        10199
K               9627
Lactate         9924
MAP             3384
MechVent        8652
Mg              9630
NIDiasABP       7192
NIMAP           7236
NISysABP        7190
Na              9683
PaCO2           8802
PaO2            8806
Platelets       9615
RespRate        8853
SaO2            9774
SysABP          3327
Temp            5513
TroponinI      10387
TroponinT      10292
Urine           2506
WBC             9693
Weight          5190
pH              8699
dtype: int64

In [96]:
classificacao_obesidade_1_ids_test.unique().size

217

In [97]:
classificacao_obesidade_2_ids_test = bmi_data_test[bmi_data_test["Classificacao"] == "Obesidade grau 2"]
classificacao_obesidade_2_ids_test = classificacao_obesidade_2_ids_test["RecordID"]
classificacao_obesidade_2_missing_test = test_X[test_X["RecordID"].isin(classificacao_obesidade_2_ids_test)]
classificacao_obesidade_2_missing_test = classificacao_obesidade_2_missing_test.isna().sum()
classificacao_obesidade_2_missing_test

RecordID          0
level_1           0
Time              0
ALP            3868
ALT            3867
AST            3868
Age             179
Albumin        3891
BUN            3645
Bilirubin      3867
Cholesterol    3925
Creatinine     3641
DiasABP        1397
FiO2           3288
GCS            2798
Gender         3854
Glucose        3684
HCO3           3655
HCT            3520
HR              364
Height          179
ICUType        3854
K              3652
Lactate        3747
MAP            1408
MechVent       3308
Mg             3660
NIDiasABP      2622
NIMAP          2632
NISysABP       2621
Na             3672
PaCO2          3338
PaO2           3339
Platelets      3617
RespRate       3520
SaO2           3742
SysABP         1397
Temp           2139
TroponinI      3928
TroponinT      3903
Urine          1080
WBC            3649
Weight         1786
pH             3318
dtype: int64

In [98]:
classificacao_obesidade_2_ids_test.unique().size

82

In [99]:
classificacao_obesidade_3_ids_test = bmi_data_test[bmi_data_test["Classificacao"] == "Obesidade grau 3"]
classificacao_obesidade_3_ids_test = classificacao_obesidade_3_ids_test["RecordID"]
classificacao_obesidade_3_missing_test = test_X[test_X["RecordID"].isin(classificacao_obesidade_3_ids_test)]
classificacao_obesidade_3_missing_test = classificacao_obesidade_3_missing_test.isna().sum()
classificacao_obesidade_3_missing_test

RecordID          0
level_1           0
Time              0
ALP            4346
ALT            4343
AST            4343
Age             181
Albumin        4364
BUN            4078
Bilirubin      4340
Cholesterol    4407
Creatinine     4078
DiasABP        1410
FiO2           3450
GCS            3130
Gender         4324
Glucose        4111
HCO3           4084
HCT            3993
HR              355
Height          181
ICUType        4324
K              4065
Lactate        4145
MAP            1429
MechVent       3531
Mg             4084
NIDiasABP      3065
NIMAP          3073
NISysABP       3064
Na             4095
PaCO2          3613
PaO2           3612
Platelets      4086
RespRate       4030
SaO2           4120
SysABP         1410
Temp           2458
TroponinI      4409
TroponinT      4368
Urine          1113
WBC            4119
Weight         2084
pH             3580
dtype: int64

In [100]:
classificacao_obesidade_3_ids_test.unique().size

92

In [101]:
df_missing_test = pd.DataFrame(columns=df_columns)
df_missing_transpose_test = df_missing_test.T
df_missing_transpose_test ["Female"] = female_gender_missing_rate_test
df_missing_transpose_test ["Male"] = male_gender_missing_rate_test
df_missing_transpose_test["Undefined gender"] = undefined_gender_missing_rate_test
df_missing_transpose_test["ICUType 1"] = ICUType_1_test_missing
df_missing_transpose_test ["ICUType 2"] = ICUType_2_test_missing
df_missing_transpose_test ["ICUType 3"] = ICUType_3_test_missing
df_missing_transpose_test ["ICUType 4"] = ICUType_4_test_missing
df_missing_transpose_test["Age 65+"] = more_than_or_equal_to_65_test_missing
df_missing_transpose_test["Age 65-"] = less_than_65_test_missing
df_missing_transpose_test ["Low Weight"] = classificacao_baixo_peso_missing_test
df_missing_transpose_test ["Normal Weight"] = classificacao_normal_peso_missing_test
df_missing_transpose_test ["Overweight"] = classificacao_sobrepeso_missing_test
df_missing_transpose_test ["Obesity Grade 1"] = classificacao_obesidade_1_missing_test
df_missing_transpose_test ["Obesity Grade 2"] = classificacao_obesidade_2_missing_test
df_missing_transpose_test ["Obesity Grade 3"] = classificacao_obesidade_3_missing_test
df_missing_transpose_test["Undefined classification"] = classificacao_undefined_missing_test
df_missing_transpose_test = df_missing_transpose_test.drop("RecordID", axis=0)
df_missing_transpose_test = df_missing_transpose_test.drop("level_1", axis=0)
df_missing_transpose_test = df_missing_transpose_test.drop("Time", axis=0)
df_missing_transpose_test = df_missing_transpose_test.drop("Age", axis=0)
df_missing_transpose_test = df_missing_transpose_test.drop("Gender", axis=0)
display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>original Missing rate per Variable by demographics - Test</h2>"))
df_missing_transpose_test

,Female,Male,Undefined gender,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3,Undefined classification
ALP,48992,64138,143,15766,25095,39595,32817,59669,53604,2076,18226,19948,10236,3868,4346,54573
ALT,48958,64105,143,15749,25091,39561,32805,59648,53558,2076,18219,19926,10234,3867,4343,54541
AST,48960,64103,143,15749,25092,39561,32804,59649,53557,2076,18217,19930,10234,3868,4343,54538
Albumin,49148,64405,144,15830,25163,39825,32879,59789,53908,2076,18310,20036,10293,3891,4364,54727
BUN,46202,60490,136,14837,23632,37480,30879,56211,50617,1943,17165,18768,9666,3645,4078,51563
Bilirubin,48953,64103,143,15756,25094,39528,32821,59647,53552,2074,18220,19930,10231,3867,4340,54537
Cholesterol,49737,65072,144,15881,25286,40470,33316,60361,54592,2108,18499,20222,10396,3925,4407,55396
Creatinine,46180,60474,136,14822,23628,37465,30875,56188,50602,1943,17156,18762,9665,3641,4078,51545
DiasABP,23479,27991,62,9531,5664,25606,10731,27558,23974,788,6102,5979,3327,1397,1410,32529
FiO2,41902,54664,144,14252,21081,34255,27122,50856,45854,1720,15305,16858,8585,3288,3450,47504
GCS,33494,44378,103,11883,18573,29591,17928,41505,36470,1485,12773,13973,7175,2798,3130,36641
Glucose,46351,60795,137,14871,24088,37467,30857,56507,50776,1955,17310,18949,9723,3684,4111,51551
HCO3,46241,60602,136,14864,23758,37457,30900,56295,50684,1943,17213,18824,9679,3655,4084,51581
HCT,45154,58758,138,14589,22528,36892,30041,54663,49387,1906,16597,18031,9358,3520,3993,50645
HR,4773,6564,54,2210,2238,4093,2850,5565,5826,152,1601,1709,904,364,355,6306
Height,2928,3769,50,1495,972,2705,1575,3292,3455,65,804,839,432,179,181,4247
ICUType,48786,63826,141,15651,24769,39668,32665,59220,53533,2068,18142,19834,10199,3854,4324,54332
K,45993,60298,137,14670,23934,37197,30627,56037,50391,1939,17187,18790,9627,3652,4065,51168
Lactate,47826,62414,142,15656,24394,38907,31425,58163,52219,2012,17667,19375,9924,3747,4145,53512
MAP,23651,28329,63,9555,5664,25839,10985,27735,24308,772,6196,5997,3384,1408,1429,32857
MechVent,42054,55277,144,14330,21260,34732,27153,51504,45971,1739,15361,16888,8652,3308,3531,47996
Mg,46242,60551,136,14841,23640,37625,30823,56263,50666,1943,17192,18741,9630,3660,4084,51679
NIDiasABP,28367,39264,104,8210,19852,17524,22149,34618,33117,1382,12713,14269,7192,2622,3065,26492
NIMAP,28663,39586,104,8255,19888,17879,22331,34931,33422,1382,12771,14356,7236,2632,3073,26903
NISysABP,28356,39223,104,8206,19840,17508,22129,34593,33090,1382,12704,14261,7190,2621,3064,26461
Na,46212,60598,137,14867,23997,37397,30686,56338,50609,1949,17254,18908,9683,3672,4095,51386
PaCO2,44407,57031,140,14670,20221,37270,29417,53427,48151,1786,15694,16991,8802,3338,3613,51354
PaO2,44421,57040,140,14675,20233,37263,29430,53442,48159,1783,15703,16998,8806,3339,3612,51360
Platelets,46189,60295,138,14847,23229,37710,30836,56071,50551,1928,17015,18571,9615,3617,4086,51790
RespRate,37444,52377,102,10635,24386,29232,25670,46503,43420,1858,16304,17502,8853,3520,4030,37856
SaO2,48158,62278,143,15260,22620,39977,32722,57863,52716,1972,17402,18758,9774,3742,4120,54811
SysABP,23477,27988,62,9531,5663,25603,10730,27556,23971,788,6102,5978,3327,1397,1410,32525
Temp,32460,39884,124,11249,10845,29030,21344,37074,35394,1135,10382,10340,5513,2139,2458,40501
TroponinI,49717,65051,144,15940,25249,40427,33296,60313,54599,2110,18477,20192,10387,3928,4409,55409
TroponinT,49278,64472,144,15629,25229,39937,33099,59647,54247,2097,18364,20066,10292,3903,4368,54804
Urine,15378,19985,105,7066,4397,15841,8164,17527,17941,539,4922,5048,2506,1080,1113,20260
WBC,46447,60783,138,14957,23561,37843,31007,56466,50902,1957,17197,18765,9693,3649,4119,51988
Weight,23084,31665,106,9277,12157,14104,19317,27946,26909,991,8825,9529,5190,1786,2084,26450
pH,44200,56627,139,14649,19739,37221,29357,53082,47884,1770,15500,16816,8699,3318,3580,51283