In [1]:
import os
import sys
import pandas as pd
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h2>Loading dataset</h2>

In [2]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-10-31 08:01:58 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-10-31 08:01:58 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-10-31 08:01:58 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-10-31 08:01:58 [INFO]: Loaded successfully!

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [3]:
train_X = physionet2012_dataset['train_X']

In [4]:
female_gender_distribution_training = train_X[train_X['Gender'] == 0.0].count()
female_gender_distribution_training

RecordID       3381
level_1        3381
Time           3381
ALP             143
ALT             150
AST             150
Age            3381
Albumin         118
BUN             412
Bilirubin       142
Cholesterol      16
Creatinine      412
DiasABP         602
FiO2            626
GCS            1222
Gender         3381
Glucose         367
HCO3            376
HCT             450
HR             1742
Height         3381
ICUType        3381
K               374
Lactate         387
MAP             587
MechVent        592
Mg              282
NIDiasABP      1317
NIMAP          1302
NISysABP       1318
Na              368
PaCO2           685
PaO2            676
Platelets       453
RespRate        555
SaO2            115
SysABP          602
Temp           1314
TroponinI        14
TroponinT        75
Urine          1095
WBC             423
Weight         3381
pH              693
dtype: int64

In [5]:
male_gender_distribution_training = train_X[train_X['Gender'] == 1.0].count()
male_gender_distribution_training

RecordID       4282
level_1        4282
Time           4282
ALP             193
ALT             197
AST             198
Age            4282
Albumin         164
BUN             482
Bilirubin       191
Cholesterol      20
Creatinine      482
DiasABP         817
FiO2            783
GCS            1461
Gender         4282
Glucose         415
HCO3            429
HCT             537
HR             2071
Height         4282
ICUType        4282
K               425
Lactate         502
MAP             788
MechVent        751
Mg              332
NIDiasABP      1534
NIMAP          1525
NISysABP       1535
Na              422
PaCO2          1101
PaO2           1080
Platelets       552
RespRate        605
SaO2            169
SysABP          819
Temp           1572
TroponinI        11
TroponinT       110
Urine          1241
WBC             497
Weight         4282
pH             1111
dtype: int64

In [7]:
ICUType_1_training = train_X[train_X['ICUType'] == 1.0].count() 
ICUType_1_training

RecordID       1106
level_1        1106
Time           1106
ALP              66
ALT              69
AST              68
Age            1106
Albumin          53
BUN             160
Bilirubin        62
Cholesterol      22
Creatinine      160
DiasABP         279
FiO2            147
GCS             479
Gender         1106
Glucose         155
HCO3            157
HCT             161
HR              651
Height         1106
ICUType        1106
K               161
Lactate          54
MAP             275
MechVent        133
Mg               93
NIDiasABP       461
NIMAP           459
NISysABP        461
Na              158
PaCO2           125
PaO2            123
Platelets       158
RespRate        259
SaO2             89
SysABP          279
Temp            454
TroponinI         7
TroponinT        67
Urine           346
WBC             157
Weight         1106
pH              127
dtype: int64

In [8]:
ICUType_2_training = train_X[train_X['ICUType'] == 2.0].count() 
ICUType_2_training

RecordID       1634
level_1        1634
Time           1634
ALP              20
ALT              21
AST              21
Age            1634
Albumin          15
BUN              85
Bilirubin        20
Cholesterol       5
Creatinine       85
DiasABP         287
FiO2            205
GCS             258
Gender         1634
Glucose          60
HCO3             78
HCT             147
HR              396
Height         1634
ICUType        1634
K                61
Lactate         102
MAP             285
MechVent        234
Mg               52
NIDiasABP       147
NIMAP           148
NISysABP        147
Na               58
PaCO2           979
PaO2            960
Platelets       170
RespRate         46
SaO2             71
SysABP          287
Temp            319
TroponinI         2
TroponinT         8
Urine           294
WBC             124
Weight         1634
pH              982
dtype: int64

In [9]:
ICUType_3_training = train_X[train_X['ICUType'] == 3.0].count() 
ICUType_3_training

RecordID       2755
level_1        2755
Time           2755
ALP             161
ALT             167
AST             169
Age            2755
Albumin         142
BUN             323
Bilirubin       163
Cholesterol       5
Creatinine      324
DiasABP         230
FiO2            473
GCS            1050
Gender         2755
Glucose         322
HCO3            320
HCT             326
HR             1520
Height         2755
ICUType        2755
K               324
Lactate         339
MAP             212
MechVent        428
Mg              258
NIDiasABP      1387
NIMAP          1370
NISysABP       1389
Na              322
PaCO2           257
PaO2            255
Platelets       308
RespRate        516
SaO2             34
SysABP          232
Temp           1094
TroponinI        13
TroponinT        72
Urine           834
WBC             305
Weight         2755
pH              267
dtype: int64

In [10]:
ICUType_4_training = train_X[train_X['ICUType'] == 4.0].count() 
ICUType_4_training

RecordID       2176
level_1        2176
Time           2176
ALP              89
ALT              90
AST              90
Age            2176
Albumin          72
BUN             327
Bilirubin        88
Cholesterol       4
Creatinine      326
DiasABP         625
FiO2            586
GCS             899
Gender         2176
Glucose         246
HCO3            251
HCT             354
HR             1250
Height         2176
ICUType        2176
K               254
Lactate         395
MAP             605
MechVent        550
Mg              212
NIDiasABP       858
NIMAP           852
NISysABP        858
Na              253
PaCO2           427
PaO2            420
Platelets       370
RespRate        340
SaO2             90
SysABP          625
Temp           1021
TroponinI         3
TroponinT        38
Urine           863
WBC             335
Weight         2176
pH              430
dtype: int64

In [12]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [13]:
df_teste = pd.DataFrame(columns=df_columns)
df_teste_transpose = df_teste.T
df_teste_transpose["Female"] = female_gender_distribution_training
df_teste_transpose["Male"] = male_gender_distribution_training
df_teste_transpose["ICUType 1"] = ICUType_1_training
df_teste_transpose["ICUType 2"] = ICUType_2_training
df_teste_transpose["ICUType 3"] = ICUType_3_training
df_teste_transpose["ICUType 4"] = ICUType_4_training
df_teste_transpose

             Female  Male  ICUType 1  ICUType 2  ICUType 3  ICUType 4
RecordID       3381  4282       1106       1634       2755       2176
level_1        3381  4282       1106       1634       2755       2176
Time           3381  4282       1106       1634       2755       2176
ALP             143   193         66         20        161         89
ALT             150   197         69         21        167         90
AST             150   198         68         21        169         90
Age            3381  4282       1106       1634       2755       2176
Albumin         118   164         53         15        142         72
BUN             412   482        160         85        323        327
Bilirubin       142   191         62         20        163         88
Cholesterol      16    20         22          5          5          4
Creatinine      412   482        160         85        324        326
DiasABP         602   817        279        287        230        625
FiO2            626   783        147        205        473        586
GCS            1222  1461        479        258       1050        899
Gender         3381  4282       1106       1634       2755       2176
Glucose         367   415        155         60        322        246
HCO3            376   429        157         78        320        251
HCT             450   537        161        147        326        354
HR             1742  2071        651        396       1520       1250
Height         3381  4282       1106       1634       2755       2176
ICUType        3381  4282       1106       1634       2755       2176
K               374   425        161         61        324        254
Lactate         387   502         54        102        339        395
MAP             587   788        275        285        212        605
MechVent        592   751        133        234        428        550
Mg              282   332         93         52        258        212
NIDiasABP      1317  1534        461        147       1387        858
NIMAP          1302  1525        459        148       1370        852
NISysABP       1318  1535        461        147       1389        858
Na              368   422        158         58        322        253
PaCO2           685  1101        125        979        257        427
PaO2            676  1080        123        960        255        420
Platelets       453   552        158        170        308        370
RespRate        555   605        259         46        516        340
SaO2            115   169         89         71         34         90
SysABP          602   819        279        287        232        625
Temp           1314  1572        454        319       1094       1021
TroponinI        14    11          7          2         13          3
TroponinT        75   110         67          8         72         38
Urine          1095  1241        346        294        834        863
WBC             423   497        157        124        305        335
Weight         3381  4282       1106       1634       2755       2176
pH              693  1111        127        982        267        430