In [1]:
import os
import sys
import pandas as pd
from IPython.display import display, HTML
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h1>Loading database</h1>

In [2]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-11-10 21:06:23 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-11-10 21:06:23 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-11-10 21:06:23 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-11-10 21:06:23 [INFO]: Loaded successfully!

<h2>Training data</h2>

<h3>Loading training dataset</h3>

In [3]:
train_X = physionet2012_dataset['train_X']

<h3>Divided into subgroups by gender and showing the percentage</h3>

In [4]:
distribution_gender_training = train_X['Gender'].value_counts(normalize=True) * 100
distribution_gender_training =  round(distribution_gender_training, 1) # 0: female, or 1: male

<h3>Divided into subgroups by ICUType and showing the percentage</h3>

In [5]:
distribution_ICUType_training = train_X['ICUType'].value_counts(normalize=True) * 100
distribution_ICUType_training =  round(distribution_ICUType_training, 1)

<h3>Filtering one measurement per patient</h3>

In [6]:
uniques_train_per_variable = train_X[train_X["Time"] == 0.0]
uniques_train_per_variable

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,RespRate,SaO2,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH
0,132539,0,0.0,NaN,NaN,NaN,54.0,NaN,NaN,NaN,...,19.0,NaN,NaN,35.35,NaN,NaN,480.0,NaN,-1.0,NaN
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45
144,132543,0,0.0,105.0,12.0,15.0,68.0,4.4,23.0,0.2,...,18.0,NaN,NaN,36.30,NaN,NaN,NaN,11.5,84.6,NaN
192,132545,0,0.0,NaN,NaN,NaN,88.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN
240,132547,0,0.0,NaN,NaN,NaN,64.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575040,163017,0,0.0,NaN,NaN,NaN,64.0,NaN,NaN,NaN,...,23.0,NaN,NaN,37.00,NaN,NaN,200.0,NaN,84.5,NaN
575136,163027,0,0.0,NaN,NaN,NaN,32.0,NaN,NaN,NaN,...,NaN,NaN,NaN,37.60,NaN,NaN,NaN,NaN,68.0,NaN
575232,163033,0,0.0,NaN,NaN,NaN,51.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,208.0,NaN
575280,163034,0,0.0,NaN,NaN,NaN,60.0,NaN,NaN,NaN,...,NaN,98.0,NaN,NaN,NaN,NaN,NaN,NaN,85.0,7.43
575376,163037,0,0.0,NaN,NaN,NaN,74.0,NaN,NaN,NaN,...,NaN,NaN,NaN,38.10,NaN,NaN,340.0,NaN,73.1,7.26

In [7]:
uniques_train_per_variable.count()

RecordID       7671
level_1        7671
Time           7671
ALP             337
ALT             349
AST             349
Age            7671
Albumin         298
BUN             881
Bilirubin       340
Cholesterol      34
Creatinine      881
DiasABP        1410
FiO2           1408
GCS            2673
Gender         7671
Glucose         780
HCO3            802
HCT             984
HR             3822
Height         7671
ICUType        7671
K               798
Lactate         887
MAP            1361
MechVent       1333
Mg              617
NIDiasABP      2847
NIMAP          2828
NISysABP       2851
Na              788
PaCO2          1728
PaO2           1700
Platelets      1004
RespRate       1126
SaO2            248
SysABP         1410
Temp           2868
TroponinI        20
TroponinT       182
Urine          2351
WBC             913
Weight         7671
pH             1741
dtype: int64

<h3>Showing total occurrences of age</h3>

In [8]:
# 60% de 11988 (training set)
uniques_train_per_variable["Age"].count()

7671

<h3>Dividing age into subgroup of people aged 65+</h3>

In [9]:
more_than_or_equal_to_65_training = uniques_train_per_variable[uniques_train_per_variable['Age'] >= 65]
percentage_group_one_train = (more_than_or_equal_to_65_training["Age"].count() / uniques_train_per_variable["Age"].count())*100
percentage_group_one_train =  round(percentage_group_one_train, 1)

<h3>Dividing age into subgroup of people under 65 years of age</h3>

In [10]:
less_than_65 = uniques_train_per_variable[uniques_train_per_variable['Age'] < 65]
percentage_group_two_train = (less_than_65["Age"].count() / uniques_train_per_variable["Age"].count()) * 100
percentage_group_two_train =  round(percentage_group_two_train, 1)

<h3>Filtering only one height and one weight per patient</h3>

<h3>Calculate the BMI</h3>

In [11]:
def classify_BMI(BMI):
    if BMI <= 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [34]:
train_count = train_X.groupby("RecordID").first().reset_index()
train_count = train_count["RecordID"].count()
train_count

7671

In [13]:
filtered_train = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]
filtered_train = filtered_train.groupby("RecordID").first().reset_index()
filtered_train_ids = filtered_train["RecordID"]

In [111]:
filtered_train_ids.count()

4029

In [15]:
undefined_train = train_X[~train_X["RecordID"].isin(filtered_train_ids)]
undefined_train = undefined_train.groupby("RecordID").first().reset_index()
undefined_train_ids = undefined_train["RecordID"]

In [112]:
undefined_train_ids.count()

3642

In [17]:
filtered_train_metros = filtered_train.copy()
filtered_train_metros["Height"] = filtered_train_metros["Height"]/100

In [18]:
filtered_train_metros["BMI"] = round(filtered_train_metros["Weight"]/(filtered_train_metros["Height"]**2),1)

In [19]:
filtered_train_metros["Classification"] = filtered_train_metros["BMI"].apply(classify_BMI)

In [104]:
baixo_peso_train_percentage = filtered_train_metros[filtered_train_metros["Classification"] == "Baixo peso"]
baixo_peso_train_percentage = round((baixo_peso_train_percentage["RecordID"].count()/train_count)*100,1)
baixo_peso_train_percentage

1.7

In [105]:
peso_normal_train_percentage = filtered_train_metros[filtered_train_metros["Classification"] == "Peso normal"]
peso_normal_train_percentage = round((peso_normal_train_percentage["RecordID"].count()/train_count)*100,1)
peso_normal_train_percentage

15.7

In [106]:
sobrepeso_train_percentage = filtered_train_metros[filtered_train_metros["Classification"]=="Sobrepeso"]
sobrepeso_train_percentage = round((sobrepeso_train_percentage["RecordID"].count()/train_count)*100,1)
sobrepeso_train_percentage

18.0

In [107]:
obesidade_1_train_percentege = filtered_train_metros[filtered_train_metros["Classification"] == "Obesidade grau 1"]
obesidade_1_train_percentege = round((obesidade_1_train_percentege["RecordID"].count()/train_count)*100,1)
obesidade_1_train_percentege

9.4

In [108]:
obesidade_2_train_percentege = filtered_train_metros[filtered_train_metros["Classification"] == "Obesidade grau 2"]
obesidade_2_train_percentege = round((obesidade_2_train_percentege["RecordID"].count()/train_count)*100,1)
obesidade_2_train_percentege

4.2

In [109]:
obesidade_3_train_percentege = filtered_train_metros[filtered_train_metros["Classification"] == "Obesidade grau 3"]
obesidade_3_train_percentege = round((obesidade_3_train_percentege["RecordID"].count()/train_count)*100,1)
obesidade_3_train_percentege

3.6

In [114]:
undefined_train_percentege = (undefined_train["RecordID"].count()/train_count)*100
undefined_train_percentege = int(undefined_train_percentege * 10) / 10
undefined_train_percentege

47.4

<h2>Validation data</h2>

<h3>Loading validation dataset </h3>

In [111]:
validation_X = physionet2012_dataset['val_X']

<h3>Divided into subgroups by gender and showing the percentage</h3>

In [112]:
distribution_gender_validation = validation_X['Gender'].value_counts(normalize=True) * 100
distribution_gender_validation =  round(distribution_gender_validation, 1) # 0: female, or 1: male

<h3>Divided into subgroups by ICUType and showing the percentage</h3>

In [113]:
distribution_ICUType_validation = validation_X['ICUType'].value_counts(normalize=True) * 100
distribution_ICUType_validation = round(distribution_ICUType_validation, 1)

<h3>Filtering only one age per patient</h3>

In [114]:
uniques_validation_per_variable = validation_X[validation_X["Time"] == 0.0]
uniques_validation_per_variable

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,RespRate,SaO2,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH
96,132541,0,0.0,NaN,NaN,NaN,44.0,NaN,NaN,NaN,...,NaN,NaN,NaN,37.8,NaN,NaN,100.0,NaN,56.7,NaN
720,132575,0,0.0,NaN,NaN,NaN,78.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.5,63.0,7.34
1392,132602,0,0.0,NaN,NaN,NaN,80.0,NaN,NaN,NaN,...,NaN,NaN,NaN,37.3,NaN,NaN,150.0,NaN,70.0,NaN
1440,132605,0,0.0,NaN,NaN,NaN,90.0,NaN,NaN,NaN,...,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN,55.0,NaN
1536,132612,0,0.0,NaN,NaN,NaN,52.0,NaN,NaN,NaN,...,NaN,NaN,NaN,35.3,NaN,NaN,NaN,NaN,109.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573600,162929,0,0.0,NaN,NaN,NaN,63.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,7.41
573648,162933,0,0.0,NaN,NaN,NaN,77.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.9,NaN
574224,162976,0,0.0,NaN,NaN,NaN,60.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0,NaN
574272,162980,0,0.0,NaN,NaN,NaN,88.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.5,7.38
574656,162996,0,0.0,NaN,NaN,NaN,40.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.9,NaN

<h3>Showing total occurrences of age</h3>

In [115]:
uniques_validation_per_variable["Age"].count()

1918

<h3>Dividing age into subgroup of people aged 65+</h3>

In [116]:
more_than_or_equal_to_65_validation = uniques_validation_per_variable[uniques_validation_per_variable['Age'] >= 65]
percentage_group_one_validation = (more_than_or_equal_to_65_validation["Age"].count() / uniques_validation_per_variable["Age"].count())*100
percentage_group_one_validation = round(percentage_group_one_validation, 1)

<h3>Dividing age into subgroup of people under 65 years of age</h3>

In [117]:
less_than_65 = uniques_validation_per_variable[uniques_validation_per_variable['Age'] < 65]
percentage_group_two_validation = (less_than_65["Age"].count() / uniques_validation_per_variable["Age"].count()) * 100
percentage_group_two_validation =  round(percentage_group_two_validation, 1)

<h3>Filtering only one height and one weight per patient</h3>

In [118]:
filtered_validation_X = validation_X[(validation_X['Height'] != -1) & (validation_X['Weight'] != -1) & (validation_X['Height'].notna()) & (validation_X['Weight'].notna())]

In [119]:
filtered_validation_X_metros = filtered_validation_X.copy()
filtered_validation_X_metros['Height'] = filtered_validation_X_metros['Height'] / 100 # Converting Height from cm to meters

In [120]:
bmi_data_validation = pd.DataFrame(columns=['RecordID', 'Height', 'Weight', 'BMI', 'Classificacao'])
bmi_data_validation["RecordID"] = filtered_validation_X_metros["RecordID"]
bmi_data_validation["Height"] = filtered_validation_X_metros["Height"]
bmi_data_validation["Weight"] = filtered_validation_X_metros["Weight"]
bmi_data_validation["BMI"] = filtered_validation_X_metros["Weight"] / (filtered_validation_X_metros["Height"] ** 2)
bmi_data_validation["Classificacao"] = bmi_data_validation["BMI"].apply(classify_BMI)
bmi_data_validation.head()

     RecordID  Height  Weight        BMI Classificacao
720    132575   1.676    63.0  22.428102   Peso normal
738    132575   1.676    72.4  25.774517     Sobrepeso
739    132575   1.676    72.4  25.774517     Sobrepeso
740    132575   1.676    72.4  25.774517     Sobrepeso
741    132575   1.676    72.4  25.774517     Sobrepeso

<h3>Percentage of BMI classification groups</h3>

In [121]:
percentage_bmi_validation = bmi_data_validation["Classificacao"].value_counts(normalize=True) * 100

In [122]:
percentage_bmi_validation = round(percentage_bmi_validation, 1)

<h2>Test data</h2>

In [123]:
test_X = physionet2012_dataset['test_X']

<h3>Divided into subgroups by gender and showing the percentage</h3>

In [124]:
distribution_gender_test = test_X['Gender'].value_counts(normalize=True) * 100
distribution_gender_test = round(distribution_gender_test, 1) # 0: female, or 1: male

<h3>Divided into subgroups by ICUType and showing the percentage</h3>

In [125]:
distribution_ICUType_test= test_X['ICUType'].value_counts(normalize=True) * 100
distribution_ICUType_test = round(distribution_ICUType_test, 1)

<h3>Filtering only one age per patient</h3>

In [126]:
uniques_test_per_variable = test_X.groupby('RecordID').first().reset_index()
uniques_test_per_variable.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,RespRate,SaO2,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH
0,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,16.0,NaN,...,NaN,99.0,103.00,34.88,NaN,NaN,316.666667,7.4,76.0,7.45
1,132551,0,0.0,47.0,46.0,82.0,78.0,1.9,81.0,0.3,...,NaN,97.0,102.75,38.00,3.5,NaN,120.000000,16.1,48.4,7.40
2,132555,0,0.0,NaN,NaN,NaN,74.0,NaN,19.0,NaN,...,NaN,99.0,98.00,34.80,NaN,NaN,35.000000,9.0,66.1,7.39
3,132570,0,0.0,19.0,15.0,20.0,84.0,NaN,83.0,0.1,...,16.5,98.0,NaN,36.60,NaN,NaN,600.000000,8.8,102.6,NaN
4,132577,0,0.0,NaN,NaN,NaN,65.0,NaN,36.0,NaN,...,24.0,96.0,145.00,38.80,NaN,NaN,80.000000,9.4,66.3,7.34

<h3>Showing total occurrences of age</h3>

In [127]:
uniques_test_per_variable["Age"].count()

2399

<h3>Dividing age into subgroup of people aged 65+</h3>

In [128]:
more_than_or_equal_to_65_test = uniques_test_per_variable[uniques_test_per_variable['Age'] >= 65]
percentage_group_one_test = (more_than_or_equal_to_65_test["Age"].count() / uniques_test_per_variable["Age"].count())*100
percentage_group_one_test = round(percentage_group_one_test, 1)

<h3>Dividing age into subgroup of people under 65 years of age</h3>

In [129]:
less_than_65_test = uniques_test_per_variable[uniques_test_per_variable['Age'] < 65]
percentage_group_two_test = (less_than_65_test["Age"].count() / uniques_test_per_variable["Age"].count()) * 100
percentage_group_two_test = round(percentage_group_two_test, 1)

<h3>Filtering only one height and one weight per patient</h3>

In [130]:
filtered_test_X = test_X[(test_X['Height'] != -1) & (test_X['Weight'] != -1) & (test_X['Height'].notna()) & (test_X['Weight'].notna())]

In [131]:
filtered_uniques_test = filtered_test_X.groupby('RecordID').first().reset_index() 
filtered_uniques_test.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,RespRate,SaO2,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH
0,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,21.0,NaN,...,NaN,93.0,122.00,37.500,NaN,NaN,50.0,13.3,76.0,7.45
1,132551,0,0.0,47.0,46.0,82.0,78.0,1.9,81.0,0.3,...,NaN,97.0,102.75,38.000,3.5,NaN,120.0,16.1,48.4,7.40
2,132555,0,0.0,NaN,NaN,NaN,74.0,NaN,19.0,NaN,...,NaN,99.0,98.00,34.800,NaN,NaN,35.0,9.0,66.1,7.39
3,132570,0,0.0,19.0,15.0,20.0,84.0,NaN,83.0,0.1,...,16.5,98.0,NaN,36.600,NaN,NaN,600.0,8.8,102.6,NaN
4,132618,0,0.0,NaN,NaN,NaN,72.0,NaN,NaN,NaN,...,NaN,NaN,56.00,37.475,NaN,NaN,NaN,NaN,69.1,NaN

<h3>Calculate the BMI</h3>

In [132]:
filtered_uniques_test['Height'] = filtered_uniques_test['Height'] / 100 # Converting Height from cm to meters

In [133]:
bmi_data_test = pd.DataFrame(columns=['RecordID', 'Height', 'Weight', 'BMI', 'Classificacao'])
bmi_data_test["RecordID"] = filtered_uniques_test["RecordID"]
bmi_data_test["Height"] = filtered_uniques_test["Height"]
bmi_data_test["Weight"] = filtered_uniques_test["Weight"]
bmi_data_test["BMI"] = filtered_uniques_test["Weight"] / (filtered_uniques_test["Height"] ** 2)
bmi_data_test["Classificacao"] = bmi_data_test["BMI"].apply(classify_BMI)
bmi_data_test.head()

   RecordID  Height  Weight        BMI     Classificacao
0    132540   1.753    76.0  24.731460       Peso normal
1    132551   1.626    48.4  18.306456        Baixo peso
2    132555   1.753    66.1  21.509862       Peso normal
3    132570   1.702   102.6  35.418344  Obesidade grau 2
4    132618   1.524    69.1  29.751448         Sobrepeso

<h3>Percentage of BMI classification groups</h3>

In [134]:
percentage_bmi_test = bmi_data_test["Classificacao"].value_counts(normalize=True) * 100
percentage_bmi_test = round(percentage_bmi_test, 1)

In [135]:
subgroups = [("Female"), ("Male"),("Undefined gender") ,("ICUType 1"), ("ICUType 2"), ("ICUType 3"), ("ICUType 4"),
    ("Age 65+"), ("Age 65-"), ("Baixo Peso"), ("Peso normal"), ("Sobrepeso"),
    ("Obesidade grau 1"), ("Obesidade grau 2"), ("Obesidade grau 3")
]

df_subgroups = pd.DataFrame(subgroups, columns=["Subgroups"])

In [136]:
train_subgroups = [
    (distribution_gender_training[0]), (distribution_gender_training[1]),(distribution_gender_training[-1]) ,(distribution_ICUType_training[1]), (distribution_ICUType_training[2]),
    (distribution_ICUType_training[3]), (distribution_ICUType_training[4]), (percentage_group_one_train), (percentage_group_two_train),
    (percentage_bmi_train["Baixo peso"]), (percentage_bmi_train["Peso normal"]), (percentage_bmi_train["Sobrepeso"]), (percentage_bmi_train["Obesidade grau 1"]),
    (percentage_bmi_train["Obesidade grau 2"]), (percentage_bmi_train["Obesidade grau 3"])
]

df_train_subgroups = pd.DataFrame(train_subgroups, columns=["train"])

In [137]:
validation_subgroups = [
    (distribution_gender_validation[0]), (distribution_gender_validation[1]),(distribution_gender_validation[-1]) ,(distribution_ICUType_validation[1]), (distribution_ICUType_validation[2]),
    (distribution_ICUType_validation[3]), (distribution_ICUType_validation[4]), (percentage_group_one_validation), (percentage_group_two_validation),
    (percentage_bmi_validation["Baixo peso"]), (percentage_bmi_validation["Peso normal"]), (percentage_bmi_validation["Sobrepeso"]), (percentage_bmi_validation["Obesidade grau 1"]),
    (percentage_bmi_validation["Obesidade grau 2"]), (percentage_bmi_validation["Obesidade grau 3"])
]

df_validation_subgroups = pd.DataFrame(validation_subgroups, columns=["train"])

In [138]:
test_subgroups = [
    (distribution_gender_test[0]), (distribution_gender_test[1]),(distribution_gender_test[-1]) ,(distribution_ICUType_test[1]), (distribution_ICUType_test[2]),
    (distribution_ICUType_test[3]), (distribution_ICUType_test[4]), (percentage_group_one_test), (percentage_group_two_test),
    (percentage_bmi_test["Baixo peso"]), (percentage_bmi_test["Peso normal"]), (percentage_bmi_test["Sobrepeso"]), (percentage_bmi_test["Obesidade grau 1"]),
    (percentage_bmi_test["Obesidade grau 2"]), (percentage_bmi_test["Obesidade grau 3"])
]

df_test_subgroups = pd.DataFrame(test_subgroups, columns=["train"])

<h2>Table 3</h2>

In [139]:
table_descriptive_statistics = pd.DataFrame(columns=['Subgroups', 'Train', 'Validation', 'Test'])
table_descriptive_statistics["Subgroups"] = df_subgroups
table_descriptive_statistics["Train"] = df_train_subgroups
table_descriptive_statistics["Validation"] = df_validation_subgroups
table_descriptive_statistics["Test"] = df_test_subgroups

display(HTML("<h2 style=' font-size: 24px; font-weight: bold;'>Descriptive statistics stratified by demographics</h2>"))
table_descriptive_statistics

           Subgroups  Train  Validation  Test
0             Female   44.0        44.1  43.2
1               Male   55.9        55.8  56.7
2   Undefined gender    0.1         0.1   0.1
3          ICUType 1   14.5        14.6  15.5
4          ICUType 2   21.0        21.1  21.5
5          ICUType 3   35.8        36.1  35.3
6          ICUType 4   28.7        28.2  27.8
7            Age 65+   54.8        53.8  54.9
8            Age 65-   45.2        46.2  45.1
9         Baixo Peso    2.9         1.8   3.9
10       Peso normal   30.1        24.2  28.3
11         Sobrepeso   34.2        32.9  33.6
12  Obesidade grau 1   18.5        20.2  19.5
13  Obesidade grau 2    7.7        11.1   7.1
14  Obesidade grau 3    6.6         9.8   7.6