In [1]:
import os
import sys
import pandas as pd
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h2>Loading dataset</h2>

In [2]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-10-31 00:15:00 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-10-31 00:15:00 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-10-31 00:15:00 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-10-31 00:15:01 [INFO]: Loaded successfully!

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [3]:
train_X = physionet2012_dataset['train_X']

<h4>Divided into subgroups by gender and showing the percentage</h4>

In [4]:
distribution_gender_training = train_X['Gender'].value_counts(normalize=True) * 100
distribution_gender_training # 0: female, or 1: male

Gender
 1.0    55.599009
 0.0    44.309738
-1.0     0.091253
Name: proportion, dtype: float64

In [9]:
female_gender_distribution_training = train_X[train_X['Gender'] == 0.0].count()
female_gender_distribution_training

RecordID       3399
level_1        3399
Time           3399
ALP             151
ALT             158
AST             156
Age            3399
Albumin         134
BUN             419
Bilirubin       151
Cholesterol      19
Creatinine      419
DiasABP         601
FiO2            645
GCS            1254
Gender         3399
Glucose         381
HCO3            391
HCT             458
HR             1779
Height         3399
ICUType        3399
K               389
Lactate         399
MAP             580
MechVent        615
Mg              299
NIDiasABP      1344
NIMAP          1332
NISysABP       1347
Na              384
PaCO2           678
PaO2            663
Platelets       462
RespRate        550
SaO2            106
SysABP          601
Temp           1337
TroponinI        13
TroponinT        70
Urine          1141
WBC             426
Weight         3399
pH              683
dtype: int64

In [10]:
male_gender_distribution_training = train_X[train_X['Gender'] == 1.0].count()
male_gender_distribution_training

RecordID       4265
level_1        4265
Time           4265
ALP             204
ALT             208
AST             210
Age            4265
Albumin         178
BUN             511
Bilirubin       205
Cholesterol      22
Creatinine      511
DiasABP         824
FiO2            773
GCS            1449
Gender         4265
Glucose         434
HCO3            452
HCT             576
HR             2072
Height         4265
ICUType        4265
K               447
Lactate         489
MAP             792
MechVent        733
Mg              344
NIDiasABP      1519
NIMAP          1508
NISysABP       1520
Na              446
PaCO2          1076
PaO2           1062
Platelets       599
RespRate        575
SaO2            152
SysABP          825
Temp           1565
TroponinI        14
TroponinT       120
Urine          1263
WBC             538
Weight         4265
pH             1088
dtype: int64

In [ ]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [49]:
pd.set_option('display.max_columns', None)
df = pd.DataFrame(
     columns= df_columns
)
df_transpose = df.T
df_transpose.reset_index(inplace=True)
df_transpose.columns = ['index']
df_transpose

          index
0      RecordID
1       level_1
2          Time
3           ALP
4           ALT
5           AST
6           Age
7       Albumin
8           BUN
9     Bilirubin
10  Cholesterol
11   Creatinine
12      DiasABP
13         FiO2
14          GCS
15       Gender
16      Glucose
17         HCO3
18          HCT
19           HR
20       Height
21      ICUType
22            K
23      Lactate
24          MAP
25     MechVent
26           Mg
27    NIDiasABP
28        NIMAP
29     NISysABP
30           Na
31        PaCO2
32         PaO2
33    Platelets
34     RespRate
35         SaO2
36       SysABP
37         Temp
38    TroponinI
39    TroponinT
40        Urine
41          WBC
42       Weight
43           pH